.radio-style-button {
    &.col-3 {
        ion-item {
            flex-basis: calc(33.333% - 10px);
        }
    }
    &.col-6 {
        &.no-margin {
            ion-radio-group {
                margin: 0;
            }
            ion-item {
                flex-basis: 16.666%;
                border-radius: 0;
                margin: 0;
                &:first-child {
                    border-radius: 4px 0 0 4px;
                }
                &:last-child {
                    border-radius: 0 4px 4px 0;
                }
            }
        }
    }
}

ion-list.property-location {
    ion-item {
        ion-label {
            position: relative;
            h3, p {
                width: calc(100% - 45px);
            }
            .edit-button {
                position: absolute;
                top: 0;
                right: 0;
                ion-button {
                    font-weight: 600;
                    margin: 0;
                    height: 26px;
                }
            }
        }
    }
}
.button-wrapper {
    max-width: 250px;
    margin: 20px auto;
    ion-button {
        font-weight: 700;
        &.back {
            color: var(--ion-color-blue);
        }
    }
}
.outer-input {
    position: relative;
    overflow: hidden;
    ion-input {
        border-radius: 3px;
        --padding-top: 12px !important;
        --padding-bottom: 12px !important;
        --padding-start: 15px !important;
        --padding-end: 15px;
        border: 1px solid var(--ion-color-border-grey);
        font-size: 14px;
    }
    &.floor-size {
        ion-input {
            --padding-end: 100px;
        }
    }
    .radio-style-button {
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
        height: 100%;
        ion-radio-group {
            margin: 0;
        }
        ion-item {
            flex-basis: 50%;
            border-radius: 0;
            margin: 0;
            --min-height: 44px;
            &:last-child {
                border-radius: 0 4px 4px 0;
            }
        }
    }
}
