<ion-header no-border>
  <ion-toolbar>
    <ion-title>Add Listing</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section section-steps ion-padding">
    <div *ngIf="!getForm().update" class="outer-steps">
      <div routerLink="/add-listing-step-address" class="step completed">
        <div class="icon">
          <ion-icon name="md-checkmark"></ion-icon>
          <div class="step-number">1</div>
        </div>
        <div class="text">
          <span>Address</span>
        </div>
      </div>
      <div class="step active">
        <div class="icon">
          <ion-icon name="md-checkmark"></ion-icon>
          <div class="step-number">2</div>
        </div>
        <div class="text">
          <span>Basic Info</span>
        </div>
      </div>
      <div class="step">
        <div class="icon">
          <ion-icon name="md-checkmark"></ion-icon>
          <div class="step-number">3</div>
        </div>
        <div class="text">
          <span>Details</span>
        </div>
      </div>
      <div class="step">
        <div class="icon">
          <ion-icon name="md-checkmark"></ion-icon>
          <div class="step-number">4</div>
        </div>
        <div class="text">
          <span>Photos</span>
        </div>
      </div>
    </div>
    <div *ngIf="getForm().update" class="outer-steps">
        
        <div class="step">
          <div class="icon">
            <ion-icon name="md-checkmark"></ion-icon>
            <div class="step-number">1</div>
          </div>
          <div class="text">
            <span>Details</span>
          </div>
        </div>
        <div class="step">
          <div class="icon">
            <ion-icon name="md-checkmark"></ion-icon>
            <div class="step-number">2</div>
          </div>
          <div class="text">
            <span>Photos</span>
          </div>
        </div>
      </div>
  </div>
  <div class="section-content-step">
    <div class="title-content-step ion-padding">
      <h2>Basic Info</h2>
    </div>
    <div class="ion-padding">
      <h3 class="with-sign">Listing Type</h3>
      <ion-list class="property-location">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="{{getStep1SelectedLocation().photo_url}}">
          </ion-thumbnail>
          <ion-label>
            <h3>{{getStep1SelectedLocation().name}}</h3>
            <p class="location">{{getShortFormMap()[getStep1SelectedLocation().type]}} . District {{getStep1SelectedLocation().district}}</p>
            <div class="place">
              <ion-icon name="md-pin"></ion-icon>
              <span>{{getStep1SelectedLocation().address}}</span>
            </div>
            <div class="edit-button">
              <ion-button routerLink="/add-listing-step-address" expand="block">Edit</ion-button>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
      <div class="radio-style-button col-3">
        <ion-radio-group [(ngModel)]="getForm().listing_type" name="listing_type">
          <ion-item lines="none">
            <ion-label>Sale</ion-label>
            <ion-radio name="mode" mode="ios" value="Sale" checked></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Rent</ion-label>
            <ion-radio name="mode" mode="ios" value="Rent"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Room Rent</ion-label>
            <ion-radio name="mode" mode="ios" value="Room Rent"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
    </div>
    <div class="title-content-step ion-padding">
      <h2>Configurations</h2>
    </div>

    <div *ngIf="getForm().property_segment == 'residential'" class="ion-padding">
      <h3 class="with-sign">Room Type</h3>
      <div class="radio-style-button col-6 no-margin">
        <ion-radio-group [(ngModel)]="getForm().hdb_type" name="hdb_type">
          
          <ion-item lines="none">
            <ion-label>1 Room</ion-label>
            <ion-radio name="mode" mode="ios" value="1" checked></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>2 Room</ion-label>
            <ion-radio name="mode" mode="ios" value="2"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>3 Room</ion-label>
            <ion-radio name="mode" mode="ios" value="3"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>4 Room</ion-label>
            <ion-radio name="mode" mode="ios" value="4"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>5 Room</ion-label>
            <ion-radio name="mode" mode="ios" value="5"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
      <h3 class="with-sign">Floor</h3>
      <div class="radio-style-button col-6 no-margin">
          <ion-radio-group [(ngModel)]="getForm().floor" name="floor">
            <ion-item lines="none">
              <ion-label>0 - 10</ion-label>
              <ion-radio name="mode" mode="ios" value="0 - 10" checked></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>11 - 20</ion-label>
              <ion-radio name="mode" mode="ios" value="11 - 20"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>21 - 30</ion-label>
              <ion-radio name="mode" mode="ios" value="21 - 30"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>31 - 40</ion-label>
              <ion-radio name="mode" mode="ios" value="31 - 40"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
    </div>
    <div class="ion-padding">
      <div *ngIf="getForm().property_segment == 'residential'">
      <h3 class="with-sign">Bedrooms</h3>
      <div class="radio-style-button col-6 no-margin">
        <ion-radio-group [(ngModel)]="getForm().bedrooms" name="bedrooms">
          <ion-item lines="none">
            <ion-label>1</ion-label>
            <ion-radio name="mode" mode="ios" value="1" checked></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>2</ion-label>
            <ion-radio name="mode" mode="ios" value="2"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>3</ion-label>
            <ion-radio name="mode" mode="ios" value="3"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>4</ion-label>
            <ion-radio name="mode" mode="ios" value="4"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>5</ion-label>
            <ion-radio name="mode" mode="ios" value="5"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
    </div>
      <h3 class="with-sign">Floor Size</h3>
      <div class="outer-input floor-size">
          <ion-input name="floor_size" [(ngModel)]="getForm().floor_size" placeholder="Enter size sqft/sqm"></ion-input>
          <div class="radio-style-button">
            <ion-radio-group [(ngModel)]="getForm().floor_size_type" name="floor_size_type">
              <ion-item lines="none">
                <ion-label>SQFT</ion-label>
                <ion-radio name="mode" mode="ios" value="sqft" checked></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-label>SQM</ion-label>
                <ion-radio name="mode" mode="ios" value="sqm"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
        </div>
      <h3 class="with-sign">Price</h3>
      <div class="outer-input">
        <ion-input name="price" [(ngModel)]="getForm().price" placeholder="Enter Price"></ion-input>
      </div>
      <h3 class="">Age of Property</h3>
      <div class="outer-input">
        <ion-input name="age_of_property" [(ngModel)]="getForm().age_of_property" placeholder="Enter Age of Property"></ion-input>
      </div>
      <h3 class="">Last Renovation Done</h3>
      <div class="outer-input">
        <ion-input name="last_renovation_done" [(ngModel)]="getForm().last_renovation_done" placeholder="Enter Last Renovation Done"></ion-input>
      </div>
      <h3 class="">Ceiling Height</h3>
      <div class="outer-input">
        <ion-input name="ceiling_height" [(ngModel)]="getForm().ceiling_height" placeholder="Enter Ceiling Hight"></ion-input>
      </div>
      <h3 class="with-sign">Agents to market</h3>
      <div class="radio-style-button">
        <ion-radio-group [(ngModel)]="getForm().agents_to_market" name="agents_to_market">
          <ion-item lines="none">
            <ion-label>Yes</ion-label>
            <ion-radio name="mode" mode="ios" value="yes" checked></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>No</ion-label>
            <ion-radio name="mode" mode="ios" value="no"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
      <h3 class="with-sign">Commisions</h3>
      <p>
        I agree that agency commissions at market rate is applicable if agents find me a buyer / tenant.
      </p>
      <p>
        It is market practice for sellers of a private property to pay the agent commissions for the transaction closed,
        regardless of whether there is a seller's agent involved. Read more about commissions here.
      </p>
    </div>
    <div class="ion-padding">
      <div class="button-wrapper">
        <ion-button (click)="continue()" expand="block">Continue</ion-button>
        <ion-button routerLink="/add-listing-step-address" class="back" expand="block" fill="clear">Previous Step</ion-button>
      </div>
    </div>
  </div>
</ion-content>