.radio-style-button.col-3 ion-item {
  flex-basis: calc(33.333% - 10px);
}

.radio-style-button.col-6.no-margin ion-radio-group {
  margin: 0;
}

.radio-style-button.col-6.no-margin ion-item {
  flex-basis: 16.666%;
  border-radius: 0;
  margin: 0;
}

.radio-style-button.col-6.no-margin ion-item:first-child {
  border-radius: 4px 0 0 4px;
}

.radio-style-button.col-6.no-margin ion-item:last-child {
  border-radius: 0 4px 4px 0;
}

ion-list.property-location ion-item ion-label {
  position: relative;
}

ion-list.property-location ion-item ion-label h3, ion-list.property-location ion-item ion-label p {
  width: calc(100% - 45px);
}

ion-list.property-location ion-item ion-label .edit-button {
  position: absolute;
  top: 0;
  right: 0;
}

ion-list.property-location ion-item ion-label .edit-button ion-button {
  font-weight: 600;
  margin: 0;
  height: 26px;
}

.button-wrapper {
  max-width: 250px;
  margin: 20px auto;
}

.button-wrapper ion-button {
  font-weight: 700;
}

.button-wrapper ion-button.back {
  color: var(--ion-color-blue);
}

.outer-input {
  position: relative;
  overflow: hidden;
}

.outer-input ion-input {
  border-radius: 3px;
  --padding-top: 12px !important;
  --padding-bottom: 12px !important;
  --padding-start: 15px !important;
  --padding-end: 15px;
  border: 1px solid var(--ion-color-border-grey);
  font-size: 14px;
}

.outer-input.floor-size ion-input {
  --padding-end: 100px;
}

.outer-input .radio-style-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 100%;
}

.outer-input .radio-style-button ion-radio-group {
  margin: 0;
}

.outer-input .radio-style-button ion-item {
  flex-basis: 50%;
  border-radius: 0;
  margin: 0;
  --min-height: 44px;
}

.outer-input .radio-style-button ion-item:last-child {
  border-radius: 0 4px 4px 0;
}
