ion-content {
  --background: var(--ion-color-primary-contrast);
}

.section-tabs ion-segment {
  border-radius: 20px;
  background-color: var(--ion-color-border);
}

.section-tabs ion-segment ion-segment-button {
  height: 40px;
  border-radius: 20px;
  border: 0 transparent;
  color: var(--ion-color-medium-shade);
  font-size: 14px;
  width: 33.333%;
}

.section-tabs ion-segment ion-segment-button.segment-button-checked {
  color: var(--ion-color-primary-contrast);
}

.content-tab {
  margin-top: 20px;
}

.content-tab .content-notif .item-notif.new-notif ion-avatar {
  background-color: rgba(219, 165, 20, 0.19);
}

.content-tab .content-notif .item-notif.new-notif ion-avatar ion-icon {
  color: var(--ion-color-primary);
}

.content-tab .content-notif .item-notif.new-notif ion-avatar ion-icon[name="mail-open"] {
  display: none;
}

.content-tab .content-notif .item-notif.new-notif ion-avatar ion-icon[name="mail"] {
  display: block;
}

.content-tab .content-notif .item-notif.new-notif ion-label .title h3 {
  font-weight: 700;
}

.content-tab .content-notif .item-notif ion-avatar {
  background-color: var(--ion-color-border-grey);
  position: relative;
}

.content-tab .content-notif .item-notif ion-avatar ion-icon {
  color: var(--ion-color-grey-dark);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content-tab .content-notif .item-notif ion-avatar ion-icon[name="mail"] {
  display: none;
}

.content-tab .content-notif .item-notif ion-label {
  padding: 15px 0;
  margin: 0;
  border-bottom: 1px solid var(--ion-color-border-grey);
}

.content-tab .content-notif .item-notif ion-label .title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.content-tab .content-notif .item-notif ion-label .title h3 {
  font-weight: 400;
  margin-bottom: 0;
}

.content-tab .content-notif .item-notif ion-label .title .date {
  font-size: 10px;
  color: var(--ion-color-medium);
}
