ion-content {
    --background: var(--ion-color-primary-contrast);
}
.section-tabs {
    ion-segment {
        border-radius: 20px;
        background-color: var(--ion-color-border);
        ion-segment-button {
            height: 40px;
            border-radius: 20px;
            border: 0 transparent;
            color: var(--ion-color-medium-shade);
            font-size: 14px;
            width: 33.333%;
            &.segment-button-checked {
                color: var(--ion-color-primary-contrast);
            }
        }
    }
}
.unread{
    color:goldenrod !important;
    font-weight:bold !important;
}
.content-tab {
    margin-top: 20px;
    .content-notif {
        .item-notif {
            &.new-notif {
                ion-avatar {
                    background-color: rgba(219, 165, 20, 0.19);
                    ion-icon {
                        color: var(--ion-color-primary);
                        &[name="mail-open"] {
                            display: none;
                        }
                        &[name="mail"] {
                            display: block;
                        }
                    }
                }
                ion-label {
                    .title {
                        p{
                            color:#000 !important;
                        }
                        h3 {
                            font-weight: 700;
                        }
                    }
                }
            }
            ion-avatar {
                background-color: var(--ion-color-border-grey);
                position: relative;
                ion-icon {
                    color: var(--ion-color-grey-dark);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    &[name="mail"] {
                        display: none;
                    }
                }
            }
            ion-label {
                padding: 15px 0;
                margin: 0;
                border-bottom: 1px solid var(--ion-color-border-grey);
                .title {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 5px;
                    h3 {
                        font-weight: 800;
                        margin-bottom: 0;
                    }
                    .date {
                        font-size: 10px;
                        color: var(--ion-color-medium);
                    }
                }
                p{
                    color:#000 !important;
                }
            }
        }
    }
}
