<ion-header no-border>
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
    <!-- <ion-avatar slot="primary" class="header-avatar">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar> -->
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="section-tabs">
    <div class="menu-tab">
      <ion-segment>
        <ion-segment-button (click)="toggleNotif('all')" value="all" [checked]="notifState == 'all'">
          <ion-label>All</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="toggleNotif('read')" value="read" [checked]="notifState == 'read'">
          <ion-label>Read</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="toggleNotif('unread')" value="unread" [checked]="notifState == 'unread'">
          <ion-label>Unread</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
  <p *ngIf="!loaded">Please wait...</p>
  <div *ngIf="loaded" class="content-tab">
    <div id="all" [hidden]="notifState !== 'all'" class="content-notif notif-all">
      <ion-list>
        <ion-item (click)="open(item)" *ngFor="let item of getNotification()" [ngClass]="{'unread': item.is_read == 0}" class="item-notif">
          <ion-avatar slot="start">
            <ion-icon *ngIf="item.is_read == 0" name="mail"></ion-icon>
            <ion-icon *ngIf="item.is_read == 1" name="mail-open"></ion-icon>
          </ion-avatar>
          <ion-label text-wrap>
            <div class="title">
              <h3 [ngClass]="{'unread': item.is_read == 0}">{{item.title}}</h3>
              <span [ngClass]="{'unread': item.is_read == 0}" class="date">{{item.created_date}}</span>
            </div>
            <p [ngClass]="{'unread': item.is_read == 0}">{{item.message}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div >
    <div id="read" [hidden]="notifState !== 'read'" class="content-notif notif-read">
      <ion-list>
          <ng-template ngFor let-item [ngForOf]="getNotification()" let-i="index" [ngForTrackBy]="trackByFn">
              <ion-item (click)="open(item)" *ngIf="item.is_read == 1" class="item-notif">
                  <ion-avatar slot="start">
                    <ion-icon *ngIf="item.is_read == 0" name="mail"></ion-icon>
                    <ion-icon *ngIf="item.is_read == 1" name="mail-open"></ion-icon>
                  </ion-avatar>
                  <ion-label text-wrap>
                    <div class="title">
                      <h3>{{item.title}}</h3>
                      <span class="date">{{item.created_date}}</span>
                    </div>
                    <p>{{item.message}}</p>
                  </ion-label>
                </ion-item>
          </ng-template>
      
      </ion-list>
    </div>
    <div id="unread" [hidden]="notifState !== 'unread'" class="content-notif notif-unread">
      <ion-list>
          <ng-template ngFor let-item [ngForOf]="getNotification()" let-i="index" [ngForTrackBy]="trackByFn">
              <ion-item class="item" (click)="open(item)" *ngIf="item.is_read == 0" class="item-notif"  [ngClass]="{'unread': item.is_read == 0}">
                  <ion-avatar slot="start">
                    <ion-icon *ngIf="item.is_read == 0" name="mail"></ion-icon>
                    <ion-icon *ngIf="item.is_read == 1" name="mail-open"></ion-icon>
                  </ion-avatar>
                  <ion-label text-wrap>
                    <div class="title">
                      <h3 [ngClass]="{'unread': item.is_read == 0}">{{item.title}}</h3>
                      <span [ngClass]="{'unread': item.is_read == 0}" class="date">{{item.created_date}}</span>
                    </div>
                    <p [ngClass]="{'unread': item.is_read == 0}">{{item.message}}</p>
                  </ion-label>
                </ion-item>
          </ng-template>
      </ion-list>
    </div>
  </div>
</ion-content>