<ion-header no-border>
  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loaded" class="section-profile">
    <div class="section-content-profile">
      <div class="upload-picture ion-padding">
        <ion-item>
          <ion-avatar slot="start">
            <img *ngIf="cameraUpdate" style="max-height:150px;" [src]="_DomSanitizationService.bypassSecurityTrustUrl(imageUrl)" />
            <img *ngIf="!cameraUpdate" style="max-height:150px;" src="{{imageUrl}}" />
            <div (click)="takePhotoOptionPopup()" class="change">
              Change
            </div>
          </ion-avatar>
          <ion-label>
            <h2>{{form.firstname}} {{form.lastname}}</h2>
            <p><span class="color-blue">{{form.title}}</span></p>
          </ion-label>
        </ion-item>
      </div>
      <div class="title ion-padding">
        <h2>Basic Info</h2>
      </div>
      <form class="account-form" (ngSubmit)="updateProfile()">

      <div class="form ion-padding">
        <ion-item>
          <ion-label position="stacked">Email Address<br/>
            {{form.email}} <a routerLink="/change-email">Change</a></ion-label>
          
        </ion-item>
        <ion-item>
          <ion-label position="stacked">What's your Title</ion-label>
          <ion-input name="title" [(ngModel)]="form.title" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">What's your Qualification</ion-label>
            <ion-input name="qualification" [(ngModel)]="form.qualification" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">What's your Firstname</ion-label>
          <ion-input name="first_name" [(ngModel)]="form.firstname" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">What's your Lastname</ion-label>
          <ion-input name="last_name" [(ngModel)]="form.lastname" type="text"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Mobile Number</ion-label>
          <ion-input name="mobile" [(ngModel)]="form.mobile" type="tel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Gender</ion-label>
          <ion-select name="gender" [(ngModel)]="form.gender" placeholder="Select One">
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="m">Male</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Marketing Video</ion-label>
            <ion-input name="marketing_video" [(ngModel)]="form.marketing_video" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Facebook</ion-label>
          <ion-input name="facebook" [(ngModel)]="form.facebook" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Instagram</ion-label>
          <ion-input name="instagram" [(ngModel)]="form.instagram" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Wechat</ion-label>
          <ion-input name="wechat" [(ngModel)]="form.wechat" type="text"></ion-input>
        </ion-item>
        <div class="button-wrapper">
          <ion-button type="submit" expand="block">Update Profile</ion-button>
        </div>
      </div>
      </form>
    </div>
  </div>
</ion-content>