ion-content {
  --background: var(--ion-color-primary-contrast);
}

.upload-picture ion-item {
  border-radius: 5px;
  border: 1px solid var(--ion-color-border-grey);
  padding: 10px;
}

.upload-picture ion-item ion-avatar {
  height: 55px;
  width: 55px;
  position: relative;
  overflow: hidden;
}

.upload-picture ion-item ion-avatar .change {
  background: rgba(0, 0, 0, 0.4);
  color: var(--ion-color-primary-contrast);
  font-size: 10px;
  font-weight: 700;
  padding: 1px 0px 3px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.upload-picture ion-item ion-label {
  margin: 0;
}

.upload-picture ion-item ion-label h2 {
  font-weight: 700;
  font-size: 16px;
}

ion-header ion-button {
  font-weight: 700;
  font-size: 13px;
  width: 65px;
  margin-right: 10px;
  height: 35px;
}

ion-radio-group {
  width: calc(100% + 10px);
}

.button-wrapper {
  max-width: 250px;
  margin: 20px auto;
}

.button-wrapper ion-button {
  font-weight: 700;
}
