ion-list.property-location ion-item ion-label {
  position: relative;
}

ion-list.property-location ion-item ion-label h3, ion-list.property-location ion-item ion-label p {
  width: calc(100% - 45px);
}

ion-list.property-location ion-item ion-label .edit-button {
  position: absolute;
  top: 0;
  right: 0;
}

ion-list.property-location ion-item ion-label .edit-button ion-button {
  font-weight: 600;
  margin: 0;
  height: 26px;
}

.button-wrapper {
  max-width: 250px;
  margin: 20px auto;
}



.button-wrapper ion-button {
  font-weight: 700;
}
