ion-list.property-location {
    ion-item {
        ion-label {
            position: relative;
            h3, p {
                width: calc(100% - 45px);
            }
            .edit-button {
                position: absolute;
                top: 0;
                right: 0;
                ion-button {
                    font-weight: 600;
                    margin: 0;
                    height: 26px;
                }
            }
        }
    }
}
.button-wrapper {
    max-width: 250px;
    margin: 20px auto;
    ion-button {
        font-weight: 700;
    }
}
.search-keyword{
    border: 1px solid #ccc;
    border-radius: 5px;
    .native-input.sc-ion-input-ios{
        --padding-start: 5px;
        padding-left:5px !important;
    }
}