<ion-header no-border>
  <ion-toolbar>
    <ion-title>Add Listing</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section section-steps ion-padding">
    <div class="outer-steps">
      <div routerLink="/add-listing-step-address" class="step active">
        <div class="icon">
          <ion-icon name="md-checkmark"></ion-icon>
          <div class="step-number">1</div>
        </div>
        <div class="text">
          <span>Address</span>
        </div>
      </div>
      <div class="step">
        <div class="icon">
          <ion-icon name="md-checkmark"></ion-icon>
          <div class="step-number">2</div>
        </div>
        <div class="text">
          <span>Basic Info</span>
        </div>
      </div>
      <div class="step">
        <div class="icon">
          <ion-icon name="md-checkmark"></ion-icon>
          <div class="step-number">3</div>
        </div>
        <div class="text">
          <span>Details</span>
        </div>
      </div>
      <div class="step">
        <div class="icon">
          <ion-icon name="md-checkmark"></ion-icon>
          <div class="step-number">4</div>
        </div>
        <div class="text">
          <span>Photos</span>
        </div>
      </div>
    </div>
  </div>
  <div class="section-content-step">
    <div class="title-content-step ion-padding">
      <h2>Address</h2>
    </div>
    <div class="ion-padding">
      <h3>Filter Option</h3>
      <p>We will be more than happy to assist you. Please contact our support team if you have any issues during your listing creation.</p>
      <h3>Property Segment</h3>
      <div class="radio-style-button">
        <ion-radio-group (ionChange)="change($event)" [(ngModel)]="getForm().property_segment" name="property_segment">
          <ion-item lines="none">
            <ion-label>Residential</ion-label>
            <ion-radio name="mode" mode="ios" value="residential"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Commercial</ion-label>
            <ion-radio name="mode" mode="ios" value="commercial"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Industrial</ion-label>
            <ion-radio name="mode" mode="ios" value="industrial"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Landed</ion-label>
            <ion-radio name="mode" mode="ios" value="landed"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
      <div *ngIf="getForm().property_segment == 'commercial' || getForm().property_segment == 'industrial' || getForm().property_segment == 'land'" class="main-categories">
          <h3>Main Categories</h3>
          <ion-radio-group (ionChange)="changeMainCategory($event)" [(ngModel)]="getForm().main_category" name="main_category">
              <ion-item [hidden]="getForm().property_segment !== 'commercial'" lines="none">
                <ion-label>Retail</ion-label>
                <ion-radio name="mode" mode="ios" value="retail"></ion-radio>
              </ion-item>
              <ion-item [hidden]="getForm().property_segment !== 'commercial'" lines="none">
                <ion-label>Office</ion-label>
                <ion-radio name="mode" mode="ios" value="office"></ion-radio>
              </ion-item>
              <ion-item [hidden]="getForm().property_segment !== 'commercial'" lines="none">
                <ion-label>Shophouse</ion-label>
                <ion-radio name="mode" mode="ios" value="shophouse"></ion-radio>
              </ion-item>

              <ion-item [hidden]="getForm().property_segment !== 'industrial'" lines="none">
                <ion-label>General Industrial</ion-label>
                <ion-radio name="mode" mode="ios" value="general_industrial"></ion-radio>
              </ion-item>
              <ion-item [hidden]="getForm().property_segment !== 'industrial'" lines="none">
                  <ion-label>Warehouse</ion-label>
                  <ion-radio name="mode" mode="ios" value="warehouse"></ion-radio>
              </ion-item>
              <ion-item [hidden]="getForm().property_segment !== 'industrial'" lines="none">
                  <ion-label>Showroom</ion-label>
                  <ion-radio name="mode" mode="ios" value="showroom"></ion-radio>
              </ion-item>
              <ion-item [hidden]="getForm().property_segment !== 'industrial'" lines="none">
                  <ion-label>Dormitory</ion-label>
                  <ion-radio name="mode" mode="ios" value="dormitory"></ion-radio>
              </ion-item>
              <ion-item [hidden]="getForm().property_segment !== 'industrial'" lines="none">
                  <ion-label>e-Business/Media</ion-label>
                  <ion-radio name="mode" mode="ios" value="ebiz"></ion-radio>
              </ion-item>
              <ion-item [hidden]="getForm().property_segment !== 'industrial'" lines="none">
                  <ion-label>F&B/Canteen</ion-label>
                  <ion-radio name="mode" mode="ios" value="fnb"></ion-radio>
              </ion-item>
              <ion-item [hidden]="getForm().property_segment !== 'industrial'" lines="none">
                  <ion-label>Industrial Office</ion-label>
                  <ion-radio name="mode" mode="ios" value="industrial_office"></ion-radio>
              </ion-item>
              <ion-item [hidden]="getForm().property_segment !== 'industrial'" lines="none">
                  <ion-label>Shop</ion-label>
                  <ion-radio name="mode" mode="ios" value="shop"></ion-radio>
              </ion-item>
              <ion-item [hidden]="getForm().property_segment !== 'industrial'" lines="none">
                  <ion-label>Factory</ion-label>
                  <ion-radio name="mode" mode="ios" value="factory"></ion-radio>
              </ion-item>

              <ion-item [hidden]="getForm().property_segment !== 'land'" lines="none">
                  <ion-label>Land</ion-label>
                  <ion-radio name="mode" mode="ios" value="general_land"></ion-radio>
              </ion-item>
              <ion-item [hidden]="getForm().property_segment !== 'land'" lines="none">
                <ion-label>Land with Building</ion-label>
                <ion-radio name="mode" mode="ios" value="land_w_building"></ion-radio>
              </ion-item>
            </ion-radio-group>
      </div>
      <div *ngIf="getForm().property_segment == 'industrial' && getForm().main_category != ''" class="land-use">
          <h3>Sub Categories</h3>
          <ion-radio-group (ionChange)="changeLandUse($event)" [(ngModel)]="getForm().land_use" name="land_use">
              <ion-item lines="none">
                <ion-label>B1 light industrial</ion-label>
                <ion-radio name="mode" mode="ios" value="b1"></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-label>B2 all industrial</ion-label>
                <ion-radio name="mode" mode="ios" value="b2"></ion-radio>
              </ion-item>
          </ion-radio-group>
      </div>
      <h3>Select Location</h3>
      <ion-input [disabled]="disabled" type="text" (keyup)="searchLocation($ev)" class="search-keyword" placeholder="Enter your keyword" name="input-location" [(ngModel)]="search"></ion-input>
      <ion-list *ngIf="locationList.length > 0" class="property-location">
        <ion-item (click)="selectLocation(item)" *ngFor="let item of locationList">
          <ion-thumbnail slot="start">
            <img src="{{item.photo_url}}">
          </ion-thumbnail>
          <ion-label>
            <h3>{{item.name}}</h3>
            <p class="location">{{getShortFormMap()[item.type]}} . District {{item.district}}</p>
            <div class="place">
              <ion-icon name="md-pin"></ion-icon>
              <span>{{item.address}}</span>
            </div>
            <div class="edit-button">
              <ion-button expand="block">select</ion-button>
            </div>
          </ion-label>
        </ion-item>
        <!-- <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
          <ion-label>
            <h3>Park View Mansions</h3>
            <p class="location">Condo District 22</p>
            <div class="place">
              <ion-icon name="md-pin"></ion-icon>
              <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
            </div>
            <div class="edit-button">
              <ion-button expand="block">select</ion-button>
            </div>
          </ion-label>
        </ion-item> -->
      </ion-list>
      <br/><br/><br/><br/>
    </div>
  </div>
</ion-content>
