.hero-image {
    padding-bottom: 60.25%;
    position: relative;
    overflow: hidden;
    img.bg {
        position: absolute;
        left: 50%;
        top: 50%;
        width: auto;
        max-width: none;
        height: 100%;
        transform: translate(-50%, -50%);
    }
    img.ot-logo{
        position: absolute;
        bottom: 20px;
        width: 25%;
        right: 5px;
    }
    .ot-text{
        position: absolute;
        bottom: 0;
        right: 5px;
        font-size:12px;
    }
    .card-details {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 0 16px 40px;
        div {
            font-weight: 600;
            color: var(--ion-color-primary);
        }
        .items {
            display: flex;
            margin: 0 -10px;
            flex-wrap: wrap;
            .item {
                width: 50%;
                padding: 6px 10px;
                display: flex;
                align-items: center;
                font-size: 15px;
                .icon {
                    height: 20px;
                    width: 20px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-right: 5px;
                }
                &.item-phone {
                    .icon {
                        background-image: url(../../assets/images/icon/enamecard-phone.svg);
                    }
                }
                &.item-whatsapp {
                    .icon {
                        background-image: url(../../assets/images/icon/enamecard-whatsapp.svg);
                    }
                }
                &.item-instagram {
                    .icon {
                        background-image: url(../../assets/images/icon/enamecard-instagram.svg);
                    }
                }
                &.item-facebook {
                    .icon {
                        background-image: url(../../assets/images/icon/enamecard-facebook.svg);
                    }
                }
                &.item-wechat {
                    .icon {
                        background-image: url(../../assets/images/icon/enamecard-facebook.svg);
                    }
                }
                &.item-mail {
                    width: 100%;
                    .icon {
                        background-image: url(../../assets/images/icon/enamecard-mail.svg);
                    }
                }
            }
        }
    }
}

.section-avatar {
    ion-item {
        margin-top: -20px;
        --background: transparent;
    }

    ion-avatar {
        height: 85px;
        width: 85px;
    }

    ion-label {
        margin: 20px 0 0;

        h2 {
            font-size: 20px;
            font-weight: 700;
        }

        p {
            font-size: 13px;
        }
    }
}

.section-tabs-content {
    .menu-tab {
        padding-top: 0;
        padding-bottom: 0;

        ion-segment {
            ion-segment-button {
                color: var(--ion-color-light-text);
                --border-color: transparent;
                --background-activated: var(--ion-color-primary-contrast);
                --background-checked: var(--ion-color-primary-contrast);
                --color-checked: var(--ion-color-primary);
                border-bottom: 2px solid transparent;
                border-width: 0;
                min-height: 0;
                height: 50px;
                line-height: 50px;
                font-weight: 600;

                &.segment-button-checked {
                    color: var(--ion-color-primary);
                    border-bottom: 2px solid var(--ion-color-primary);
                    font-weight: 700;
                }

                &:first-child,
                &:last-child {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }

    .content-tab {
        margin-top: 5px;

        .content {
            >h3 {
                font-size: 18px;
                font-weight: 700;
                margin-top: 20px;
                margin-bottom: 15px;
                padding: 0 16px;
            }
            .outer-title {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h3 {
                    font-size: 18px;
                    font-weight: 700;
                    margin-top: 0;
                    margin-bottom: 0;
                }
                ion-button {
                    font-weight: 600;
                }
            }
            &.properties {
                ion-list {
                    margin-bottom: 0;

                    ion-item {
                        padding: 8px 16px;
                        border-bottom: 1px solid var(--ion-color-border);

                        &:last-child {
                            border-bottom: 0 transparent;
                        }

                        ion-thumbnail {
                            height: 120px;
                            width: 120px;
                            border-radius: 4px;
                            overflow: hidden;
                        }

                        ion-label {
                            text-overflow: inherit;
                            white-space: inherit;
                            margin: 0;
                            position: relative;

                            .love-icon {
                                position: absolute;
                                top: -2px;
                                right: 0;
                                margin: 0;
                                --padding-start: 0;
                                --padding-end: 0;
                                height: auto;
                                font-size: 17px;

                                ion-icon {
                                    color: var(--ion-color-medium);
                                }
                            }

                            .rating {
                                font-size: 11px;
                                margin-bottom: 2px;

                                ion-icon {
                                    color: var(--ion-color-primary);
                                    font-size: 14px;
                                    margin-right: 5px;
                                }

                                span {
                                    color: var(--ion-color-medium);
                                    margin-top: 1px;
                                }
                            }

                            h3 {
                                font-weight: 600;
                                font-size: 15px;
                                margin-bottom: 8px;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                overflow: hidden;
                            }

                            .place {
                                display: flex;

                                ion-icon {
                                    font-size: 13px;
                                    width: 17px;
                                    margin-left: -4px;
                                    color: var(--ion-color-primary);
                                }

                                span {
                                    font-size: 11px;
                                    color: var(--ion-color-medium);
                                    display: block;
                                }
                            }

                            .price-contact {
                                margin-top: 10px;
                                display: flex;
                                align-items: flex-end;
                                justify-content: space-between;

                                .price {
                                    span {
                                        color: var(--ion-color-medium);
                                        font-size: 10px;
                                        display: block;
                                    }

                                    .nominal {
                                        font-weight: 600;
                                        font-size: 15px;
                                    }
                                }

                                .contact {
                                    ion-button {
                                        font-weight: 700;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.customer {
                .filter {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    h4 {
                        font-size: 16px;
                        font-weight: 700;
                        margin: 0;
                    }

                    ion-select {
                        max-width: 100%;
                        font-size: 13px;
                        font-weight: 700;
                        background: var(--ion-color-border);
                        border-radius: 4px;
                    }
                }

                .list-customer-data {
                    .item {
                        border-bottom: 1px solid var(--ion-color-border);
                    }

                    .customer-name {
                        font-weight: 700;
                        margin-bottom: 10px;
                    }

                    .customer-contact {
                        display: flex;
                        align-items: center;
                        margin: 0 -10px;

                        >div {
                            display: flex;
                            align-items: center;
                            padding: 0 10px;

                            .icon {
                                background: var(--ion-color-primary);
                                height: 20px;
                                width: 20px;
                                border-radius: 50%;
                                margin-right: 5px;
                                text-align: center;
                                line-height: 25px;

                                ion-icon {
                                    color: var(--ion-color-primary-contrast);
                                }
                            }

                            span {
                                color: var(--ion-color-medium);
                            }
                        }
                    }
                }
            }

            &.tower-view {
                .section-green {
                    background: var(--ion-color-green);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    span {
                        font-weight: 700;
                        color: var(--ion-color-primary-contrast);
                    }
                }

                .section-search {
                    border-bottom: 2px solid var(--ion-color-border);

                    ion-input {
                        font-size: 13px;
                        font-weight: 600;
                    }

                    ion-button {
                        font-weight: 700;
                        margin: 0;
                        height: 35px;
                        min-width: 55px;
                    }
                }

                .section-block {
                    border-bottom: 2px solid var(--ion-color-border);

                    h2 {
                        margin: 0 0 15px;
                        font-weight: 700;
                        font-size: 15px;
                    }

                    ion-radio-group {
                        display: flex;
                        border: 0 transparent;
                        border-radius: 4px;
                        overflow: hidden;
                        background: var(--ion-color-border);
                        margin: 0;

                        ion-item {
                            position: relative;
                            --min-height: 38px;
                            flex-basis: 16.666%;
                            border-radius: 0;
                            margin: 0;
                            --background: var(--ion-color-border);

                            &.item-radio-checked {
                                --background: var(--ion-color-primary);

                                ion-label {
                                    color: var(--ion-color-primary-contrast);
                                }
                            }

                            ion-label {
                                color: var(--ion-color-text);
                                margin: 0;
                                display: block;
                                text-align: center;
                                width: 100%;
                                font-weight: 700;
                                font-size: 14px;
                            }

                            ion-radio {
                                opacity: 0;
                                margin: 0;
                                position: absolute;
                                left: 0;
                                top: 0;
                                height: 100%;
                                width: 100%;
                            }
                        }
                    }
                }
                .section-total-block {
                    text-align: center;
                    border-bottom: 2px solid var(--ion-color-border);
                    span {
                        font-weight: 600;
                        font-size: 16px; 
                    }
                }
                .section-stack {
                    .title {
                        background: var(--ion-color-light);
                        margin: 0 -16px;
                        padding: 15px 16px;
                        h2 {
                            margin: 0;
                            font-weight: 700;
                            font-size: 15px;
                        }
                    }
                    .outer-stack {
                        font-size: 12px;
                        font-weight: 600;
                        margin: 25px 0;
                        overflow-y: auto;
                        .bg-green {
                            background: var(--ion-color-green);
                        }
                        .bg-red {
                            background: var(--ion-color-maroon);
                        }
                        .level {
                            background: var(--ion-color-primary-contrast);
                        }
                        .content {
                            &.content-blank {
                                background: var(--ion-color-border);
                            }
                        }
                        .row {
                            display: flex;
                            align-items: stretch;
                            > div {
                                border: 1px solid var(--ion-color-primary-contrast);
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                width: 90px;
                                &:first-child {
                                    width: 22%;
                                }
                                &:last-child {
                                    .popover {
                                        left: 30% !important;
                                    }
                                }
                                &.level {
                                    text-align: center;
                                    padding: 10px 0;
                                }
                                &.content {
                                    padding: 5px;
                                    position: relative;
                                    > span {
                                        color: rgba(255,255,255,0.7);
                                    }
                                    &.bg-green {
                                        .popover {
                                            .date {
                                                background: var(--ion-color-green);
                                            }
                                            ion-item {
                                                &:last-child {
                                                    span {
                                                        color: var(--ion-color-green);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.bg-red {
                                        .popover {
                                            .date {
                                                background: var(--ion-color-maroon);
                                            }
                                            ion-item {
                                                &:last-child {
                                                    span {
                                                        color: var(--ion-color-maroon);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .popover {
                                        display: none;
                                        background: var(--ion-color-primary-contrast);
                                        border-radius: 3px;
                                        width: 170%;
                                        position: absolute;
                                        bottom: calc(100% + 10px);
                                        left: 50%;
                                        transform: translate(-50%, 0);
                                        box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.16);
                                        &.show {
                                            display: block
                                        }
                                        .date {
                                            color: var(--ion-color-primary-contrast);
                                            padding: 5px;
                                            text-align: center;
                                            font-weight: 600;
                                            font-size: 11px;
                                            border-radius: 3px 3px 0 0;
                                        }
                                        .details {
                                            padding: 5px;
                                            position: relative;
                                            &:after {
                                                content: '';
                                                position: absolute;
                                                top: 100%;
                                                left: 50%;
                                                transform: translate(-50%, 0);
                                                height: 0;
                                                width: 0;
                                                border-top: 8px solid var(--ion-color-primary-contrast);
                                                border-right: 8px solid transparent;
                                                border-bottom: 8px solid transparent;
                                                border-left: 8px solid transparent;
                                            }
                                            ion-item {
                                                margin: 0 -5px;
                                                --min-height: 0;
                                                span {
                                                    width: 50%;
                                                    font-size: 10px;
                                                    font-weight: 600;
                                                    padding: 5px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.video-marketing {
                .section-content-video {
                    ion-item {
                        border-bottom: 1px solid var(--ion-color-border-grey);
                        padding-bottom: 10px;
                        margin-bottom: 20px;

                        ion-label {
                            margin-inline-end: 0;

                            h2 {
                                font-size: 16px;
                                font-weight: 600;
                            }

                            p {
                                font-size: 11px;
                            }
                        }
                    }

                    .content-video {
                        h2 {
                            font-size: 18px;
                            margin-bottom: 15px;
                            font-weight: 600;
                        }

                        p {
                            color: var(--ion-color-medium-shade);
                            line-height: 1.5;

                            a {
                                font-weight: bold;
                            }
                        }

                        ion-card {
                            margin-top: 10px;
                            margin-bottom: 10px;
                            -webkit-margin-start: 0;
                            margin-inline-start: 0;
                            -webkit-margin-end: 0;
                            margin-inline-end: 0;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            border: 1px solid var(--ion-color-border-grey);

                            .outer-video {
                                position: relative;
                                padding-bottom: 56.25%;

                                iframe {
                                    position: absolute;
                                    height: 100%;
                                    width: 100%;
                                }
                            }

                            ion-card-title {
                                font-size: 18px;
                            }

                            ion-card-subtitle {
                                color: var(--ion-color-primary);
                                text-transform: lowercase;
                                margin-bottom: 10px;

                                a {
                                    font-weight: 400;
                                    font-size: 14px;
                                }
                            }

                            ion-card-content {
                                padding-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
