<ion-header no-border>
  <ion-toolbar>
    <ion-title>Tower View</ion-title>
    <ion-buttons slot="secondary">
      <ion-button
        (click)="goBack()"
        routerDirection="backward"
        text=""
        icon="ios-arrow-back"
        ><ion-icon name="ios-arrow-back"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section section-tabs-content">
    <div class="content-tab">
      <div id="tower-view" class="content tower-view">
        <div class="section section-green ion-padding">
          <span>4,06</span>
          <span>Capital Gain</span>
          <span>173,22</span>
        </div>
        <div class="section section-search ion-padding">
          <ion-item>
            <ion-input
              type="text"
              placeholder="Enter expected selling PSF"
            ></ion-input>
            <ion-button color="primary">Show</ion-button>
          </ion-item>
        </div>
        <div class="section section-block ion-padding">
          <h2>Block</h2>
          <ion-radio-group name="placement_charge">
            <ion-item lines="none">
              <ion-label>3</ion-label>
              <ion-radio name="mode" mode="ios" value="3" checked></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>1</ion-label>
              <ion-radio name="mode" mode="ios" value="1"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>7</ion-label>
              <ion-radio name="mode" mode="ios" value="7"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>5</ion-label>
              <ion-radio name="mode" mode="ios" value="5"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>8</ion-label>
              <ion-radio name="mode" mode="ios" value="8"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>12</ion-label>
              <ion-radio name="mode" mode="ios" value="12"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
        <div class="section section-total-block ion-padding">
          <span>Block : 3 ( 93 Unit )</span>
        </div>
        <div class="section section-stack">
          <!-- <div class="title">
            <h2>Stack</h2>
          </div> -->
          <div class="outer-stack">
            <div class="row">
              <div class="level level-main">Level</div>
              <div class="level level-top">
                <span>01</span><span>$640 PSF</span>
              </div>
              <div class="level level-top">
                <span>02</span><span>$590 PSF</span>
              </div>
              <div class="level level-top">
                <span>03</span><span>$590 PSF</span>
              </div>
            </div>
            <div class="row">
              <div class="level level-side">
                <span>18</span><span>$850 PSF</span>
              </div>
              <div class="content bg-green">
                <span>05-Jan-2010</span><span>13.04%</span>
              </div>
              <div class="content content-blank"></div>
              <div class="content content-blank"></div>
            </div>
            <div class="row">
              <div class="level level-side">
                <span>17</span><span>$850 PSF</span>
              </div>
              <div class="content bg-red">
                <span>26-Oct-2010</span><span>-13.04%</span>
              </div>
              <div class="content content-blank"></div>
              <div class="content content-blank"></div>
            </div>
            <div class="row">
              <div class="level level-side">
                <span>16</span><span>$850 PSF</span>
              </div>
              <div class="content bg-green">
                <span>05-Jan-2010</span><span>20.04%</span>
              </div>
              <div class="content bg-red">
                <span>05-Jan-2010</span><span>-1.04%</span>
                <div class="popover show">
                  <div class="date">26-Mar-2010</div>
                  <div class="details">
                    <ion-item>
                      <span>$1.200.000</span>
                      <span>#16-03</span>
                    </ion-item>
                    <ion-item>
                      <span>$920 psf</span>
                      <span>1.03.03 sqft</span>
                    </ion-item>
                    <ion-item>
                      <span>-13.04%</span>
                      <span>-7.54%</span>
                    </ion-item>
                  </div>
                </div>
              </div>
              <div class="content content-blank"></div>
            </div>
            <div class="row">
              <div class="level level-side">
                <span>15</span><span>$850 PSF</span>
              </div>
              <div class="content bg-red">
                <span>05-Jan-2010</span><span>-1.04%</span>
              </div>
              <div class="content bg-red">
                <span>05-Jan-2010</span><span>-1.04%</span>
              </div>
              <div class="content bg-green">
                <span>05-Jan-2010</span><span>20.04%</span>
              </div>
            </div>
            <div class="row">
              <div class="level level-side">
                <span>14</span><span>$850 PSF</span>
              </div>
              <div class="content bg-green">
                <span>05-Jan-2010</span><span>20.04%</span>
              </div>
              <div class="content bg-red">
                <span>05-Jan-2010</span><span>-1.04%</span>
              </div>
              <div class="content bg-green">
                <span>05-Jan-2010</span><span>20.04%</span>
                <div class="popover show">
                  <div class="date">26-Mar-2010</div>
                  <div class="details">
                    <ion-item>
                      <span>$1.200.000</span>
                      <span>#16-03</span>
                    </ion-item>
                    <ion-item>
                      <span>$920 psf</span>
                      <span>1.03.03 sqft</span>
                    </ion-item>
                    <ion-item>
                      <span>13.04%</span>
                      <span>7.54%</span>
                    </ion-item>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="level level-side">
                <span>13</span><span>$850 PSF</span>
              </div>
              <div class="content content-blank"></div>
              <div class="content content-blank"></div>
              <div class="content content-blank"></div>
            </div>
            <div class="row">
              <div class="level level-side">
                <span>12</span><span>$850 PSF</span>
              </div>
              <div class="content content-blank"></div>
              <div class="content content-blank"></div>
              <div class="content content-blank"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
