ion-item {
    padding: 10px 16px;
    border-bottom: 1px solid var(--ion-color-border);
    &:last-child {
        border-bottom: 0 transparent;
    }
    ion-avatar {
        background-color: var(--ion-color-main-transparent);
        display: flex;
        justify-content: center;
        align-items: center;
        ion-icon {
            color: var(--ion-color-primary);
            font-size: 20px;
        }
    }
    ion-label {
        h2 {
            font-size: 15px;
            font-weight: 600;
        }
    }
}