<ion-header no-border>
  <ion-toolbar>
    <ion-title>PCA Agent Tools</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="ios-calculator"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Buyer Stamp Duty Calculator</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="ios-calculator"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Seller Stamp Duty Calculator</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="ios-calculator"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Progresive Payment Calculator</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="ios-calculator"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Property Tax Calculator</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="ios-calculator"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>TDSR Calculator</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="ios-calculator"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Rental Yield Calculator</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="ios-calculator"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Net Rental Yield Calculator</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="ios-calculator"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Return On Capital Calculator</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="ios-calculator"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Return On Investment Calculator</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="ios-calculator"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Projected Selling Price Calculator</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="ios-calculator"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>E-Stamping Calculator</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>