.map-pin-property {
    background: var(--ion-color-primary-contrast);
    border-radius: 3px;
    width: 170px;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.16);
    .details {
        padding: 5px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 0);
            height: 0;
            width: 0;
            border-top: 8px solid var(--ion-color-primary-contrast);
            border-right: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 8px solid transparent;
        }
        ion-item {
            padding: 0;
            border-bottom: 1px solid var(--ion-color-border);
            border-radius:5px !important;

            &:last-child {
                border-bottom: 0 transparent;
            }

            ion-thumbnail {
                height: 45px;
                width: 45px;
                border-radius: 3px;
                overflow: hidden;
                margin-right: 5px;
                margin-left:10px !important;
            }

            ion-label {
                margin: 0;
                position: relative;

                .rating {
                    line-height: 0;
                    margin-bottom: 2px;

                    ion-icon {
                        color: var(--ion-color-primary);
                        font-size: 8px;
                        margin-right: 2px;
                    }

                    span {
                        color: var(--ion-color-medium);
                        margin-top: 0;
                        font-size: 8px;
                    }
                }

                h3 {
                    font-weight: 700;
                    font-size: 10px;
                    margin-bottom: 0;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .place {
                    line-height: 0;
                    display: flex;
                    align-items: center;
                    ion-icon {
                        font-size: 10px;
                        width: 25px;
                        color: var(--ion-color-primary);
                        vertical-align: middle;
                        margin-right: 2px;
                    }
                    span {
                        font-size: 8px;
                        color: var(--ion-color-medium);
                        vertical-align: middle;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        line-height: 1;
                        margin-top: 3px;
                    }
                }

                .price {
                    line-height: 0;
                    ion-button {
                        font-weight: 700;
                        font-size: 8px;
                        margin: 3px 0 0;
                        height: 15px;
                    }
                }
            }
        }
    }
}
