<ion-header no-border>
  <ion-toolbar>
    <ion-title>Map View</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
    
    <div id='mapdiv2' [style.height.px]="height" [style.width.px]="width"></div>
</ion-content>