<ion-header no-border>
    <ion-toolbar>
      <ion-title>Maps</ion-title>
      <ion-buttons slot="secondary">
        <ion-button routerLink="/tabs" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content>
    <div id='mapdiv' [style.height.px]="height" [style.width.px]="width"></div>
    <div *ngIf="!isLocationTurnedOn" align="center">Please turn on your gps and re-open the app again.</div>
</ion-content>