<ion-header no-border>
  <ion-toolbar>
    <ion-title>{{getSelectedPcaListing().title}}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <img src="{{getSelectedPcaListing().banner_path}}" />
  </div>
  <div padding>
    <h3>{{getSelectedPcaListing().title}}</h3>
    <p style="white-space: pre;">{{getSelectedPcaListing().description}}</p>
  </div>
  <form padding (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input placeholder="Enter your name" name="form.name" [(ngModel)]="form.name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input placeholder="Enter your email" name="form.email" [(ngModel)]="form.email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Phone</ion-label>
      <ion-input placeholder="Enter your phone" name="form.phone" [(ngModel)]="form.phone" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Agent's Name</ion-label>
      <ion-input placeholder="Enter your agent name" name="form.agent_name" [(ngModel)]="form.agent_name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Agent's Email</ion-label>
      <ion-input placeholder="Enter your agent email" name="form.agent_email" [(ngModel)]="form.agent_email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Agent's Phone</ion-label>
      <ion-input placeholder="Enter your agent phone" name="form.agent_phone" [(ngModel)]="form.agent_phone" type="number"></ion-input>
    </ion-item><br/>
    <ion-button type="submit" size="default" expand="block">Submit</ion-button>

  </form>
  <div padding>
    <p>Alternatively, you may find us from the website and contact below:</p>
    <ion-row>
      <ion-col col-3>
        <strong>Website</strong>
      </ion-col>
      <ion-col>:
        <a (click)="openWebsite()">{{getSelectedPcaListing().website}}</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <strong>Tel</strong>
      </ion-col>
      <ion-col>:
        <a href="tel:{{getSelectedPcaListing().phone_no}}">{{getSelectedPcaListing().phone_no}}</a>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
