ion-input, ion-select, ion-textarea {
  border-radius: 3px;
  --padding-top: 12px !important;
  --padding-bottom: 12px !important;
  --padding-start: 15px !important;
  --padding-end: 15px;
  border: 1px solid var(--ion-color-border-grey);
  font-size: 14px;
}

ion-content ion-item {
  margin-bottom: 15px;
}

.check {
  padding: 10px 0 30px;
  display: flex;
  align-items: flex-start;
}

.check ion-checkbox {
  --border-radius: 3px;
  height: 20px;
  width: 20px;
}

.check span {
  padding-left: 10px;
  flex-basis: 92%;
}

.button-wrapper {
  max-width: 250px;
  margin: 0 auto;
}

.button-wrapper ion-button {
  font-weight: 700;
}
