<ion-header no-border>
  <ion-toolbar>
    <ion-title>Add Customer ({{type}})</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-label position="stacked">Customer Name</ion-label>
      <ion-input name="name" [(ngModel)]="form.name" placeholder="e.g Brandon Smith"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Phone Number</ion-label>
      <ion-input type="tel" name="phone" [(ngModel)]="form.phone" placeholder="e.g +65 XXX XXX"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="form.email" placeholder="eg brandon@gmail.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Gender</ion-label>
      <ion-select name="gender" [(ngModel)]="form.gender" placeholder="Select Gender">
        <ion-select-option value="m">Male</ion-select-option>
        <ion-select-option value="f">Female</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Address</ion-label>
      <ion-textarea name="address" [(ngModel)]="form.address" placeholder="Enter Address"></ion-textarea>
    </ion-item>
    <ion-item [hidden] = "getCustomerType() == 'marketingconsent'">
      <ion-label position="stacked">Purpose of Contact</ion-label>
      <ion-list>
          <ion-item style="margin-bottom:0px;" *ngFor="let entry of purpose_of_contact">
              <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>

            <ion-label class="font12">{{entry.val}}</ion-label>
          </ion-item>
        </ion-list>
    </ion-item>
    <ion-item [hidden] = "getCustomerType() == 'pdpa'">
        <ion-label position="stacked">Type</ion-label>
        <ion-select name="type" [(ngModel)]="form.listing_type" placeholder="Select Listing Type">
          <ion-select-option value="sale">For Sale</ion-select-option>
          <ion-select-option value="rent">For Rent</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item [hidden] = "getCustomerType() == 'pdpa'">
      <ion-label position="stacked">Property Type</ion-label>
      <ion-select name="property_type" [(ngModel)]="form.property_type" placeholder="Select Property Type">
        <ion-select-option value="HDB">HDB</ion-select-option>
        <ion-select-option value="Apartment / Condominium / Executive Condo">Apartment / Condominium / Executive Condo</ion-select-option>
        <ion-select-option value="Landed">Landed</ion-select-option>
        <ion-select-option value="Commercial">Commercial</ion-select-option>
        <ion-select-option value="Industrial">Industrial</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [hidden] = "getCustomerType() == 'pdpa'">
      <ion-label position="stacked">Property Address</ion-label>
      <ion-textarea name="address" [(ngModel)]="form.property_address" placeholder="Enter Property Address"></ion-textarea>
    </ion-item>
    <ion-item  [hidden] = "getCustomerType() == 'pdpa'">
      <ion-label position="stacked">Asking Price</ion-label>
      <ion-input type="tel" name="asking_price" [(ngModel)]="form.asking_price" placeholder="Enter Asking Price"></ion-input>
    </ion-item>
    <ion-item  [hidden] = "getCustomerType() == 'pdpa'">
        <ion-label position="stacked">Built In Area (sqft)</ion-label>
        <ion-input type="tel" name="built_in_area" [(ngModel)]="form.built_in_area" placeholder="Enter Built In Area"></ion-input>
    </ion-item>
    <div class="check">
      <ion-checkbox name="pdpa_signed" [(ngModel)]="form.pdpa_signed"></ion-checkbox> <span>
        You have given us CONSENT to continue communication with you based on the selected purpose(s) above. All information received will be treated with strict confidentiality.
        </span>
    </div>
    <div class="button-wrapper">
      <ion-row>
        <ion-col>
            <ion-button color="primary" (click)="submitWithPdpa()" expand="block">Add With Signature</ion-button>
        </ion-col>
        <ion-col>
            <ion-button color="secondary" (click)="submitWithoutPdpa()" expand="block">Add Without Signature</ion-button>
          </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>