ion-grid {
  background: transparent;
}

ion-grid ion-row {
  margin: 0 -5px;
}

ion-grid .inner-item {
  background-color: var(--ion-color-primary-contrast);
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 8px 20px 0 rgba(91, 91, 91, 0.06);
  height: 100%;
}

ion-grid .inner-item ion-avatar {
  margin: 12px auto;
  width: 120px !important;
  height: 150px;
}

ion-grid .inner-item ion-avatar img {
  object-fit: scale-down;
  border-radius: 0px;
}

ion-grid .inner-item .desc {
  text-align: center;
  margin-bottom: 15px;
}

ion-grid .inner-item .desc h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 10px 0 5px;
}

ion-grid .inner-item .desc p {
  margin: 0;
  color: var(--ion-color-medium-shade);
  font-size: 12px;
}
