<ion-header no-border>
  <ion-toolbar>
    <ion-title>{{getMenu()}}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col  *ngFor="let item of getListing()" size="6">
        <div class="inner-item">
          <ion-avatar>
            <img src="{{getBase()}}{{item.listing_attachment}}">
          </ion-avatar>
          <div class="desc">
            <h3>{{item.listing_name}}</h3>
            <div [innerHTML]="item.listing_description"></div>
          </div>
        </div>
      </ion-col>
      <!-- <ion-col size="6">
        <div class="inner-item">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <div class="desc">
            <h3>Tommy Burns</h3>
            <p>Co - Founder</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="inner-item">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <div class="desc">
            <h3>Ethan Barnes</h3>
            <p>Senior IT Support</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="inner-item">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <div class="desc">
            <h3>Henry Moore</h3>
            <p>Web Developer</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="inner-item">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <div class="desc">
            <h3>Terry Carr</h3>
            <p>UI/UX Designer</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="inner-item">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <div class="desc">
            <h3>Ann Gray</h3>
            <p>UI Engineer</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="inner-item">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <div class="desc">
            <h3>Olivia Beck</h3>
            <p>Web Developer</p>
          </div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="inner-item">
          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          <div class="desc">
            <h3>Alice Crawford</h3>
            <p>Frontend Developer</p>
          </div>
        </div>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
