<ion-header no-border>
  <ion-toolbar>
    <ion-title>{{getDetail().listing_name}}      </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
 
  

  <ion-card>
    <div class="inner-image">
      <img (click)="viewImage(getDetail().image_path)" src="{{getDetail().image_path}}"/>
    </div>
    <ion-card-header>
      <!-- <p class="when">June 19, 07:30 AM - 09.00 PM</p> -->
      <h3>{{getDetail().listing_name}}</h3>
      <!-- <div class="place">
        <ion-icon name="md-pin"></ion-icon>
        <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
      </div> -->
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="getDetail().listing_description"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
