.logo {
  width: 210px;
  margin: 0 auto 25px auto;
}

.button-wrapper {
  margin-bottom: 20px;
}

.choose-signup {
  text-align: center;
  padding-top: 35px;
}

.choose-signup span {
  color: var(--ion-color-primary-contrast);
}
