<ion-header class="header-front" no-border>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="front login ion-padding">
    <div class="wrapper-front">
      <div class="logo">
        <img src="../../assets/images/logo@2x.png">
      </div>
      <div class="content-input">
        <div class="title">
          <h1>Log In</h1>
        </div>
        <div class="input">
          <form (ngSubmit)="loginSubmit()" class="list-form">
            <ion-item class="email">
              <ion-label position="stacked">
                <span>Email</span>
              </ion-label>
              <ion-input name="email" [(ngModel)]="form.email" type="email"></ion-input>
            </ion-item>
            <ion-item class="password">
              <ion-label position="stacked">
                <span>Password</span>
                <div class="forgot-password">
                  <a (click)="forgotPwd()">Forgot password?</a>
                </div>
              </ion-label>
              <ion-input name="password" (ionFocus)="focusInput($event)" [(ngModel)]="form.password" type="password"></ion-input>
            </ion-item>
            <div class="button-wrapper">
              <ion-button type="submit" expand="block" class="login">Log In</ion-button>
            </div>
            <div class="choose-signup">
              <span>Don't Have Account? <a routerLink="/sign-up">Register</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>