<ion-header no-border>
    <ion-toolbar>
      <ion-title>{{getSelectedPromotion().title}}</ion-title>
      <ion-buttons slot="secondary">
        <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <div class="img-cover">
          <img src="{{getSelectedPromotion().image_path}}" />
        </div>
        <div padding class="content">
          <h2 color="secondary">{{getSelectedPromotion().title}}</h2>
          <small>Posted at {{getSelectedPromotion().created_date}}</small>
          <div class="desc" [innerHTML]="getSelectedPromotion().description"></div>
          <hr/>
          <form (ngSubmit)="submit()">
            <ion-item lines="inset">
              <ion-label position="stacked">Name</ion-label>
              <ion-input name="form.name" placeholder="Enter your name" [(ngModel)]="form.name" type="text"></ion-input>
            </ion-item>
            <ion-item lines="inset">
              <ion-label position="stacked">Email</ion-label>
              <ion-input name="form.email" placeholder="Enter your email" [(ngModel)]="form.email" type="email"></ion-input>
            </ion-item>
            <ion-item lines="inset">
              <ion-label position="stacked">Phone</ion-label>
              <ion-input name="form.phone" placeholder="Enter your phone" [(ngModel)]="form.phone" type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Agent's Name</ion-label>
              <ion-input name="form.agent_name" placeholder="Enter Agent's Name" [(ngModel)]="form.agent_name" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Agent's Email</ion-label>
              <ion-input name="form.agent_email" placeholder="Enter Agent's Email" [(ngModel)]="form.agent_email" type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Agent's Phone</ion-label>
              <ion-input name="form.agent_phone" placeholder="Enter Agent's Phone" [(ngModel)]="form.agent_phone" type="number"></ion-input>
            </ion-item>
<br/>
            <ion-button type="submit" expand="block" class="sign-up">Submit</ion-button>

              <!-- <button type="submit" block large color="primary" ion-button>Submit</button> -->
          </form>
        </div>
      
  </ion-content>
  