<ion-header no-border>
    <ion-toolbar>
      <ion-title>E-Namecard</ion-title>
      <ion-buttons slot="secondary">
        <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="hero-image">
      <img src="../../assets/images/enamecard.svg" alt="">
      <div class="card-details">
        <div class="items">
          <div class="item item-phone">
            <div class="icon"></div>
            <div class="value">{{getUserData().mobile}}</div>
          </div>
          <div class="item item-whatsapp">
            <div class="icon"></div>
            <div class="value"><a ion-button  target="_new" href="https://api.whatsapp.com/send?phone={{getUserData().mobile}}">{{getUserData().mobile}}</a></div>
          </div>
          <div class="item item-instagram">
            <div class="icon"></div>
            <div class="value">{{getUserData().firstname}} {{getUserData().lastname}}</div>
          </div>
          <div class="item item-facebook">
            <div class="icon"></div>
            <div class="value">{{getUserData().facebook}}</div>
          </div>
          <div class="item item-mail">
            <div class="icon"></div>
            <div class="value">{{getUserData().email}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-avatar ion-padding">
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{img_url}}">
        </ion-avatar>
        <ion-label>
          <h2><span *ngIf="getUserData().gender == 'm'">Mr.</span> <span *ngIf="getUserData().gender == 'f'">Ms.</span> {{getUserData().firstname}} {{getUserData().lastname}}</h2>
          <p>{{getUserData().title}}</p>
        </ion-label>
      </ion-item>
    </div>
    <div class="section section-tabs-content">
      <div class="section menu-tab ion-padding">
        <ion-segment>
          <ion-segment-button value="my-listing"
            [checked]="true">
            <ion-label>{{getUserData().lastname}}'s Listing</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
      <div class="content-tab">
        <div id="my-listing" class="content my-listing">
          <h3>My Listing</h3>
          <ion-list>
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-thumbnail>
              <ion-label>
                <ion-button fill="clear" class="love-icon">
                  <ion-icon name="ios-heart-empty"></ion-icon>
                </ion-button>
                <div class="rating">
                  <ion-icon name="ios-star"></ion-icon>
                  <span>4.5</span>
                </div>
                <h3>Eight Riversuites</h3>
                <div class="place">
                  <ion-icon name="md-pin"></ion-icon>
                  <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
                </div>
                <div class="price-contact">
                  <div class="price">
                    <span>Price</span>
                    <div class="nominal">$14.992</div>
                  </div>
                  <div class="contact">
                    <ion-button color="primary" size="small">Contact Agent</ion-button>
                  </div>
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-thumbnail>
              <ion-label>
                <ion-button fill="clear" class="love-icon">
                  <ion-icon name="ios-heart-empty"></ion-icon>
                </ion-button>
                <div class="rating">
                  <ion-icon name="ios-star"></ion-icon>
                  <span>4.5</span>
                </div>
                <h3>Eight Riversuites</h3>
                <div class="place">
                  <ion-icon name="md-pin"></ion-icon>
                  <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
                </div>
                <div class="price-contact">
                  <div class="price">
                    <span>Price</span>
                    <div class="nominal">$14.992</div>
                  </div>
                  <div class="contact">
                    <ion-button color="primary" size="small">Contact Agent</ion-button>
                  </div>
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-thumbnail>
              <ion-label>
                <ion-button fill="clear" class="love-icon">
                  <ion-icon name="ios-heart-empty"></ion-icon>
                </ion-button>
                <div class="rating">
                  <ion-icon name="ios-star"></ion-icon>
                  <span>4.5</span>
                </div>
                <h3>Eight Riversuites</h3>
                <div class="place">
                  <ion-icon name="md-pin"></ion-icon>
                  <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
                </div>
                <div class="price-contact">
                  <div class="price">
                    <span>Price</span>
                    <div class="nominal">$14.992</div>
                  </div>
                  <div class="contact">
                    <ion-button color="primary" size="small">Contact Agent</ion-button>
                  </div>
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-thumbnail>
              <ion-label>
                <ion-button fill="clear" class="love-icon">
                  <ion-icon name="ios-heart-empty"></ion-icon>
                </ion-button>
                <div class="rating">
                  <ion-icon name="ios-star"></ion-icon>
                  <span>4.5</span>
                </div>
                <h3>Eight Riversuites</h3>
                <div class="place">
                  <ion-icon name="md-pin"></ion-icon>
                  <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
                </div>
                <div class="price-contact">
                  <div class="price">
                    <span>Price</span>
                    <div class="nominal">$14.992</div>
                  </div>
                  <div class="contact">
                    <ion-button color="primary" size="small">Contact Agent</ion-button>
                  </div>
                </div>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-thumbnail slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-thumbnail>
              <ion-label>
                <ion-button fill="clear" class="love-icon">
                  <ion-icon name="ios-heart-empty"></ion-icon>
                </ion-button>
                <div class="rating">
                  <ion-icon name="ios-star"></ion-icon>
                  <span>4.5</span>
                </div>
                <h3>Eight Riversuites</h3>
                <div class="place">
                  <ion-icon name="md-pin"></ion-icon>
                  <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
                </div>
                <div class="price-contact">
                  <div class="price">
                    <span>Price</span>
                    <div class="nominal">$14.992</div>
                  </div>
                  <div class="contact">
                    <ion-button color="primary" size="small">Contact Agent</ion-button>
                  </div>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-content>
  