ion-list{
    ion-item{
        ion-label{

        }
        ion-avatar{
            margin-right:5px;
            ion-icon{
                margin:3px;
                font-size: 30px;
                color: blanchedalmond;
            }
        }
    }
}