<ion-list class="ion-padding">
  <ion-item mode="ios" (click)="select('relevance','asc')">
    <ion-avatar slot="start">
      <ion-icon name="open"></ion-icon>
    </ion-avatar>
    <ion-label>
      Relevance
    </ion-label>
    <ion-note color="secondary">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-note>
  </ion-item>
  <ion-item mode="ios" (click)="select('price','asc')">
    <ion-avatar slot="start">
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-avatar>
    <ion-label>
      Price Asc
    </ion-label>
    <ion-note color="secondary">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-note>
  </ion-item>
  <ion-item mode="ios" (click)="select('price','desc')">
    <ion-avatar slot="start">
      <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-avatar>
    <ion-label>
      Price Desc
    </ion-label>
    <ion-note color="secondary">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-note>
  </ion-item>
  <ion-item mode="ios" (click)="select('floorarea_ppsf','asc')">
    <ion-avatar slot="start">
      <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-avatar>
    <ion-label>
      Floor Area PPSF ($) Asc
    </ion-label>
    <ion-note color="secondary">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-note>
  </ion-item>
  <ion-item mode="ios" (click)="select('floorarea_ppsf','desc')">
    <ion-avatar slot="start">
      <ion-icon name="arrow-dropdown"></ion-icon>
    </ion-avatar>
    <ion-label>
      Floor Area PPSF ($) desc
    </ion-label>
    <ion-note color="secondary">
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-note>
  </ion-item>
</ion-list>
