<ion-header no-border>
    <ion-toolbar>
      <ion-title>Edit Customer</ion-title>
      <ion-buttons slot="secondary">
        <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="ion-padding">
      <ion-item>
        <ion-label position="stacked">Customer Name</ion-label>
        <ion-input name="name" [(ngModel)]="form.name" placeholder="e.g Brandon Smith"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Phone Number</ion-label>
        <ion-input type="tel" name="phone" [(ngModel)]="form.phone" placeholder="e.g +65 XXX XXX"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" name="email" [(ngModel)]="form.email" placeholder="eg brandon@gmail.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Gender</ion-label>
        <ion-select name="gender" [(ngModel)]="form.gender" placeholder="Select Gender">
          <ion-select-option value="m">Male</ion-select-option>
          <ion-select-option value="f">Female</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Address</ion-label>
        <ion-textarea name="address" [(ngModel)]="form.address" placeholder="Enter Address"></ion-textarea>
      </ion-item>
      <ion-item [hidden] = "getCustomerType() == 'marketingconsent'">
        <ion-label position="stacked">Purpose of Contact</ion-label>
        <ion-list>
            <ion-item style="margin-bottom:0px;" *ngFor="let entry of purpose_of_contact">
                <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
  
              <ion-label class="font12">{{entry.val}}</ion-label>
            </ion-item>
          </ion-list>
      </ion-item>
      <ion-item [hidden] = "getCustomerType() == 'pdpa'">
          <ion-label position="stacked">Type</ion-label>
          <ion-select name="type" [(ngModel)]="form.listing_typpe" placeholder="Select Listing Type">
            <ion-select-option value="sale">For Sale</ion-select-option>
            <ion-select-option value="rent">For Rent</ion-select-option>
          </ion-select>
      </ion-item>
      <ion-item [hidden] = "getCustomerType() == 'pdpa'">
        <ion-label position="stacked">Property Type</ion-label>
        <ion-select name="property_type" [(ngModel)]="form.property_type" placeholder="Select Property Type">
          <ion-select-option value="HDB">HDB</ion-select-option>
          <ion-select-option value="Apartment / Condominium / Executive Condo">Apartment / Condominium / Executive Condo</ion-select-option>
          <ion-select-option value="Landed">Landed</ion-select-option>
          <ion-select-option value="Commercial">Commercial</ion-select-option>
          <ion-select-option value="Industrial">Industrial</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item [hidden] = "getCustomerType() == 'pdpa'">
        <ion-label position="stacked">Property Address</ion-label>
        <ion-textarea name="address" [(ngModel)]="form.property_address" placeholder="Enter Property Address"></ion-textarea>
      </ion-item>
      <ion-item  [hidden] = "getCustomerType() == 'pdpa'">
        <ion-label position="stacked">Asking Price</ion-label>
        <ion-input type="tel" name="asking_price" [(ngModel)]="form.asking_price" placeholder="Enter Asking Price"></ion-input>
      </ion-item>
      <ion-item  [hidden] = "getCustomerType() == 'pdpa'">
          <ion-label position="stacked">Built In Area (sqft)</ion-label>
          <ion-input type="tel" name="built_in_area" [(ngModel)]="form.built_in_area" placeholder="Enter Built In Area"></ion-input>
      </ion-item>
      <ion-item *ngIf="getCustomer().pdpa_signature !== null">
        <ion-label>
          Signature
          <img src="{{getBaseUrl()}}{{getCustomer().pdpa_signature}}" />
        </ion-label>
      </ion-item>
      <ion-item class="email">
          <ion-label position="stacked">
            <p><i>New signature here</i></p>
            <div class="signature-area">
                <signature-pad [options]="signaturePadOptions"  id="signatureCanvas"></signature-pad>
              </div>
            <ion-row>
              <ion-col col-4>
                  <ion-button type="button" expand="full" (click)="drawClear()" color="danger">Clear</ion-button>
              </ion-col>
            </ion-row>
          </ion-label>
          <!-- <div class="signature-area"></div> -->
        </ion-item>
      <div class="check">
        <ion-checkbox name="pdpa_signed" [(ngModel)]="form.pdpa_signed"></ion-checkbox> <span>{{getCustomer().fullname}} have agreed to the <a href="#">Personal Data Protection
            Act</a></span>
      </div>
      <div class="button-wrapper">
          <ion-button color="primary" (click)="update()" type="submit" expand="block">Update Customer</ion-button>

      </div>
    </div>
  </ion-content>