<ion-header no-border>
  <ion-toolbar>
    <ion-title>Create New Post</ion-title>
    <ion-button fill="clear" slot="primary" class="header-avatar">
      <ion-icon name="ios-send"></ion-icon>
    </ion-button>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section post ion-padding">
    <div class="post-type">
      <ion-button fill="clear" size="small" class="camera">
        <ion-icon name="ios-camera"></ion-icon>
        <div class="label">Take a Photo</div>
      </ion-button>
      <ion-button fill="clear" size="small" class="image">
        <ion-icon name="ios-image"></ion-icon>
        <div class="label">Upload Picture</div>
      </ion-button>
    </div>
  </div>

  <div class="section-account ion-padding">
    <div class="account">
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
          <h2>Mr. Lorem Ipsum</h2>
          <p>Agents <span class="color-blue">Agents Property Connect Alliance</span></p>
        </ion-label>
      </ion-item>
    </div>
  </div>

  <div class="section-input ion-padding">
    <ion-item>
      <ion-input type="text" placeholder="Post Title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Content"></ion-textarea>
    </ion-item>
  </div>
</ion-content>