ion-header {
    .header-avatar {
        --padding-start: 0;
        --padding-end: 0;
        border-radius: 50%;
        background-color: var(--ion-color-primary);
        ion-icon {
            color: var(--ion-color-primary-contrast);
        }
    }
}
.section-account {
    ion-label {
        margin-inline-end: 0;
        h2 {
            font-weight: 700;
        }
        p {
            font-size: 11px;
        }
    }
}
.section-input {
    ion-item {
        &:first-child {
            border-bottom: 1px solid var(--ion-color-border-grey);
        }
        ion-input, ion-textarea  {
            font-weight: 600;
        }
    }
}
.post {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-bottom: 0 transparent;
    box-shadow: 0 8px 20px 20px rgba(91, 91, 91, 0.06);
    padding-top: 16px;
    padding-bottom: 15px;
    background-color: var(--ion-color-primary-contrast);
    z-index: 9;
    .post-type {
        display: flex;
        align-items: center;
        ion-button {
            width: 50%;
            font-size: 16px;
            margin: 0;
            --padding-start: 0;
            --padding-end: 0;
            &.camera {
                ion-icon {
                    font-size: 26px;
                }
            }
            ion-icon {
                color: var(--ion-color-primary);
                width: 45px;
                margin-left: -15px;
            }
            .label {
                text-align: left;
                font-weight: 400;
                font-size: 14px;
            }
        }
    }
}
