ion-header .header-avatar {
  --padding-start: 0;
  --padding-end: 0;
  border-radius: 50%;
  background-color: var(--ion-color-primary);
}

ion-header .header-avatar ion-icon {
  color: var(--ion-color-primary-contrast);
}

.section-account ion-label {
  margin-inline-end: 0;
}

.section-account ion-label h2 {
  font-weight: 700;
}

.section-account ion-label p {
  font-size: 11px;
}

.section-input ion-item:first-child {
  border-bottom: 1px solid var(--ion-color-border-grey);
}

.section-input ion-item ion-input, .section-input ion-item ion-textarea {
  font-weight: 600;
}

.post {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-bottom: 0 transparent;
  box-shadow: 0 8px 20px 20px rgba(91, 91, 91, 0.06);
  padding-top: 16px;
  padding-bottom: 15px;
  background-color: var(--ion-color-primary-contrast);
  z-index: 9;
}

.post .post-type {
  display: flex;
  align-items: center;
}

.post .post-type ion-button {
  width: 50%;
  font-size: 16px;
  margin: 0;
  --padding-start: 0;
  --padding-end: 0;
}

.post .post-type ion-button.camera ion-icon {
  font-size: 26px;
}

.post .post-type ion-button ion-icon {
  color: var(--ion-color-primary);
  width: 45px;
  margin-left: -15px;
}

.post .post-type ion-button .label {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
}
