<ion-header no-border>
  <ion-toolbar>
    <ion-title>Search Listings</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

 <ion-content>
    <div class="section section-search ion-padding">
      <label><b>Location <span class="required">*</span></b></label>
      <ion-searchbar name="keyword" showCancelButton="never" [(ngModel)]="this._propertyListingService.selectedKeywordSearch" (ionInput)="searchKeyword($event)" mode="md" placeholder="Search by MRT, condo, address or location"></ion-searchbar>
      <!-- <div [hidden]="hideSearch" [style.height.px]="height" class="results">
        <div *ngFor="let item of searchKeywordListingResult" class="section-search">
          <h3>{{item.title}}</h3>
          <ion-list>
            <ion-item (click)="selectKeywordResult(sub_item)" *ngFor="let sub_item of item.locations">
              <ion-avatar slot="start">
                  <i *ngIf="sub_item.type == 'subway_station'" class="fa fa-train"></i> 
                  <i *ngIf="sub_item.type !== 'subway_station'" class="fa fa-bandcamp"></i>
              </ion-avatar>
              <ion-label>
                <h4>{{sub_item.title}}</h4>
                <p>{{sub_item.subtitle}}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div> -->
      <ion-list [hidden]="hideSearch" *ngIf="locationList.length > 0" class="property-location">
        <ion-item (click)="selectKeywordResult(item)" *ngFor="let item of locationList">
          <ion-thumbnail slot="start">
            <img src="{{item.photo_url}}">
          </ion-thumbnail>
          <ion-label>
            <h3>{{item.name}}</h3>
            <p class="location">{{getShortFormMap()[item.type]}} . District {{item.district}}</p>
            <div class="place">
              <ion-icon name="md-pin"></ion-icon>
              <span>{{item.address}}</span>
            </div>
            <div class="edit-button">
              <ion-button expand="block">select</ion-button>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div [hidden]="!hideSearch" class="section-content ion-padding outer-input">
        <ion-item class="item">
            <ion-label position="stacked">Listing Type <span class="required">*</span></ion-label>
            <ion-radio-group [(ngModel)]="getSearchListingParam().listing_type" name="listing_type">
              <ion-item lines="none">
                <ion-label>Sale</ion-label>
                <ion-radio name="mode" mode="ios" value="sale"></ion-radio>
              </ion-item>
              <ion-item lines="none">
                  <ion-label>Rent</ion-label>
                  <ion-radio name="mode" mode="ios" value="rent"></ion-radio>
                </ion-item>
            </ion-radio-group>
          </ion-item>
      <ion-item class="item">
        <ion-label position="stacked">Price Range <span class="required">*</span>
          <br/><br/>
          <div class="outer-range">
          
              <ion-range value="20000000" min="100000" max="20000000" step="10000" (ionChange)="change($event)" mode="md" dualKnobs="true" color="primary">
      
                  <ion-label style="position: absolute;
                  left: 0px;
                  top: 0px;" slot="start">$100,000</ion-label>
                  <ion-label style="position: absolute;
                  right: 0px;
                  top: 0px;" slot="end">$20,000,000</ion-label>
              </ion-range>
              <div class="text">{{from | currency}} to {{to | currency}}</div>
            </div>
  
        </ion-label>
        
      </ion-item>
      <ion-item class="item">
        <ion-label position="stacked">Property Segment <span class="required">*</span></ion-label>
        <ion-radio-group name="property_segment" [(ngModel)]="getSearchListingParam().property_segments">
          <ion-item (click)="segmentChosen(item)" *ngFor="let item of this._propertyListingService.listing_categories" lines="none">
            <ion-label>{{item.value}}</ion-label>
            <ion-radio name="mode" mode="ios" value="{{item.key}}"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
      <ion-item class="item">
        <ion-label position="stacked">Property Type <span class="required">*</span></ion-label>
        <ion-radio-group name="main_category" [(ngModel)]="getSearchListingParam().main_category">
          <ion-item (click)="mainCatChosen(item)" *ngFor="let item of categories" lines="none">
            <ion-label>{{item.value}}</ion-label>
            <ion-radio name="mode" mode="ios" value="{{item.key}}"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
      <div [hidden]="subcategories.length < 1" class="item">
        <ion-label position="stacked">Select Sub Categories <span class="required">*</span></ion-label>
        <div class="outer-input input-checkbox">
          <div *ngFor="let sub_item of subcategories" class="check">
            <ion-checkbox name="{{sub_item.key}}" [(ngModel)]="sub_item.checked"></ion-checkbox>
            <span>{{sub_item.value}}</span>
          </div>
        </div>
      </div>
      <ion-item *ngIf="getSearchListingParam().property_segments == 'residential'" class="item">
        <ion-label position="stacked">Bedrooms <span class="required">*</span></ion-label>
        <ion-radio-group name="rooms" [(ngModel)]="getSearchListingParam().rooms" class="col-6 no-margin" name="bedrooms">
          <ion-item lines="none">
            <ion-label>Any</ion-label>
            <ion-radio name="mode" mode="ios" value="any" checked></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>1</ion-label>
            <ion-radio name="mode" mode="ios" value="1"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>2</ion-label>
            <ion-radio name="mode" mode="ios" value="2"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>3</ion-label>
            <ion-radio name="mode" mode="ios" value="3"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>4</ion-label>
            <ion-radio name="mode" mode="ios" value="4"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>5</ion-label>
            <ion-radio name="mode" mode="ios" value="5"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
      <ion-item class="item">
        <ion-label position="stacked">
          Floor Area <span class="required">*</span>
          <br/><br/>
  
            <div class="outer-range">
          
                <ion-range value="10000" min="500" max="10000" step="100" (ionChange)="changeFloorArea($event)" mode="md" dualKnobs="true" color="primary">
        
                    <ion-label style="position: absolute;
                    left: 0px;
                    top: 0px;" slot="start">500 SQFT</ion-label>
                    <ion-label style="position: absolute;
                    right: 0px;
                    top: 0px;" slot="end">10,000 SQFT</ion-label>
                </ion-range>
                <div class="text">{{fromFloor | number}} to {{toFloor | number}} SQFT</div>
              </div>
        </ion-label>
        
      </ion-item>
      <ion-item class="item">
        <ion-label position="stacked">Show Less Filter</ion-label>
        <p>
          This feature will be show the advanced filter for this request information
        </p>
      </ion-item>
      <ion-item class="item">
        <ion-label position="stacked">Property Status <span class="required">*</span></ion-label>
        <ion-radio-group [(ngModel)]="getSearchListingParam().is_new_launch" class="col-3" name="property_status">
          <ion-item lines="none">
            <ion-label>All</ion-label>
            <ion-radio name="mode" mode="ios" value="any" checked></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>New Launch</ion-label>
            <ion-radio name="mode" mode="ios" value="true"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Resale</ion-label>
            <ion-radio name="mode" mode="ios" value="false"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
      <!-- <ion-item class="item">
        <ion-label position="stacked">Listing Tags</ion-label>
        <ion-radio-group class="col-3" name="property_status">
          <ion-item lines="none">
            <ion-label>All</ion-label>
            <ion-radio name="mode" mode="ios" value="All" checked></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Corporate</ion-label>
            <ion-radio name="mode" mode="ios" value="Corporate"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Exclusive</ion-label>
            <ion-radio name="mode" mode="ios" value="Exclusive"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item> -->
      <!-- <ion-item class="item required">
        <ion-label position="stacked">Land Area</ion-label>
        <div class="input-2-col">
          <ion-input placeholder="Min"></ion-input>
          <ion-input placeholder="Max"></ion-input>
        </div>
      </ion-item>
      <ion-item class="item required">
        <ion-label position="stacked">Year of Completion (TOP)</ion-label>
        <div class="input-2-col">
          <ion-input placeholder="Min"></ion-input>
          <ion-input placeholder="Max"></ion-input>
        </div>
      </ion-item>
      <ion-item class="item required">
        <ion-label position="stacked">PSF</ion-label>
        <div class="input-2-col">
          <ion-input placeholder="Min"></ion-input>
          <ion-input placeholder="Max"></ion-input>
        </div>
      </ion-item>
      <ion-item class="item required">
        <ion-label position="stacked">PSF (Land)</ion-label>
        <div class="input-2-col">
          <ion-input placeholder="Min"></ion-input>
          <ion-input placeholder="Max"></ion-input>
        </div>
      </ion-item> -->
      <ion-item class="item">
        <ion-label position="stacked">Tenure <span class="required">*</span></ion-label>
        <ion-radio-group [(ngModel)]="getSearchListingParam().tenure" name="tenure">
          <ion-item lines="none">
            <ion-label>All</ion-label>
            <ion-radio name="mode" mode="ios" value="any" checked></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Freehold</ion-label>
            <ion-radio name="mode" mode="ios" value="freehold"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>30 years</ion-label>
            <ion-radio name="mode" mode="ios" value="30"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>60 Years</ion-label>
            <ion-radio name="mode" mode="ios" value="60"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>99 to 103 Years</ion-label>
            <ion-radio name="mode" mode="ios" value="99_103"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>99 Years</ion-label>
            <ion-radio name="mode" mode="ios" value="999"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
      <ion-item class="item">
        <ion-label position="stacked">Contains Keywords</ion-label>
        <ion-textarea placeholder="Keyword separated by commas : gym , high floor"></ion-textarea>
        <span class="counter">0 / 100</span>
      </ion-item>
      <div class="button-wrapper">
        <ion-button expand="block" (click)="search()">Continue</ion-button>
        <!-- <ion-button routerLink="" class="back" expand="block" fill="clear">Previous Step</ion-button> -->
      </div>
    </div>
  </ion-content>
  