.results{
    overflow: auto;
    position: fixed;
    z-index: 999;
    left: 0px;
    width: 100%;
    background: #fff;
    .section-search{
        padding-left:30px;
        padding-top:0px;
        padding-bottom: 0px;
        h3{
            font-weight: bold;
            font-size:14px;
        }
        ion-list{
            margin-bottom:5px !important;
            ion-item{
                ion-avatar{
                    margin:0px;
                    i{
                        font-size: 25px;
                        padding:3px;
                        color: var(--ion-color-blue);
                    }
                }
                ion-label{
                    h3{
                        padding:0px;
                        margin:0px;
                        border-bottom: 1px solid #ccc;
                    }
                    font-size: 12px;
                }
            }
        }
    }
}
ion-list.property-location {
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 0;
    padding: 0 10px;
    height: 100vh;
    ion-item {
        ion-label {
            position: relative;
            h3, p {
                width: calc(100% - 45px);
            }
            .edit-button {
                position: absolute;
                top: 0;
                right: 0;
                ion-button {
                    font-weight: 600;
                    margin: 0;
                    height: 26px;
                }
            }
            .place{
                span{
                    font-size:10px;
                    position: relative;
                    top: -5px;
                }
            }
        }
    }
}
ion-radio-group {
    &.col-3 {
        ion-item {
            flex-basis: calc(33.333% - 10px);
        }
    }
    &.col-6 {
        &.no-margin {
            width: 100%;
            margin: 0;
            ion-item {
                flex-basis: 16.666%;
                border-radius: 0;
                margin: 0;
                &:first-child {
                    border-radius: 4px 0 0 4px;
                }
                &:last-child {
                    border-radius: 0 4px 4px 0;
                }
            }
        }
    }
}
.outer-input {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    > ion-item, .item {
        margin: 0 5px 10px;
        width: calc(100% - 10px);
        ion-label {
            font-weight: 600;
            min-height: 20px;
        }
        .outer-range {
            position: relative;
            width: 100%;
            .text {
                font-weight: 700;
                position: absolute;
                left: 50%;
                bottom: 0px;
                transform: translate(-50%, 0);
                transform: translate(-50%, 0);
                width: 100%;
                text-align: center;
                font-size: 12px;
            }
        }
        &.required {
            >ion-label {
                &:after {
                    content: '*';
                    color: var(--ion-color-danger);
                    padding: 0 5px;
                }
            }
        }
        > p {
            color: var(--ion-color-medium-shade);
            font-size: 13px;
            margin: 0;
        }
        .input-2-col {
            display: flex;
            margin: 0 -5px;
            ion-input {
                margin: 0 5px;
                width: calc(100% - 10px);
            }
        }
        .counter {
            position: absolute;
            bottom: 4px;
            right: 7px;
            font-size: 11px;
            color: var(--ion-color-medium);
        }
        .label {
            position: absolute;
            height: 45px;
            width: 50px;
            text-align: center;
            right: 0;
            bottom: 0;
            color: var(--ion-color-primary-contrast);
            background: var(--ion-color-primary);
            font-weight: 700;
            border-radius: 0 5px 5px 0;
            font-size: 13px;
            line-height: 45px;
        }
        &.item-floor {
            width: calc(50% - 10px);
        }
        &.item-unit {
            width: calc(50% - 10px);
        }
    }
    ion-input, ion-select, ion-textarea {
        border-radius: 3px;
        --padding-top: 12px !important;
        --padding-bottom: 12px !important;
        --padding-start: 15px !important;
        --padding-end: 15px;
        border: 1px solid var(--ion-color-border-grey);
        font-size: 14px;
    }
}
ion-radio-group {
    width: calc(100% + 10px);
}
.input-checkbox {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}
.check {
    width: 50%;
    padding: 8px 5px;
    display: flex;
    align-items: flex-start;
    ion-checkbox {
        --border-radius: 3px;
        height: 20px;
        width: 20px;
    }
    span {
        padding-left: 10px;
        flex-basis: 92%;
        font-weight: 600;
    }
}
.button-wrapper {
    width: 250px;
    margin: 20px auto;
    ion-button {
        font-weight: 700;
        &.back {
            color: var(--ion-color-blue);
        }
    }
}