html,
body {

    &.ios,
    &.md {
        --ion-font-family: 'Nunito Sans', sans-serif;
        --ion-default-font: 'Nunito Sans', sans-serif;
        font-family: var(--ion-default-font);
        font-weight: normal;
        color: var(--ion-color-main-text);
        font-size: 14px;
        background-color: var(--ion-color-main-contrast);
    }

    div,
    span,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    input,
    textarea {
        color: var(--ion-color-main-text);
    }
}

.color-blue {
    color: var(--ion-color-blue);
}

.section {
    border-bottom: 10px solid var(--ion-color-border);
}

.section-search {
    padding-top: 7px;
    padding-bottom: 7px;

    ion-searchbar {
        --background: var(--ion-color-primary-contrast);
        --border-radius: 3px;
        -webkit-padding-start: 0;
        padding-inline-start: 0;
        -webkit-padding-end: 0;
        padding-inline-end: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    .searchbar-search-icon.sc-ion-searchbar-md {
        left: auto !important;
        right: 16px;
        color: var(--ion-color-grey-dark);
    }

    .searchbar-input.sc-ion-searchbar-md {
        font-size: 13px;
        -webkit-padding-start: 16px;
        padding-inline-start: 16px;
        -webkit-padding-end: 50px;
        padding-inline-end: 50px;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.header-avatar {
    height: 36px;
    width: 36px;
    margin-right: 10px;
}

ion-content {
    --background: var(--ion-color-border);

    >* {
        background: var(--ion-color-primary-contrast);
    }
}

ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --inner-border-width: 0;
}

ion-tabs {
    ion-tab-bar {
        height: 68px;
        box-shadow: 0 8px 20px 20px rgba(91, 91, 91, 0.06);
        border-top: 0 transparent;

        ion-tab-button {
            &.tab-selected {
                .icon-tabs {
                    img {
                        opacity: 1;
                        -webkit-filter: grayscale(0%);
                        filter: grayscale(0%);
                    }
                }
            }

            .icon-tabs {
                height: 20px;
                width: 20px;
                text-align: center;
                margin-bottom: 5px;

                img {
                    height: 100%;
                    width: auto;
                    opacity: 1;
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                }
            }

            ion-label {
                font-size: 12px;
                margin-bottom: 5px;
                font-weight: 600;
            }
        }
    }
}

ion-input {
    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--ion-color-medium);
        opacity: 1;
        /* Firefox */
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: var(--ion-color-medium);
    }

    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: var(--ion-color-medium);
    }
}

ion-header {
    ion-toolbar {
        min-height: 65px;
        --min-height: 65px;
        border-bottom: 2px solid var(--ion-color-border);

        ion-title {
            font-size: 15px;
            color: var(--ion-color-main-text);
            font-weight: bold;
            min-height: 65px;
        }

        ion-buttons {
            ion-button {
                ion-icon {
                    font-size: 32px !important;
                    color: var(--ion-color-grey-dark)
                }
            }

            ion-back-button {
                color: var(--ion-color-main-text);
                padding: 0 10px;
                font-size: 12px !important;
            }
        }
    }
}

a {
    text-decoration: none;
}

ion-button {
    --border-radius: 4px;
    font-weight: 600;
    margin-left: 0;
    margin-right: 0;
}

ion-select {
    --background-focused: #000000;
}

// global style
ion-header {
    &.header-front {
        position: fixed;
        width: 75px;

        ion-toolbar {
            --background: transparent;
            border-bottom: 0 transparent;

            span {
                color: var(--ion-color-primary-contrast);
            }
        }
    }
}

.front {
    background-image: url('assets/images/background-front.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;

    .wrapper-front {
        width: 100%;

        .content-input {
            ion-item {
                --background: transparent;
                --border-style: none;
                --padding-start: 0;
                --inner-padding-end: 0;
                margin-bottom: 10px;

                ion-label {
                    color: var(--ion-color-primary);
                    font-size: 14px;
                    margin-inline-end: 0;
                    margin-bottom: 7px;

                    span {
                        color: var(--ion-color-primary);
                    }
                }

                &.password {
                    ion-label {
                        display: flex;
                        justify-content: space-between;

                        .forgot-password {
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }
                }
            }

            .title {
                background-color: rgba(255, 255, 255, 0.2);
                padding: 20px 10px;
                border-radius: 4px 4px 0 0;
                border-bottom: 2px solid var(--ion-color-primary);

                h1 {
                    margin: 0;
                    color: var(--ion-color-primary);
                    font-weight: 600;
                    text-align: center;
                    font-size: 18px;
                }
            }

            .input {
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 0 0 4px 4px;
                padding: 20px 30px;

                ion-item {
                    >div {
                        display: flex;
                        align-items: center;
                        width: 100%;

                        >span {
                            font-size: 15px;
                            width: 118px;
                            margin-left: 5px;
                        }
                    }
                }

                input[type="email"] {
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 3px;
                    --padding-top: 12px;
                    --padding-bottom: 12px;
                    --padding-start: 15px;
                    --padding-end: 15px;
                    color: #ffffff;
                    font-size: 14px;
                    height: 43px;
                    border: 0 transparent;
                    padding: 0 15px !important;
                    width: 100%;

                    &:focus {
                        outline: none;
                    }

                    &::placeholder {
                        color: var(--ion-color-primary-contrast);
                        opacity: 1;
                    }

                    &:-ms-input-placeholder {
                        color: var(--ion-color-primary-contrast);
                    }

                    &::-ms-input-placeholder {
                        color: var(--ion-color-primary-contrast);
                    }
                }

                ion-input,
                ion-select {
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 3px;
                    --padding-top: 12px;
                    --padding-bottom: 12px;
                    --padding-start: 15px;
                    --padding-end: 15px;
                    color: #ffffff;
                    font-size: 14px;

                    &[name="password"] {
                        position: relative;
                        --padding-end: 30px;

                        ion-icon {
                            position: absolute;
                            right: 10px;
                            font-size: 20px;
                            top: 50%;
                            transform: translate(0, -50%);
                        }
                    }
                }

                .remember {
                    padding: 10px 0 30px;
                    display: flex;
                    align-items: center;

                    ion-checkbox {
                        --border-radius: 3px;
                        --border-width: 0;
                    }

                    span {
                        color: var(--ion-color-primary-contrast);
                        padding-left: 10px;
                        flex-basis: 92%;

                        a {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    .button-wrapper {
        padding: 0 15px;

        ion-button {
            max-width: 250px;
            margin-left: auto;
            margin-right: auto;

            &.sign-up,
            &.login {
                color: var(--ion-color-main-text);
                --background-image: linear-gradient(to right, rgb(153, 108, 34), rgb(240, 232, 123), rgb(180, 147, 62));
                --background-activated: linear-gradient(to right, rgb(153, 108, 34), rgb(240, 232, 123), rgb(180, 147, 62));
                --background: linear-gradient(to right, rgb(153, 108, 34), rgb(240, 232, 123), rgb(180, 147, 62));
                --background-focused: linear-gradient(to right, rgb(153, 108, 34), rgb(240, 232, 123), rgb(180, 147, 62));
                --background-hover: linear-gradient(to right, rgb(153, 108, 34), rgb(240, 232, 123), rgb(180, 147, 62));
            }
        }
    }

    ion-button {
        --border-radius: 4px;
    }

    .choose-signup {
        a {
            font-weight: bold;
        }
    }
}

.section-steps {
    border-bottom: 0 transparent;
    padding-left: 20px;
    padding-right: 20px;

    .outer-steps {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        padding-bottom: 15px;
        border-bottom: 1px solid var(--ion-color-border-shade);

        &.short {
            .step {
                &:before {
                    width: 100%;
                }
            }
        }

        .step {
            padding: 0;
            position: relative;

            .icon {
                ion-icon {
                    display: none;
                }

                .step-number {
                    line-height: 40px;
                    font-weight: 600;
                }
            }

            &:before {
                content: "";
                position: absolute;
                width: 190%;
                height: 1px;
                border-top: 1px solid var(--ion-color-border-shade);
                top: 20px;
                right: 30px;
            }

            &:first-child {
                &:before {
                    display: none;
                }
            }

            &.active,
            &.completed {
                &:before {
                    border-top: 1px solid var(--ion-color-primary);
                }
            }

            &.completed {
                .icon {
                    background: var(--ion-color-primary);
                    border: 1px solid var(--ion-color-primary);

                    ion-icon {
                        color: var(--ion-color-primary-contrast);
                        display: block;
                    }

                    .step-number {
                        display: none;
                    }
                }

                .text {
                    span {
                        color: var(--ion-color-primary);
                    }
                }
            }

            .icon {
                height: 40px;
                width: 40px;
                text-align: center;
                border-radius: 50%;
                background: var(--ion-color-border-shade);
                border: 1px solid transparent;
                position: relative;
                margin-bottom: 5px;
                z-index: 2;
                margin-left: auto;
                margin-right: auto;

                ion-icon {
                    color: var(--ion-color-light-text);
                    font-size: 17px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .text {
                text-align: center;

                span {
                    color: var(--ion-color-light-text);
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
    }
}

.title-content-step {
    background: var(--ion-color-border-shade-light);

    h2 {
        margin: 0;
        font-size: 16px;
        font-weight: 700;
    }
}
ion-radio-group {
    display: flex;
    flex-wrap: wrap;
    border: 0 transparent;
    margin: 0 -5px;

    ion-item {
        position: relative;
        --min-height: 38px;
        flex-basis: calc(50% - 10px);
        --background: var(--ion-color-border-shade-light);
        border-radius: 4px;
        margin: 5px;

        &.item-radio-checked {
            --background: var(--ion-color-primary);

            ion-label {
                color: var(--ion-color-primary-contrast) !important;
            }
        }

        ion-label {
            color: var(--ion-color-light-text) !important;
            margin: 0;
            display: block;
            text-align: center;
            width: 100%;
            font-weight: 600;
            font-size: 14px !important;
        }

        ion-radio {
            opacity: 0;
            margin: 0;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
        }
    }
}
.section-content-step {
    ion-item {
        margin-bottom: 5px !important;
    }
    h3 {
        font-size: 14px;
        font-weight: 600;
        &.with-sign {
            &:after {
                content: '*';
                color: var(--ion-color-danger);
                font-weight: 700;
                padding: 0 5px;
            }
        }
    }

    p {
        color: var(--ion-color-medium-shade);
    }

    ion-list.property-location {
        margin-bottom: 0;
        ion-item {
            padding: 10px 0;
            border-bottom: 1px solid var(--ion-color-border);
            &:last-child {
                border-bottom: 0 transparent;
            }
            ion-thumbnail {
                height: 65px;
                width: 65px;
                border-radius: 4px;
                overflow: hidden;
            }
            ion-label {
                text-overflow: inherit;
                white-space: inherit;
                margin: 0;
                p {
                    color: var(--ion-color-medium);
                    font-size: 11px;
                    margin-bottom: 5px;
                }
                h3 {
                    font-weight: 600;
                    font-size: 14px;
                    margin-bottom: 2px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .place {
                    display: flex;
                    ion-icon {
                        font-size: 12px;
                        width: 18px;
                        margin-left: -5px;
                        color: var(--ion-color-primary);
                    }
                    span {
                        font-size: 11px;
                        color: var(--ion-color-medium);
                        display: block;
                    }
                }
            }
        }
    }
}
.section-profile {
    .account {
        display: flex;
        align-items: center;
        justify-content: space-between;
        ion-item {
            ion-avatar {
                height: 55px;
                width: 55px;
                position: relative;
                overflow: hidden;
                .change {
                    background: rgba(0,0,0,0.4);
                    color: var(--ion-color-primary-contrast);
                    font-size: 10px;
                    font-weight: 700;
                    padding: 1px 0px 3px 0;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    text-align: center;
                }
            }
            ion-label {
                margin: 0;
                h2 {
                    font-weight: 700;
                    font-size: 16px;
                }
                a {
                    color: var(--ion-color-blue);
                }
            }
        }
    }
    .section-content-profile {
        .title {
            background: var(--ion-color-border-shade-light);

            h2 {
                margin: 0;
                font-size: 16px;
                font-weight: 700;
            }
        }
        .form {
            ion-label {
                font-weight: 600;
            }
            ion-input, ion-select, ion-textarea {
                border-radius: 3px;
                --padding-top: 12px !important;
                --padding-bottom: 12px !important;
                --padding-start: 15px !important;
                --padding-end: 15px;
                border: 1px solid var(--ion-color-border-grey);
                font-size: 14px;
                &.with-value {
                    background: var(--ion-color-border-shade-light);
                    color: var(--ion-color-blue);
                    border: 1px solid var(--ion-color-border-shade-light);
                }
            }
        }
    }
}
