.section {
    .section-title {
        h2 {
            margin: 0;
            font-weight: 600;
            font-size: 22px;
        }
    }
}
.small-display{
    color: orange;
    font-size: 10px;
    position: absolute;
    left: 200px;
    margin-top: -17px;
}
ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --inner-border-width: 0;
    ion-label {
        margin-inline-end: 0;
        h2 {
            font-weight: 700;
        }
        p {
            font-size: 11px;
        }
    }
}
.section-account {
    display: flex;
    align-items: center;
    padding-top:0px;
    padding-bottom:0px;
    justify-content: space-between;
    .label {
        ion-label {
            background-color: var(--ion-color-primary);
            color: var(--ion-color-primary-contrast);
            border-radius: 4px;
            padding: 2px 5px;
            padding: 3px 5px;
            font-size: 12px;
            font-weight: 700;
        }
    }
}
.section-slider {
    background: var(--ion-color-primary-contrast);
    .inner-slide {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-bottom: 50.25%;
        img {
            position: absolute;
            width: auto;
            max-width: none;
            height: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
.section-property-scroll {
    .section-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .view-all {
            a {
                color: var(--ion-color-grey-dark);
                font-weight: 600;
            }
        }
    }
    .inner {
        padding: 0 0 15px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        .items {
            display: flex;
            margin: 0 -10px 0;
            .item {
                ion-card {
                    width: 220px;
                    -webkit-margin-start: 10px;
                    margin-inline-start: 10px;
                    -webkit-margin-end: 10px;
                    margin-inline-end: 10px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    .inner-image {
                        position: relative;
                        overflow: hidden;
                        width: 100%;;
                        border-radius: 10px;
                        padding-bottom: 78%;
                        img {
                            position: absolute;
                            width: 100%;
                            height: auto;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    ion-card-header {
                        padding: 15px 10px 5px;
                        ion-card-title {
                            font-size: 20px;
                        }
                        ion-card-subtitle {
                            display: flex;
                            align-items: center;
                            margin-left: -5px;
                            ion-icon {
                                color: var(--ion-color-danger);
                                flex-basis: 20px;
                            }
                            span {
                                font-weight: 600;
                                text-transform: capitalize;
                                color: var(--ion-color-grey-dark);
                            }
                        }
                    }
                    ion-card-content {
                        -webkit-padding-start: 10px;
                        padding-inline-start: 10px;
                        -webkit-padding-end: 10px;
                        padding-inline-end: 10px;
                        padding-top: 0;
                        padding-bottom: 10px;
                        .desc {
                            .price {
                                font-size: 20px;
                                font-weight: 700;
                                color: var(--ion-color-primary);
                                margin-bottom: 5px;
                            }
                            .spec {
                                display: flex;
                                flex-wrap: wrap;
                                margin: 0 -5px;
                                span {
                                    color: var(--ion-color-light-text);
                                    font-size: 13px;
                                    opacity: 0.8;
                                    font-weight: 600;
                                    padding: 0 7px;
                                    margin-bottom: 3px;
                                    &:first-child {
                                        flex-basis: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.section-menu {
    ion-grid {
        padding: 0;
        margin: 10px -4px 0 -4px;
        ion-col {
            // flex-basis: 20%;
            .icon-img {
                position: relative;
                padding-bottom: 100%;
                overflow: hidden;
                border: 1px solid var(--ion-color-border-grey);
                border-radius: 5px;
                margin-bottom: 5px;
                img {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    height: 23px;
                }
            }
            .menu-title {
                text-align: center;
                span {
                    color: var(--ion-color-blue);
                    font-size: 14px;
                    display: block;
                    line-height: 1.2;
                }
            }
        }
    }
    .all-menu {
        margin: 20px auto 0 auto;
        width: 100%;
        max-width: 250px;
        ion-button {
            font-weight: bold;
        }
    }
}
