<ion-header *ngIf="isUserLoggedIn()" no-border>
    <ion-toolbar>
      <div  class="section-account ion-padding">
          <div class="account">
            <ion-item>
              <ion-avatar slot="start">
                <img src="{{img_url}}">
              </ion-avatar>
              <ion-label>
                <h2><span *ngIf="getUserData().gender == 'm'">Mr.</span> <span *ngIf="getUserData().gender == 'f'">Ms.</span> {{getUserData().lastname}}</h2>
                <p> <span class="color-blue">{{getUserData().title}}</span></p>
              </ion-label>
            </ion-item>
          </div>
          <div routerLink="/e-namecard" class="label">
            <ion-label>E-Namecard</ion-label>
          </div>
      </div>
    </ion-toolbar>
  
</ion-header>

<ion-content>
  
    <div *ngIf="!isUserLoggedIn()">
        <ion-fab style="position:fixed;bottom:80px;" vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button routerLink="/login" color="primary">
              Login
            </ion-fab-button>
          </ion-fab>
    </div>
  <div class="section section-search ion-padding">
    <ion-searchbar (click)="openSearch()" mode="md" placeholder="Search"></ion-searchbar>
  </div>

  <div class="section section-slider">
      <ion-slides #mySlides *ngIf="getBanner().length > 0" [options]="sliderOpts">
          <ion-slide (click)="openBanner(item)" *ngFor="let item of getBanner()">
            <div class="inner-slide">
                <img src="{{item.image_path}}" />
              </div>
          </ion-slide>
        </ion-slides>
  </div>
  <div *ngIf="isUserLoggedIn()" class="section section-property-scroll ion-padding">
    <div class="section-title">
      <h2>Matching Connect <a style="
        font-size: 12px;
        color: grey;
        position: absolute;
        right:5px;
        margin-top: 5px;" (click)="viewAllMatchingConnect()">View All</a> 
      </h2>
      
      <div class="view-all">
        
      </div>
    </div>
    <div>
      <ion-button size="small" (click)="createSearch()" style="width:40%;"> Create Search</ion-button>&nbsp;<ion-button size="small" color="secondary" routerLink="/add-listing-step-address" style="width:40%;"> Create Listing</ion-button>

    </div>
    <div class="inner">
      <div class="items">
        <div (click)="viewListingPca(item)" *ngFor="let item of this._propertyListingService.pcaPropertyListing" (click)="viewListing(item)" class="item">
          <ion-card>
            <div class="inner-image">
              <img src="{{item.photo_url}}">
            </div>
            <ion-card-header>
              <ion-card-subtitle>
                <ion-icon ios="md-pin"></ion-icon>
                <span> {{item.address}}</span>
              </ion-card-subtitle>
              <ion-card-title>{{item.property_name}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <div class="desc">
                <div class="price">{{item.price | number: '1.2-2'}}</div>
                <div class="spec">
                  {{item.highlights}}
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
        <div *ngFor="let item of this._propertyListingService.propertyListingResult" (click)="viewListing(item)" class="item">
          <ion-card>
            <div class="inner-image">
              <img src="{{item.photo_url}}">
            </div>
            <ion-card-header>
              <ion-card-subtitle>
                <ion-icon ios="md-pin"></ion-icon>
                <span> {{item.address_line_1}} {{item.address_line_2}}</span>
              </ion-card-subtitle>
              <ion-card-title>{{item.project_name}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <div class="desc">
                <div class="price">{{item.attributes.price_formatted}}</div>
                <div class="spec">
                  <span>{{item.attributes.bedrooms_formatted}}, {{item.attributes.bathrooms_formatted}}</span>
                  <span>{{item.attributes.area_size_formatted}}</span>
                  <span>{{item.attributes.area_ppsf_formatted}}</span>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
        
      </div>
    </div>
  </div>
  <div *ngIf="isUserLoggedIn()" class="section section-property-scroll ion-padding">
    <div class="section-title">
      <h2>Listing Connect 
      </h2>
      <div class="view-all">
        <a (click)="viewListingConnect()">View All</a> 
      </div>
    </div>
    <div class="inner">
      <div class="items">
        <div *ngFor="let item of getListingConnect()" (click)="viewListing(item)" class="item">
          <ion-card>
            <div class="inner-image">
              <img src="{{item.photo_url}}">
            </div>
            <ion-card-header>
              <ion-card-subtitle>
                <ion-icon ios="md-pin"></ion-icon>
                <span> {{item.address_line_1}} {{item.address_line_2}}</span>
              </ion-card-subtitle>
              <ion-card-title>{{item.project_name}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <div class="desc">
                <div class="price">{{item.attributes.price_formatted}}</div>
                <div class="spec">
                  <span>{{item.attributes.bedrooms_formatted}}, {{item.attributes.bathrooms_formatted}}</span>
                  <span>{{item.attributes.area_size_formatted}}</span>
                  <span>{{item.attributes.area_ppsf_formatted}}</span>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
        
      </div>
    </div>
  </div>
  <div class="section section-menu ion-padding">
    <div class="section-title">
      <h2>Menu</h2>
      <ion-grid>
        <ion-row *ngFor="let item of menuList">
          <ion-col (click)="view(sub_item)" *ngFor="let sub_item of item">
            <div class="inner">
              <div class="icon-img">
                  <img src="{{sub_item.icon_path}}" />
              </div>
              <div class="menu-title">
                <span>{{sub_item.menu_name}}</span>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="all-menu">
        <ion-button color="primary" expand="full" shape="round" routerLink="/home-menu">View All Menu</ion-button>
      </div>
    </div>
  </div>
</ion-content>
