<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <div class="icon-tabs">
        <img src="../../assets/images/icon/icon-home.svg">
      </div>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="promotions">
      <div class="icon-tabs">
        <img src="../../assets/images/icon/icon-promotions.svg">
      </div>
      <ion-label>Promotions</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isLoggedIn()" tab="notifications">
      <div class="icon-tabs">
        <img src="../../assets/images/icon/icon-notifications.svg">
      </div>
      <ion-badge *ngIf="unread > 0" class="tab-badge danger">{{unread}}</ion-badge>

      <ion-label>Notifications</ion-label>

    </ion-tab-button>

    <ion-tab-button tab="forum">
      <div class="icon-tabs">
        <img src="../../assets/images/icon/icon-forum.svg">
      </div>
      <ion-label>Forum</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isLoggedIn()" tab="more">
      <div class="icon-tabs">
        <img src="../../assets/images/icon/icon-more.svg">
      </div>
      <ion-label>More</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="isLoggedIn()"  tab="profile">
      <div class="icon-tabs">
        <img src="../../assets/images/icon/icon-profile.svg">
      </div>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>