.section-filter {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--ion-color-border);
}

.section-filter ion-button ion-icon {
  color: var(--ion-color-light-text);
  margin-right: 5px;
}

.section-listing ion-list {
  margin-bottom: 0;
}

.section-listing ion-list ion-item {
  padding: 8px 16px;
  border-bottom: 1px solid var(--ion-color-border);
}

.section-listing ion-list ion-item:last-child {
  border-bottom: 0 transparent;
}

.section-listing ion-list ion-item ion-thumbnail {
  height: 120px;
  width: 120px;
  border-radius: 4px;
  overflow: hidden;
}

.section-listing ion-list ion-item ion-label {
  text-overflow: inherit;
  white-space: inherit;
  margin: 0;
  position: relative;
}

.section-listing ion-list ion-item ion-label .love-icon {
  position: absolute;
  top: -2px;
  right: 0;
  margin: 0;
  --padding-start: 0;
  --padding-end: 0;
  height: auto;
  font-size: 17px;
}

.section-listing ion-list ion-item ion-label .love-icon ion-icon {
  color: var(--ion-color-medium);
}

.section-listing ion-list ion-item ion-label .rating {
  font-size: 11px;
  margin-bottom: 2px;
}

.section-listing ion-list ion-item ion-label .rating ion-icon {
  color: var(--ion-color-primary);
  font-size: 14px;
  margin-right: 5px;
}

.section-listing ion-list ion-item ion-label .rating span {
  color: var(--ion-color-medium);
  margin-top: 1px;
}

.section-listing ion-list ion-item ion-label h3 {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.section-listing ion-list ion-item ion-label .place {
  display: flex;
}

.section-listing ion-list ion-item ion-label .place ion-icon {
  font-size: 13px;
  width: 35px;
  margin-left: -4px;
  color: var(--ion-color-primary);
}

.section-listing ion-list ion-item ion-label .place span {
  font-size: 11px;
  color: var(--ion-color-medium);
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.section-listing ion-list ion-item ion-label .price-contact {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.section-listing ion-list ion-item ion-label .price-contact .price span {
  color: var(--ion-color-medium);
  font-size: 10px;
  display: block;
}

.section-listing ion-list ion-item ion-label .price-contact .price .nominal {
  font-weight: 600;
  font-size: 15px;
}

.section-listing ion-list ion-item ion-label .price-contact .contact ion-button {
  font-weight: 700;
  margin: 0;
}
