<ion-header no-border>
  <ion-toolbar>
    <ion-title>Search Listings</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section">
    <div (click)="presentModal()" class="section-search ion-padding">
      <!-- <ion-searchbar [(ngModel)]="searchKeyword" (ionChange)="search(ev)" mode="md" placeholder="Search here"></ion-searchbar> -->
      <p *ngIf="searchKeyword !== ''" class="text-center">{{searchKeyword}}</p>
      <p *ngIf="searchKeyword == ''" class="text-center">Refine your search here ...</p>
    </div>
    <div class="section-filter">
      <ion-button (click)="presentModalSort()" fill="clear" class="love-icon">
        <ion-icon name="md-funnel"></ion-icon>
        <span>Sort <small style="color:dodgerblue;" *ngIf="getSearchListingParam().sort_field !== ''">{{getSearchListingParam().sort_field}} <ion-icon mode="md" style="color:orange;position: absolute;top: 18px;" *ngIf="getSearchListingParam().sort_order == 'asc'" name="arrow-up"></ion-icon> <ion-icon mode="md" style="color:orange;position: absolute;top: 18px;" *ngIf="getSearchListingParam().sort_order == 'desc'" name="arrow-down"></ion-icon></small></span>
      </ion-button>
      <ion-button (click)="presentModal()" fill="clear" class="love-icon">
        <ion-icon name="ios-funnel"></ion-icon>
        <span>Filter</span>
      </ion-button>
      <ion-button routerLink="/map-listing" fill="clear" class="love-icon">
        <ion-icon name="md-map"></ion-icon>
        <span>Map</span>
      </ion-button>
    </div>
  </div>
  <div class="section section-listing">
    <ion-list>
      <ion-item *ngFor="let item of listings">
        <ion-thumbnail (click)="viewListing(item)" slot="start">
          <img src="{{item.photo_url}}">
        </ion-thumbnail>
        <ion-label>
          <!-- <ion-button fill="clear" class="love-icon">
            <ion-icon name="ios-heart-empty"></ion-icon>
          </ion-button>
          <div class="rating">
            <ion-icon name="ios-star"></ion-icon>
            <span>4.5</span>
          </div> -->
          <h3>{{item.project_name}}</h3>
          <small>{{item.highlights}}</small>
          <div (click)="viewMap(item)" class="place">
            <ion-icon name="md-pin"></ion-icon>
            <span>{{item.address_line_1}} {{item.address_line_2}}</span>
          </div>
          <div class="price-contact">
            <div class="price">
              <span>Price</span>
              <div class="nominal">{{item.attributes.price_formatted}}</div>
            </div>
            <div class="contact">
              <ion-button (click)="contactAgent(item)" color="primary" size="small"><ion-icon name="call"></ion-icon> Contact Agent</ion-button>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="showContact" class="overlay"></div>
  <div *ngIf="showContact" class="agent">
    <a (click)="close()" class="close"><ion-icon name="close"></ion-icon></a>
    <div class="agent-left">
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{getContact().photo_url}}">
        </ion-avatar>
        <ion-label>
          <h2>{{getContact().user.name}}</h2>
          <p>Agents <span class="color-blue">{{getContact().user.agent_number}}</span></p>
        </ion-label>
      </ion-item>
    </div>
    <div class="button">
      <ion-button size="small" color="tertiary" target="_new" href="{{whatsapp(getContact().user.phone)}}"><ion-icon name="call"></ion-icon> Contact Now </ion-button>
    </div>
  </div>
</ion-content>
