.section-filter {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--ion-color-border);
    ion-button {
        ion-icon {
            color: var(--ion-color-light-text);
            margin-right: 5px;
        }
    }
}
.section-listing {
    ion-list {
        margin-bottom: 0;

        ion-item {
            padding: 8px 16px;
            border-bottom: 1px solid var(--ion-color-border);

            &:last-child {
                border-bottom: 0 transparent;
            }

            ion-thumbnail {
                height: 120px;
                width: 120px;
                border-radius: 4px;
                overflow: hidden;
            }

            ion-label {
                text-overflow: inherit;
                white-space: inherit;
                margin: 0;
                position: relative;

                .love-icon {
                    position: absolute;
                    top: -2px;
                    right: 0;
                    margin: 0;
                    --padding-start: 0;
                    --padding-end: 0;
                    height: auto;
                    font-size: 17px;

                    ion-icon {
                        color: var(--ion-color-medium);
                    }
                }

                .rating {
                    font-size: 11px;
                    margin-bottom: 2px;

                    ion-icon {
                        color: var(--ion-color-primary);
                        font-size: 14px;
                        margin-right: 5px;
                    }

                    span {
                        color: var(--ion-color-medium);
                        margin-top: 1px;
                    }
                }

                h3 {
                    font-weight: 600;
                    font-size: 15px;
                    // margin-bottom: 8px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .place {
                    display: flex;

                    ion-icon {
                        font-size: 13px;
                        width: 17px;
                        margin-left: -4px;
                        color: var(--ion-color-primary);
                    }

                    span {
                        font-size: 11px;
                        color: var(--ion-color-medium);
                        display: block;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }

                .price-contact {
                    margin-top: 10px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;

                    .price {
                        span {
                            color: var(--ion-color-medium);
                            font-size: 10px;
                            display: block;
                        }

                        .nominal {
                            font-weight: 600;
                            font-size: 15px;
                        }
                    }

                    .contact {
                        ion-button {
                            font-weight: 700;
                            margin: 0;
                        }
                    }
                }
            }
            
        }
    }
}
.overlay{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0;
}
.agent {
    .close{
        right: 0;
        position: absolute;
        top: 0;
        font-size: 30px;
        z-index: 999;
    }
    width: 95%;
    padding: 20px;
    margin: 0 auto;
    top: 30%;
    border-radius: 5px;
    margin: 3%;
    position:fixed;
    z-index: 9999;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    padding-top: 7px;
    margin-bottom: -5px;
    border-top: 1px solid var(--ion-color-border);
    ion-item {
        ion-avatar {
            margin-right: 5px;
            width: 100px;
            height:100px;
        }
        ion-label {
            margin: 0;
            h2 {
                font-weight: 600;
                font-size: 16px;
            }
            p {
                font-size: 12px;
            }
        }
    }
}