<ion-header no-border>
  <ion-toolbar>
    <ion-title>Matching Request</ion-title>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/tabs/tabs/home" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loaded && listingCount  > 0" class="ion-padding section-green">
      We have found {{listingCount}} listings matching for your request !
  </div>
  <div class="tabs ion-padding">
    <div class="title" *ngIf="loaded">Found {{listingCount}} Listings</div>
    <div class="tabs-option">
      <ion-segment>
        <ion-segment-button (click)="toggleNotif('listing-list')" value="listing-list" [checked]="notifState == 'listing-list'">
          <ion-label class="listing-list"></ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="toggleNotif('listing-grid')" value="listing-grid"
          [checked]="notifState == 'listing-grid'">
          <ion-label class="listing-grid"></ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="map()" [checked]="false">
            <ion-icon style="color:rosybrown;" name="md-map"></ion-icon>
        </ion-segment-button>
      </ion-segment>
            
    </div>
  </div>
  <div class="contents">
    <div id="listing-list" [hidden]="notifState !== 'listing-list'" class="section-listing">
        <p class="ion-padding" *ngIf="!loaded">Please wait while we check with server..</p>
        <p class="ion-padding" *ngIf="loaded && listings.length == 0">No record found</p>

      <ion-list>
        <div *ngFor="let item of this._propertyListingService.pcaPropertyListing" class="item-listing">
          <ion-label>
            <!-- <ion-button fill="clear" class="love-icon">
              <ion-icon name="ios-heart-empty"></ion-icon>
            </ion-button> -->
            <div class="category">
              <ion-button color="primary" size="small">{{item.listing_type.toUpperCase()}}</ion-button> <ion-button color="dark" size="small">PCA</ion-button>
            </div>
            <h3 (click)="viewListingPca(item)">{{item.property_name}}</h3>
            
            <div (click)="viewMapPCA(item)" class="place">
              <ion-icon name="md-pin"></ion-icon>
              <span>{{item.address}}</span>
            </div>
            <div class="highlights">
                <small>{{item.highlights}}</small>
            </div>
            <div class="price-block">
              <div class="price">
                <span>Price</span>
                <div class="nominal">{{item.price | number: '1.2-2'}}</div>
              </div>
            </div>
          </ion-label>
          <div class="agent">
            <div class="agent-left">
              <ion-item>
                <ion-label>
                  <h2>PCA</h2>
                  <p>Agents</p>
                </ion-label>
              </ion-item>
            </div>
            <div class="button">
              <ion-button size="small">Contact Agent <ion-icon name="call"></ion-icon></ion-button>
            </div>
          </div>
        </div>
        <div *ngFor="let item of listings" class="item-listing">
          <ion-label>
            <!-- <ion-button fill="clear" class="love-icon">
              <ion-icon name="ios-heart-empty"></ion-icon>
            </ion-button> -->
            <div class="category">
              <ion-button color="primary" size="small">{{item.listing_type.toUpperCase()}}</ion-button>
            </div>
            <h3 (click)="viewListing(item)">{{item.project_name}}</h3>
            
            <div (click)="viewMap(item)" class="place">
              <ion-icon name="md-pin"></ion-icon>
              <span>{{item.address_line_1}} {{item.address_line_2}}</span>
            </div>
            <div class="highlights">
                <small>{{item.highlights}}</small>
            </div>
            <div class="price-block">
              <div class="price">
                <span>Price</span>
                <div class="nominal">{{item.attributes.price_formatted}}</div>
              </div>
            </div>
          </ion-label>
          <div class="agent">
            <div class="agent-left">
              <ion-item>
                <ion-avatar slot="start">
                  <img src="{{item.user.photo_url}}">
                </ion-avatar>
                <ion-label>
                  <h2>{{item.user.name}}</h2>
                  <p>Agents <span class="color-blue">{{item.user.agent_number}}</span></p>
                </ion-label>
              </ion-item>
            </div>
            <div class="button">
              <ion-button size="small" href="tel:{{item.user.phone}}">Contact Agent <ion-icon name="call"></ion-icon></ion-button>
            </div>
          </div>
        </div>
        <!-- <div class="item-listing">
          <ion-label>
            <ion-button fill="clear" class="love-icon">
              <ion-icon name="ios-heart-empty"></ion-icon>
            </ion-button>
            <div class="category">
              <ion-button color="primary" size="small">Sale</ion-button>
            </div>
            <h3>Eight Riversuites</h3>
            <div class="place">
              <ion-icon name="md-pin"></ion-icon>
              <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
            </div>
            <div class="price-block">
              <div class="price">
                <span>Price</span>
                <div class="nominal">$14.992</div>
              </div>
            </div>
          </ion-label>
          <div class="agent">
            <div class="agent-left">
              <ion-item>
                <ion-avatar slot="start">
                  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
                <ion-label>
                  <h2>Hendry Zheng</h2>
                  <p>Agents <span class="color-blue">PCA Member</span></p>
                </ion-label>
              </ion-item>
            </div>
            <div routerLink="" class="button">
              <ion-button size="small">Contact Agent</ion-button>
            </div>
          </div>
        </div> -->
      </ion-list>
    </div>
    <div id="listing-grid" [hidden]="notifState !== 'listing-grid'" class="section-listing">
        <p class="ion-padding" *ngIf="!loaded">Please wait while we check with server..</p>
        <p class="ion-padding" *ngIf="loaded && (listings.length == 0 && this._propertyListingService.pcaPropertyListing.length == 0)">No record found</p>

      <ion-list>
        <div *ngFor="let item of this._propertyListingService.pcaPropertyListing" class="item-listing">
          <ion-thumbnail (click)="viewListingPca(item)" slot="start">
            <img src="{{item.photo_url}}">
          </ion-thumbnail>
          <ion-label>
            <!-- <ion-button fill="clear" class="love-icon">
              <ion-icon name="ios-heart-empty"></ion-icon>
            </ion-button> -->
            <div class="category">
              <ion-button color="primary" size="small">{{item.listing_type.toUpperCase()}}</ion-button> <ion-button color="dark" size="small">PCA</ion-button>
            </div>
            <h3>{{item.property_name}}</h3>
            <small>{{item.highlights}}</small>
            <div (click)="viewMapPCA(item)" class="place">
              <ion-icon name="md-pin"></ion-icon>
              <span>{{item.address}}</span>
            </div>
            <div class="price-block">
              <div class="price">
                <span>Price</span>
                <div class="nominal">{{item.price | number: '1.2-2'}}</div>
              </div>
            </div>
          </ion-label>
        </div>
        <div *ngFor="let item of listings" class="item-listing">
          <ion-thumbnail (click)="viewListing(item)" slot="start">
            <img src="{{item.photo_url}}">
          </ion-thumbnail>
          <ion-label>
            <!-- <ion-button fill="clear" class="love-icon">
              <ion-icon name="ios-heart-empty"></ion-icon>
            </ion-button> -->
            <div class="category">
              <ion-button color="primary" size="small">{{item.listing_type.toUpperCase()}}</ion-button>
            </div>
            <h3>{{item.project_name}}</h3>
            <small>{{item.highlights}}</small>
            <div (click)="viewMap(item)" class="place">
              <ion-icon name="md-pin"></ion-icon>
              <span>{{item.address_line_1}} {{item.address_line_2}}</span>
            </div>
            <div class="price-block">
              <div class="price">
                <span>Price</span>
                <div class="nominal">{{item.attributes.price_formatted}}</div>
              </div>
            </div>
          </ion-label>
        </div>
        <!-- <div class="item-listing">
          <ion-thumbnail slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
          <ion-label>
            <ion-button fill="clear" class="love-icon">
              <ion-icon name="ios-heart-empty"></ion-icon>
            </ion-button>
            <div class="category">
              <ion-button color="primary" size="small">Sale</ion-button>
            </div>
            <h3>Eight Riversuites</h3>
            <div class="place">
              <ion-icon name="md-pin"></ion-icon>
              <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
            </div>
            <div class="price-block">
              <div class="price">
                <span>Price</span>
                <div class="nominal">$14.992</div>
              </div>
            </div>
          </ion-label>
          <div class="agent">
            <div class="agent-left">
              <ion-item>
                <ion-avatar slot="start">
                  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
                <ion-label>
                  <h2>Hendry Zheng</h2>
                  <p>Agents <span class="color-blue">PCA Member</span></p>
                </ion-label>
              </ion-item>
            </div>
            <div routerLink="" class="button">
              <ion-button size="small">Contact Agent</ion-button>
            </div>
          </div>
        </div> -->
      </ion-list>
    </div>
  </div>

</ion-content>