.section-green {
  background: var(--ion-color-green);
  color: var(--ion-color-primary-contrast);
  text-align: center;
  font-weight: 600;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--ion-color-border);
}

.tabs .title {
  font-weight: 600;
}

.tabs .tabs-option ion-segment-button {
  border: 0 transparent;
}

.tabs .tabs-option ion-segment-button.segment-button-checked {
  background: transparent;
}

.tabs .tabs-option ion-segment-button.segment-button-checked ion-label {
  background: var(--ion-color-primary);
}

.tabs .tabs-option ion-segment-button ion-label {
  width: 19px;
  height: 19px;
  background: var(--ion-color-border-grey);
  position: relative;
  overflow: hidden;
  margin: 0 7px;
}

.tabs .tabs-option ion-segment-button ion-label:after, .tabs .tabs-option ion-segment-button ion-label:before {
  content: '';
  position: absolute;
  background: var(--ion-color-primary-contrast);
}

.tabs .tabs-option ion-segment-button ion-label.listing-list:before {
  width: 100%;
  height: 2px;
  left: 0;
  top: 5px;
}

.tabs .tabs-option ion-segment-button ion-label.listing-list:after {
  width: 100%;
  height: 2px;
  left: 0;
  top: 12px;
}

.tabs .tabs-option ion-segment-button ion-label.listing-grid:before {
  width: 2px;
  height: 105%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tabs .tabs-option ion-segment-button ion-label.listing-grid:after {
  width: 105%;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.contents #listing-list .item-listing ion-label {
  width: 100%;
}

.contents #listing-list .item-listing ion-label:after {
  content: '';
  display: table;
  clear: both;
}

.contents #listing-list .item-listing ion-label .category,
.contents #listing-list .item-listing ion-label h3,
.contents #listing-list .item-listing ion-label .place {
  float: left;
  width: 60%;
}

.contents #listing-list .item-listing ion-label .price {
  float: right;
  padding-left: 30px;
}

.section-listing ion-list {
  margin-bottom: 0;
}

.section-listing ion-list .item-listing {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 16px;
  border-bottom: 2px solid var(--ion-color-border);
}

.section-listing ion-list .item-listing:last-child {
  border-bottom: 0 transparent;
}

.section-listing ion-list .item-listing ion-thumbnail {
  height: 120px;
  width: 120px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 15px;
}

.section-listing ion-list .item-listing ion-label {
  text-overflow: inherit;
  white-space: inherit;
  margin: 0;
  position: relative;
  width: calc(100% - 135px);
}

.section-listing ion-list .item-listing ion-label .love-icon {
  position: absolute;
  top: -2px;
  right: 0;
  margin: 0;
  --padding-start: 0;
  --padding-end: 0;
  height: auto;
  font-size: 17px;
}

.section-listing ion-list .item-listing ion-label .love-icon ion-icon {
  color: var(--ion-color-medium);
}

.section-listing ion-list .item-listing ion-label .category ion-button {
  font-weight: 700;
  font-size: 11px;
}

.section-listing ion-list .item-listing ion-label h3 {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.section-listing ion-list .item-listing ion-label .place {
  display: flex;
}

.section-listing ion-list .item-listing ion-label .place ion-icon {
  font-size: 13px;
  width: 35px;
  margin-left: -4px;
  color: var(--ion-color-primary);
}

.section-listing ion-list .item-listing ion-label .place span {
  font-size: 11px;
  color: var(--ion-color-medium);
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.section-listing ion-list .item-listing ion-label .price-block {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.section-listing ion-list .item-listing ion-label .price-block .price span {
  color: var(--ion-color-medium);
  font-size: 10px;
  display: block;
}

.section-listing ion-list .item-listing ion-label .price-block .price .nominal {
  font-weight: 600;
  font-size: 15px;
}

.section-listing ion-list .item-listing .agent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
  padding-top: 7px;
  margin-bottom: -5px;
  border-top: 1px solid var(--ion-color-border);
}

.section-listing ion-list .item-listing .agent ion-item ion-avatar {
  margin-right: 5px;
}

.section-listing ion-list .item-listing .agent ion-item ion-label {
  margin: 0;
}

.section-listing ion-list .item-listing .agent ion-item ion-label h2 {
  font-weight: 600;
  font-size: 14px;
}

.section-listing ion-list .item-listing .agent ion-item ion-label p {
  font-size: 11px;
}
