.section-green {
    background: var(--ion-color-green);
    color: var(--ion-color-primary-contrast);
    text-align: center;
    font-weight: 600;
}
.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--ion-color-border);
    .title {
        font-weight: 600;
    }
    .tabs-option {
        ion-segment-button {
            border: 0 transparent;
            &.segment-button-checked {
                background: transparent;
                ion-label {
                    background: var(--ion-color-primary);
                }
            }
            ion-label {
                width: 19px;
                height: 19px;
                background: var(--ion-color-border-grey);
                position: relative;
                overflow: hidden;
                margin: 0 7px;
                &:after, &:before {
                    content: '';
                    position: absolute;
                    background: var(--ion-color-primary-contrast);
                }
                &.listing-list {
                    &:before {
                        width: 100%;
                        height: 2px;
                        left: 0;
                        top: 5px;
                    }
                    &:after {
                        width: 100%;
                        height: 2px;
                        left: 0;
                        top: 12px;
                    }
                }
                &.listing-grid {
                    &:before {
                        width: 2px;
                        height: 105%;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                    &:after {
                        width: 105%;
                        height: 2px;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}
.contents {
    #listing-list {
        .item-listing {
            ion-label {
                width: 100%;
                &:after {
                    content: '';
                    display: table;
                    clear: both;
                }
                .category,
                h3,
                .place, .highlights {
                    float: left;
                    width: 60%;
                }
                .price {
                    float: right;
                    padding-left: 30px;
                }
            }
        }
    }
}
.section-listing {
    ion-list {
        margin-bottom: 0;

        .item-listing {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 15px 16px;
            border-bottom: 2px solid var(--ion-color-border);

            &:last-child {
                border-bottom: 0 transparent;
            }

            ion-thumbnail {
                height: 120px;
                width: 120px;
                border-radius: 4px;
                overflow: hidden;
                margin-right: 15px;
            }

            ion-label {
                text-overflow: inherit;
                white-space: inherit;
                margin: 0;
                position: relative;
                width: calc(100% - 135px);

                .love-icon {
                    position: absolute;
                    top: -2px;
                    right: 0;
                    margin: 0;
                    --padding-start: 0;
                    --padding-end: 0;
                    height: auto;
                    font-size: 17px;

                    ion-icon {
                        color: var(--ion-color-medium);
                    }
                }
                .category {
                    ion-button {
                        font-weight: 700;
                        font-size: 11px;
                    }
                }
                h3 {
                    font-weight: 600;
                    font-size: 14px;
                    margin-bottom: 0px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .place {
                    display: flex;

                    ion-icon {
                        font-size: 13px;
                        width:17px;
                        margin-left: -4px;
                        color: var(--ion-color-primary);
                    }

                    span {
                        font-size: 11px;
                        color: var(--ion-color-medium);
                        display: block;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }

                .price-block {
                    margin-top: 10px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;

                    .price {
                        span {
                            color: var(--ion-color-medium);
                            font-size: 10px;
                            display: block;
                        }

                        .nominal {
                            font-weight: 600;
                            font-size: 15px;
                        }
                    }
                }
            }
            .agent {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-top: 15px;
                padding-top: 7px;
                margin-bottom: -5px;
                border-top: 1px solid var(--ion-color-border);
                ion-item {
                    ion-avatar {
                        margin-right: 5px;
                    }
                    ion-label {
                        margin: 0;
                        h2 {
                            font-weight: 600;
                            font-size: 14px;
                        }
                        p {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
}