// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import 'assets/styles/pca.scss';
ion-app {
    /*animation of native keyboard show*/
    transition: margin 300ms;
}
.text-center{
    text-align: center;
}
.searchbar-clear-icon {
    display: none !important;
}
.required{
    color:#f00;
}
.leaflet-popup-content-wrapper, .leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background:none !important;
    box-shadow: none !important;
}