<ion-header no-border>
  <ion-toolbar>
    <ion-title>Properties</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/account-property-type" text="" icon="ios-arrow-back"><ion-icon name="funnel"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="section section-search ion-padding">
        <label><b>Location <span class="required">*</span></b></label>
        <ion-searchbar name="keyword" showCancelButton="never" [(ngModel)]="search" (ionInput)="searchKeyword($event)" mode="md" placeholder="Search by keyword"></ion-searchbar>
        <div [hidden]="hideSearch" [style.height.px]="height" class="results">
          <div *ngFor="let item of searchKeywordListingResult" class="section-search">
            <h3>{{item.title}}</h3>
            <ion-list>
              <ion-item (click)="selectKeywordResult(sub_item)" *ngFor="let sub_item of item.locations">
                <ion-avatar slot="start">
                    <i *ngIf="sub_item.type == 'subway_station'" class="fa fa-train"></i> 
                    <i *ngIf="sub_item.type !== 'subway_station'" class="fa fa-bandcamp"></i>
                </ion-avatar>
                <ion-label>
                  <h4>{{sub_item.title}}</h4>
                  <p>{{sub_item.subtitle}}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </div>
  <p style="background:none;" class="text-center" *ngIf="!publicPropertyLoaded">Properties are loading up ...</p>
  <div *ngIf="myListing.length > 0" class="properties">
      <ion-list>
          <ion-item *ngFor="let item of myListing">
              <ion-thumbnail (click)="viewListing(item)" slot="start">
                  <img src="{{item.photo_url}}">
                </ion-thumbnail>
                <ion-label>
                  <!-- <ion-button fill="clear" class="love-icon">
                    <ion-icon name="ios-heart-empty"></ion-icon>
                  </ion-button>
                  <div class="rating">
                    <ion-icon name="ios-star"></ion-icon>
                    <span>4.5</span>
                  </div> -->
                  <h3>{{item.project_name}}</h3>
                  <small>{{item.highlights}}</small>
                  <div (click)="viewMap(item)" class="place">
                    <ion-icon name="md-pin"></ion-icon>
                    <span>{{item.address_line_1}} {{item.address_line_2}}</span>
                  </div>
                  <div class="price-contact">
                    <div class="price">
                      <span>Price</span>
                      <div class="nominal">{{item.attributes.price_formatted}}</div>
                    </div>
                    <!-- <div class="contact">
                      <ion-button (click)="contactAgent(item)" color="primary" size="small"><ion-icon name="call"></ion-icon> Contact Agent</ion-button>
                    </div> -->
                  </div>
                </ion-label>
          </ion-item>
        </ion-list>
  </div>
</ion-content>
