.properties {
    ion-list {
        margin-bottom: 0;

        ion-item {
            padding: 8px 16px;
            border-bottom: 1px solid var(--ion-color-border);

            &:last-child {
                border-bottom: 0 transparent;
            }

            ion-thumbnail {
                height: 120px;
                width: 120px;
                border-radius: 4px;
                overflow: hidden;
            }

            ion-label {
                text-overflow: inherit;
                white-space: inherit;
                margin: 0;
                position: relative;

                .love-icon {
                    position: absolute;
                    top: -2px;
                    right: 0;
                    margin: 0;
                    --padding-start: 0;
                    --padding-end: 0;
                    height: auto;
                    font-size: 17px;

                    ion-icon {
                        color: var(--ion-color-medium);
                    }
                }

                .rating {
                    font-size: 11px;
                    margin-bottom: 2px;

                    ion-icon {
                        color: var(--ion-color-primary);
                        font-size: 14px;
                        margin-right: 5px;
                    }

                    span {
                        color: var(--ion-color-medium);
                        margin-top: 1px;
                    }
                }

                h3 {
                    font-weight: 600;
                    font-size: 15px;
                    margin-bottom: 8px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .place {
                    display: flex;

                    ion-icon {
                        font-size: 13px;
                        width: 17px;
                        margin-left: -4px;
                        color: var(--ion-color-primary);
                    }

                    span {
                        font-size: 11px;
                        color: var(--ion-color-medium);
                        display: block;
                    }
                }

                .price-contact {
                    margin-top: 10px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;

                    .price {
                        span {
                            color: var(--ion-color-medium);
                            font-size: 10px;
                            display: block;
                        }

                        .nominal {
                            font-weight: 600;
                            font-size: 15px;
                        }
                    }

                    .contact {
                        ion-button {
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
.search{
    margin: 10px;
    padding: 10px 20px;
    width: 95%;
    border: 1px solid #ccc;
}
.results{
    position: absolute;
    width: 100%;
    left:0;
    padding:20px;
    top: auto;
    z-index: 999;
    overflow: scroll;
    background:#fff;
    padding-bottom:50px;
}
ion-list.property-location {
    position: fixed;
    z-index: 999;
    width: 100%;
    left: 0;
    padding: 0 10px;
    height: 100vh;
    ion-item {
        ion-label {
            position: relative;
            h3, p {
                width: calc(100% - 45px);
            }
            .edit-button {
                position: absolute;
                top: 0;
                right: 0;
                ion-button {
                    font-weight: 600;
                    margin: 0;
                    height: 26px;
                }
            }
            .place{
                span{
                    font-size:10px;
                    position: relative;
                    top: -5px;
                }
            }
        }
    }
}