input{
    padding: 10px;
    width: 96.5%;
    margin: 8px;
}
ion-list{
    padding:5px;
}
ion-item-divider{
    height:15px !important;
}
.item{
    font-size:12px !important;
    min-height: 2.5rem !important;
}