<ion-header>
  <ion-toolbar>
    <ion-title>Connect to Project</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p *ngIf="loadingResult" text-center class="primary-color">Loading results ...</p>
  <input type="text" (keyup)="onKey($event)" placeholder="Search" name="Search" [(ngModel)]="form.search" />
  <ion-list *ngIf="showResult">
    <ion-item-group *ngFor="let item of getAutoCompleteList()">
      <ion-item-divider color="light">{{item.title}}</ion-item-divider>
      <button ion-item tappable (click)="select(sub_item)" *ngFor="let sub_item of item.locations">
        {{sub_item.title}}
      </button>
    </ion-item-group>
  </ion-list>
  <ion-row *ngIf="selected_option !== ''">
    <ion-col>
      <button (click)="openLink('1')" type="button" ion-button block color="primary">
        99.co
      </button>
    </ion-col>
    <ion-col>
      <button (click)="openLink('2')" type="button" ion-button block color="primary">
        STProperty
      </button>
    </ion-col>
    <ion-col>
      <button (click)="openLink('3')" type="button" ion-button block color="primary">
        SRX
      </button>
    </ion-col>
    <!-- <ion-col>
      <button (click)="openLink('4')" type="button" ion-button block color="primary">
        Original
      </button>
    </ion-col> -->
  </ion-row>
  <p>
    <i>Please fill in search input and select from the list then only click on each site option button to show out website listing.</i>
  </p>
</ion-content>
