<ion-header no-border>
  <ion-toolbar>
    <ion-title>Promotions</ion-title>
    <!-- <ion-avatar slot="primary" class="header-avatar">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div (click)="viewDetail(item)" *ngFor="let item of getPromotion()" class="section section-content-promotions ion-padding">
    <ion-item>
      <!-- <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar> -->
      <ion-label>
          <h2>{{item.title}}</h2>
        <p>{{item.created_date}}</p>
      </ion-label>
    </ion-item>
    <div class="content-promotions">
     
      <p>
          {{item.title_content}}
      </p>
      <ion-card>
        <img src="{{item.image_path}}" />
        <!-- <ion-card-header>
          <ion-card-subtitle><a href="#">pcaalliance.com</a></ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            CLC provide legal services such as Sales & Purchase of properties Refinancing of Loans Enbloc ..
          </p>
        </ion-card-content> -->
      </ion-card>
    </div>
  </div>
  <!-- <div class="section section-content-promotions ion-padding">
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        <h2>Property Connect Alliance Official</h2>
        <p>2 days ago</p>
      </ion-label>
    </ion-item>
  </div> -->
</ion-content>