.section-content-promotions ion-item {
  border-bottom: 1px solid var(--ion-color-border-grey);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section-content-promotions ion-item ion-label {
  margin-inline-end: 0;
}

.section-content-promotions ion-item ion-label h2 {
  font-size: 16px;
  font-weight: 600;
}

.section-content-promotions ion-item ion-label p {
  font-size: 11px;
}

.section-content-promotions .content-promotions h2 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
}

.section-content-promotions .content-promotions p {
  color: var(--ion-color-medium-shade);
  line-height: 1.5;
}

.section-content-promotions .content-promotions p a {
  font-weight: bold;
}

.section-content-promotions .content-promotions ion-card {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid var(--ion-color-border-grey);
}

.section-content-promotions .content-promotions ion-card ion-card-title {
  font-size: 18px;
}

.section-content-promotions .content-promotions ion-card ion-card-subtitle {
  color: var(--ion-color-primary);
  text-transform: lowercase;
  margin-bottom: 10px;
}

.section-content-promotions .content-promotions ion-card ion-card-subtitle a {
  font-weight: 400;
  font-size: 14px;
}

.section-content-promotions .content-promotions ion-card ion-card-content {
  padding-top: 0;
}
