<ion-header no-border>
  <ion-toolbar>
    <ion-title>PCA Agent Tools</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="calculators()">
      <ion-avatar slot="start">
        <ion-icon name="calculator"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Calculators</h2>
      </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>