ion-card {
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    .inner-image {
        overflow: hidden;
        border-radius: 5px;
    }
    ion-card-header {
        padding-left: 0;
        padding-right: 0;
        border-bottom: 1px solid var(--ion-color-border);
        .when {
            color: var(--ion-color-medium);
            font-size: 12px;
            margin-top: 0;
            margin-bottom: 6px;
        }
        h3 {
            font-weight: 600;
            font-size: 17px;
            margin-top: 0;
            margin-bottom: 8px;
            overflow: hidden;
        }
        .place {
            display: flex;
            ion-icon {
                font-size: 13px;
                width: 30px;
                margin-left: -5px;
                color: var(--ion-color-primary);
            }
            span {
                font-size: 12px;
                color: var(--ion-color-medium);
                display: block;
            }
        }
    }
    ion-card-content {
        -webkit-padding-start: 0;
        padding-inline-start: 0;
        -webkit-padding-end: 0;
        padding-inline-end: 0;
        p {
            color: var(--ion-color-medium-shade);
            margin-bottom: 10px;
            line-height: 1.5;
        }
    }
}