ion-card {
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

ion-card .inner-image {
  overflow: hidden;
  border-radius: 5px;
}

ion-card ion-card-header {
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid var(--ion-color-border);
}

ion-card ion-card-header .when {
  color: var(--ion-color-medium);
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 6px;
}

ion-card ion-card-header h3 {
  font-weight: 600;
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 8px;
  overflow: hidden;
}

ion-card ion-card-header .place {
  display: flex;
}

ion-card ion-card-header .place ion-icon {
  font-size: 13px;
  width: 30px;
  margin-left: -5px;
  color: var(--ion-color-primary);
}

ion-card ion-card-header .place span {
  font-size: 12px;
  color: var(--ion-color-medium);
  display: block;
}

ion-card ion-card-content {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-padding-end: 0;
  padding-inline-end: 0;
}

ion-card ion-card-content p {
  color: var(--ion-color-medium-shade);
  margin-bottom: 10px;
  line-height: 1.5;
}
