<ion-header no-border>
  <ion-toolbar>
    <ion-title>Event Details</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <div class="inner-image">
      <img src="../../assets/images/slider-example.png" />
    </div>
    <ion-card-header>
      <p class="when">June 19, 07:30 AM - 09.00 PM</p>
      <h3>PCA Mobile App Training</h3>
      <div class="place">
        <ion-icon name="md-pin"></ion-icon>
        <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
      </div>
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa aperiam neque fuga quam incidunt dolorem, facere ullam accusantium! Dignissimos illo cumque maxime officiis hic iusto autem, impedit nisi suscipit amet.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa aperiam neque fuga quam incidunt dolorem, facere ullam accusantium! Dignissimos illo cumque maxime officiis hic iusto autem, impedit nisi suscipit amet.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa aperiam neque fuga quam incidunt dolorem, facere ullam accusantium! Dignissimos illo cumque maxime officiis hic iusto autem, impedit nisi suscipit amet.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa aperiam neque fuga quam incidunt dolorem, facere ullam accusantium! Dignissimos illo cumque maxime officiis hic iusto autem, impedit nisi suscipit amet.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa aperiam neque fuga quam incidunt dolorem, facere ullam accusantium! Dignissimos illo cumque maxime officiis hic iusto autem, impedit nisi suscipit amet.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>