<ion-header no-border>
  <ion-toolbar>
    <ion-title>Change Email Address</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="saveEmail()" fill="solid" size="small">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section-profile">
    <div class="section-content-profile">
      <div class="title ion-padding">
        <h2>Email Address / Username</h2>
      </div>
      <div class="form ion-padding">
        <ion-item>
          <ion-label position="stacked">Existing Email</ion-label>
          <ion-input name="email" [(ngModel)]="form.email" type="email" value="henry@pcamember.com" class="with-value"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Change Email to</ion-label>
          <ion-input name="newEmail" [(ngModel)]="form.newEmail" placeholder="Enter new email address" type="email"></ion-input>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>