<ion-header no-border>
  <ion-toolbar>
    <ion-title>My Listing</ion-title>
    <ion-buttons slot="secondary">
      <ion-button
        (click)="goBack()"
        routerDirection="backward"
        text=""
        icon="ios-arrow-back"
        ><ion-icon name="ios-arrow-back"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button
        *ngIf="getUserData().member_type == 'pca_member'"
        routerLink="/add-listing-step-address"
        color="primary"
        size="small"
        >Add</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-tab">
    <div id="my-listing" class="content my-listing">
      <p class="text-center" *ngIf="myListing.length < 1">
        No listing added yet.
      </p>
      <ion-list *ngIf="myListing.length > 0">
        <ion-item *ngFor="let item of myListing">
          <ion-thumbnail slot="start">
            <img src="{{ item.photo_url }}" />
          </ion-thumbnail>
          <ion-label>
            <h3>{{ item.property_name }} (ID: {{item.id}})  </h3>
            <div class="place">
              <ion-icon name="md-pin"></ion-icon>
              <span>{{ item.address }}</span>
            </div>
            <div class="price-contact">
              <div class="price">
                <span>Price</span>
                <div class="nominal">${{ item.price }}</div>
              </div>
              <div class="contact">
                <ion-button (click)="editListing(item)" color="primary" size="small">Edit</ion-button
                >&nbsp;
                <ion-button (click)="deleteProperty(item)" color="danger" size="small">Delete</ion-button>
              </div>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
