<ion-header class="header-front" no-border>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="front sign-up ion-padding">
    <div class="wrapper-front">
      <div class="logo">
        <img src="../../assets/images/logo@2x.png">
      </div>
      <div class="content-input">
        <div class="title">
          <h1>Sign Up</h1>
        </div>
        <div class="input">
          <form (ngSubmit)="submitRegister()" class="list-form">
            <ion-item class="agent">
              <ion-label>
                <span>Are you an <a><strong>OrangeTee Agent</strong> ?</a></span>
              </ion-label>
              <ion-toggle name="isAgent" (ionChange)="toggleAgent($event)" [(ngModel)]="form.isAgent" color="primary">
              </ion-toggle>
            </ion-item>
            <ion-item class="name first">
              <ion-label position="stacked">
                <span>Firstname</span>
              </ion-label>
              <ion-input name="firstname" [(ngModel)]="form.firstname" type="text"></ion-input>
            </ion-item>
            <ion-item class="name last">
              <ion-label position="stacked">
                <span>Lastname</span>
              </ion-label>
              <ion-input name="lastname" [(ngModel)]="form.lastname" type="text"></ion-input>
            </ion-item>
            <ion-item class="gender">
              <ion-label position="stacked">
                <span>Gender</span>
              </ion-label>
              <ion-select name="gender" [(ngModel)]="form.gender">
                <ion-select-option value="f">Female</ion-select-option>
                <ion-select-option value="m">Male</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="mobile-number">
              <ion-label position="stacked">
                <span>Mobile Number</span>
              </ion-label>
              <ion-input name="mobile" [(ngModel)]="form.mobile" type="text"></ion-input>
            </ion-item>
            <ion-item class="email">
              <ion-label position="stacked">
                <span>Email</span>
              </ion-label>
              <div *ngIf="form.isAgent">
                <input class="email" type="email" name="email" [(ngModel)]="form.email" style="padding:5px;"
                  placeholder="Your Email" /><span style="color:#fff;">@orangetee.com</span>
              </div>
              <div *ngIf="!form.isAgent">
                <input class="email" type="email" name="email" [(ngModel)]="form.email" placeholder="Your Email" />
              </div>
            </ion-item>
            <ion-item class="password">
              <ion-label position="stacked">
                <span>Password</span>
              </ion-label>
              <ion-input name="password" [(ngModel)]="form.password" type="password">

              </ion-input>
            </ion-item>
            <ion-item class="password">
              <ion-label position="stacked">
                <span>Confirm Password</span>
              </ion-label>
              <ion-input name="password" [(ngModel)]="form.confirm_password" type="password">

              </ion-input>
            </ion-item>
            <div class="remember">
              <ion-checkbox name="agree" [(ngModel)]="form.agree"></ion-checkbox> <span>By checking this, You have agreed to the <a target="_new"
                  href="https://propertyconnectalliance.com">Personal Data Protection Act</a></span>
            </div>
            <div class="button-wrapper">
              <ion-button type="submit" expand="block" class="sign-up">Register</ion-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>