.logo {
  width: 210px;
  margin: 0 auto 25px auto;
}

.button-wrapper {
  margin-bottom: 20px;
}

ion-item.agent ion-label span {
  color: var(--ion-color-primary-contrast);
}

ion-item.name, ion-item.mobile-number, ion-item.email {
  display: inline-block;
  width: 50%;
}

ion-item.name.first, ion-item.mobile-number.first, ion-item.email.first {
  padding-right: 7.5px;
}

ion-item.name.last, ion-item.mobile-number.last, ion-item.email.last {
  padding-left: 7.5px;
}

ion-item.mobile-number {
  padding-right: 7.5px;
}

ion-item.email {
  padding-left: 7.5px;
}
