.logo {
    width: 210px;
    margin: 0 auto 25px auto;
}
.button-wrapper {
    margin-bottom: 20px;
}
ion-item {
    &.agent {
        ion-label {
            span {
                color: var(--ion-color-primary-contrast);
            }
        }
    }
    &.name {
        display: inline-block;
        width: 50%;
        &.first {
            padding-right: 7.5px;
        }
        &.last {
            padding-left: 7.5px;
        }
    }
    // &.mobile-number {
    //     padding-right: 7.5px;
    // }
    // &.email {
    //     padding-left: 7.5px;
    // }
}