ion-content {
    --background: var(--ion-color-primary-contrast);
}
ion-header {
    ion-button {
        font-weight: 700;
        font-size: 13px;
        width: 65px;
        margin-right: 10px;
        height: 35px;
    }
}