<ion-header no-border>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="solid" size="small">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section-profile">
    <div class="section-content-profile">
      <div class="title ion-padding">
        <h2>New Password</h2>
      </div>
      <div class="form ion-padding">
        <ion-item>
          <ion-label position="stacked">Existing Password</ion-label>
          <ion-input placeholder="Existing Password" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">New Password</ion-label>
          <ion-input placeholder="New Password" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Confirm New Password</ion-label>
          <ion-input placeholder="Confirm New Password" type="password"></ion-input>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>