<ion-header no-border>
    <ion-toolbar>
      <ion-title>Customer Data</ion-title>
      <ion-buttons slot="secondary">
        <ion-button routerLink="/tabs/tabs/home" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div id="customer" class="content customer">
        <div class="outer-title ion-padding">
            <ion-button (click)="addCustomer()" color="primary" size="small">Add Customer</ion-button>
        </div>
        <div class="section section-tabs-content">
            <div class="section menu-tab ion-padding">
                <ion-segment ion-padding>
                    <ion-segment-button style="width:50%" (click)="toggleCustomer('PDPA')" value="PDPA" checked>
                       <ion-label>PDPA</ion-label>
                     </ion-segment-button>
                     <ion-segment-button style="width:50%" (click)="toggleCustomer('MarketingConsent')" value="MarketingConsent">
                       <ion-label>Marketing Consent</ion-label>
                     </ion-segment-button>
                   </ion-segment>
              </div>
        </div>
       

          <div id="pdpa" [hidden]="customerState !== 'PDPA'" class="content pdpa">
            <div class="list-customer-data">
                <div (click)="viewCustomer(item)" *ngFor="let item of pdpaList" class="item ion-padding">
                  <div class="customer-name">{{item.fullname}}<ion-button (click)="deleteCustomerConfirmation(item)" style="float:right;" type="button" color="danger" size="small"><ion-icon name="md-close"></ion-icon></ion-button> <ion-button (click)="editCustomer(item)" style="float:right;" type="button" color="light" size="small"><ion-icon name="md-create"></ion-icon></ion-button></div>
                  <div class="customer-contact">
                    <div class="phone">
                      <div class="icon">
                        <ion-icon name="ios-call"></ion-icon>
                      </div>
                      <span><a href=tel:{{item.mobile}}>{{item.mobile}}</a></span>
                    </div>
                    <div class="email">
                      <div class="icon">
                        <ion-icon name="ios-mail"></ion-icon>
                      </div>
                      <span><a href="mailto:{{item.email}}">{{item.email}}</a></span>
                    </div>
                  </div>
                  
                </div>
                <p style="text-align: center;" class="text-center" *ngIf="pdpaList.length == 0">No customer data found.</p>
              </div>
          </div>
          <div id="marketingconsent" [hidden]="customerState !== 'MarketingConsent'" class="content MarketingConsent">
              <div class="list-customer-data">
                  <div (click)="viewCustomer(item)" *ngFor="let item of marketingConsentList" class="item ion-padding">
                    <div class="customer-name">{{item.fullname}}<ion-button (click)="deleteCustomerConfirmation(item)" style="float:right;" type="button" color="danger" size="small"><ion-icon name="md-close"></ion-icon></ion-button> <ion-button (click)="editCustomer(item)" style="float:right;" type="button" color="light" size="small"><ion-icon name="md-create"></ion-icon></ion-button></div>
                    <div class="customer-contact">
                      <div class="phone">
                        <div class="icon">
                          <ion-icon name="ios-call"></ion-icon>
                        </div>
                        <span><a href=tel:{{item.mobile}}>{{item.mobile}}</a></span>
                      </div>
                      <div class="email">
                        <div class="icon">
                          <ion-icon name="ios-mail"></ion-icon>
                        </div>
                        <span><a href="mailto:{{item.email}}">{{item.email}}</a></span>
                      </div>
                    </div>
                  </div>
                  <p style="text-align: center;" class="text-center" *ngIf="marketingConsentList.length == 0">No customer data found.</p>
                </div>
          </div>
        <hr/>
      </div>
</ion-content>
