.customer {
    .filter {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h4 {
            font-size: 16px;
            font-weight: 700;
            margin: 0;
        }

        ion-select {
            max-width: 100%;
            font-size: 13px;
            font-weight: 700;
            background: var(--ion-color-border);
            border-radius: 4px;
        }
    }

    .list-customer-data {
        .item {
            border-bottom: 1px solid var(--ion-color-border);
        }

        .customer-name {
            font-weight: 700;
            margin-bottom: 10px;
        }

        .customer-contact {
            display: flex;
            align-items: center;
            margin: 0 -10px;

            >div {
                display: flex;
                align-items: center;
                padding: 0 10px;

                .icon {
                    background: var(--ion-color-primary);
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    margin-right: 5px;
                    text-align: center;
                    line-height: 25px;

                    ion-icon {
                        color: var(--ion-color-primary-contrast);
                    }
                }

                span {
                    color: var(--ion-color-medium);
                }
            }
        }
    }
}
.menu-tab {
    padding-top: 0;
    padding-bottom: 0;

    ion-segment {
        ion-segment-button {
            color: var(--ion-color-light-text);
            --border-color: transparent;
            --background-activated: var(--ion-color-primary-contrast);
            --background-checked: var(--ion-color-primary-contrast);
            --color-checked: var(--ion-color-primary);
            border-bottom: 2px solid transparent;
            border-width: 0;
            min-height: 0;
            height: 50px;
            line-height: 50px;
            font-weight: 600;

            &.segment-button-checked {
                color: var(--ion-color-primary);
                border-bottom: 2px solid var(--ion-color-primary);
                font-weight: 700;
            }

            &:first-child,
            &:last-child {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}
.hidden{
    display:none !important;
}
a{
    font-size:11px;
}