ion-radio-group.col-3 ion-item {
  flex-basis: calc(33.333% - 10px);
}

ion-radio-group.col-6.no-margin {
  width: 100%;
  margin: 0;
}

ion-radio-group.col-6.no-margin ion-item {
  flex-basis: 16.666%;
  border-radius: 0;
  margin: 0;
}

ion-radio-group.col-6.no-margin ion-item:first-child {
  border-radius: 4px 0 0 4px;
}

ion-radio-group.col-6.no-margin ion-item:last-child {
  border-radius: 0 4px 4px 0;
}

.outer-input {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.outer-input > ion-item, .outer-input .item {
  margin: 0 5px 10px;
  width: calc(100% - 10px);
}

.outer-input > ion-item ion-label, .outer-input .item ion-label {
  font-weight: 600;
  min-height: 20px;
}

.outer-input > ion-item .outer-range, .outer-input .item .outer-range {
  position: relative;
  width: 100%;
}

.outer-input > ion-item .outer-range .text, .outer-input .item .outer-range .text {
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
}

.outer-input > ion-item.required > ion-label:after, .outer-input .item.required > ion-label:after {
  content: '*';
  color: var(--ion-color-danger);
  padding: 0 5px;
}

.outer-input > ion-item > p, .outer-input .item > p {
  color: var(--ion-color-medium-shade);
  font-size: 13px;
  margin: 0;
}

.outer-input > ion-item .input-2-col, .outer-input .item .input-2-col {
  display: flex;
  margin: 0 -5px;
}

.outer-input > ion-item .input-2-col ion-input, .outer-input .item .input-2-col ion-input {
  margin: 0 5px;
  width: calc(100% - 10px);
}

.outer-input > ion-item .counter, .outer-input .item .counter {
  position: absolute;
  bottom: 4px;
  right: 7px;
  font-size: 11px;
  color: var(--ion-color-medium);
}

.outer-input > ion-item .label, .outer-input .item .label {
  position: absolute;
  height: 45px;
  width: 50px;
  text-align: center;
  right: 0;
  bottom: 0;
  color: var(--ion-color-primary-contrast);
  background: var(--ion-color-primary);
  font-weight: 700;
  border-radius: 0 5px 5px 0;
  font-size: 13px;
  line-height: 45px;
}

.outer-input > ion-item.item-floor, .outer-input .item.item-floor {
  width: calc(50% - 10px);
}

.outer-input > ion-item.item-unit, .outer-input .item.item-unit {
  width: calc(50% - 10px);
}

.outer-input ion-input, .outer-input ion-select, .outer-input ion-textarea {
  border-radius: 3px;
  --padding-top: 12px !important;
  --padding-bottom: 12px !important;
  --padding-start: 15px !important;
  --padding-end: 15px;
  border: 1px solid var(--ion-color-border-grey);
  font-size: 14px;
}

ion-radio-group {
  width: calc(100% + 10px);
}

.input-checkbox {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.check {
  width: 50%;
  padding: 8px 5px;
  display: flex;
  align-items: flex-start;
}

.check ion-checkbox {
  --border-radius: 3px;
  height: 20px;
  width: 20px;
}

.check span {
  padding-left: 10px;
  flex-basis: 92%;
  font-weight: 600;
}

.button-wrapper {
  width: 250px;
  margin: 20px auto;
}

.button-wrapper ion-button {
  font-weight: 700;
}

.button-wrapper ion-button.back {
  color: var(--ion-color-blue);
}
