<ion-header no-border>
  <ion-toolbar>
    <ion-title>Listing Connect</ion-title>
    <ion-buttons slot="secondary">
      <ion-button
        routerLink="/tabs/tabs/home"
        routerDirection="backward"
        text=""
        icon="ios-arrow-back"
        ><ion-icon name="ios-arrow-back"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section section-tabs-content">
    <div class="section menu-tab ion-padding">
      <ion-segment>
        <ion-segment-button
          (click)="toggleNotifTab('listing-connect')"
          value="listing-connect"
          [checked]="notifStateTab == 'listing-connect'"
        >
          <ion-label>Listing Connect</ion-label>
        </ion-segment-button>
        <ion-segment-button
          (click)="toggleNotifTab('my-listing')"
          value="my-listing"
          [checked]="notifStateTab == 'my-listing'"
        >
          <ion-label>My Listing</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div class="content-tab">
      <div
        id="Properties"
        [hidden]="notifStateTab !== 'listing-connect'"
        class="content properties"
      >
        
        <div class="contents">
          <div *ngIf="loaded && listings.length  > 0" class="ion-padding section-green">
              We have found {{listings.length}} listings matching for your request !
          </div>
          <p *ngIf="!loaded" class="ion-padding">Please wait while we load data from server ...</p>
          <div class="section">
            <div *ngIf="searchKeyword !== ''" class="section-search ion-padding">
              <p class="text-center">{{searchKeyword}}</p>
            </div>
            <div class="section-filter">
              <ion-button (click)="presentModal()" fill="clear" class="love-icon">
                <ion-icon name="ios-funnel"></ion-icon>
                <span>Search</span>
              </ion-button>
              <ion-button (click)="map()" fill="clear" class="love-icon">
                <ion-icon name="md-map"></ion-icon>
                <span>Map</span>
              </ion-button>
            </div>
          </div>
          <div class="section section-listing">
            <p *ngIf="listings.length == 0 && loaded" class="text-center">No record found</p>
            <ion-list>
              <ion-item *ngFor="let item of listings">
                <ion-thumbnail (click)="viewListing(item)" slot="start">
                  <img src="{{item.photo_url}}">
                </ion-thumbnail>
                <ion-label>
                  <!-- <ion-button fill="clear" class="love-icon">
                    <ion-icon name="ios-heart-empty"></ion-icon>
                  </ion-button>
                  <div class="rating">
                    <ion-icon name="ios-star"></ion-icon>
                    <span>4.5</span>
                  </div> -->
                  <h3>{{item.project_name}}</h3>
                  <small>{{item.highlights}}</small>
                  <div (click)="viewMap(item)" class="place">
                    <ion-icon name="md-pin"></ion-icon>
                    <span>{{item.address_line_1}} {{item.address_line_2}}</span>
                  </div>
                  <div class="price-contact">
                    <div class="price">
                      <span>Price</span>
                      <div class="nominal">{{item.attributes.price_formatted}}</div>
                    </div>
                    <!-- <div class="contact">
                      <ion-button (click)="contactAgent(item)" color="primary" size="small"><ion-icon name="call"></ion-icon> Contact Agent</ion-button>
                    </div> -->
                  </div>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </div>
      <div
        id="customer"
        [hidden]="notifStateTab !== 'my-listing'"
        class="content customer"
      >
        <div class="outer-title ion-padding">
          <ion-button routerLink="/add-listing-step-address" color="primary" size="small"
            >Add Listing</ion-button
          >
        </div>
        <div id="my-listing" class="content my-listing">
          <p class="text-center" *ngIf="myListing.length < 1">
            No listing added yet.
          </p>
          <ion-list *ngIf="myListing.length > 0">
            <ion-item *ngFor="let item of myListing">
              <ion-thumbnail slot="start">
                <img src="{{ item.photo_url }}" />
              </ion-thumbnail>
              <ion-label>
                <h3>{{ item.property_name }} (ID: {{item.id}})</h3>
                <div class="place">
                  <ion-icon name="md-pin"></ion-icon>
                  <span>{{ item.address }}</span>
                </div>
                <div class="price-contact">
                  <div class="price">
                    <span>Price</span>
                    <div class="nominal">${{ item.price }}</div>
                  </div>
                  <div class="contact">
                    <ion-button (click)="editListing(item)" color="primary" size="small">Edit</ion-button
                    >&nbsp;
                    <ion-button (click)="deleteProperty(item)" color="danger" size="small">Delete</ion-button>
                  </div>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </div>
</ion-content>
