<ion-header no-border>
  <ion-toolbar>
    <ion-title>Create New Post</ion-title>
    <!-- <ion-avatar slot="primary" class="header-avatar">
      <img src="{{img_url}}">
    </ion-avatar> -->
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section post ion-padding">
    <div class="title">
      <h3>Add Something</h3>
    </div>
    <div class="post-type">
      <ion-button (click)="takePhotoCamera()" fill="clear" size="small" class="camera">
        <ion-icon name="ios-camera"></ion-icon>
        <div class="label">Take a Photo</div>
      </ion-button>
      <ion-button (click)="takePhotoGallery()" fill="clear" size="small" class="image">
        <ion-icon name="ios-image"></ion-icon>
        <div class="label">Upload Picture</div>
      </ion-button>
    </div>
  </div>

  <div class="section-account ion-padding">
    <div class="account">
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{img_url}}">
        </ion-avatar>
        <ion-label>
          <h2><span *ngIf="getUserData().gender == 'm'">Mr.</span> <span *ngIf="getUserData().gender == 'f'">Ms.</span> {{getUserData().firstname}} {{getUserData().lastname}}</h2>
          <p><span class="color-blue">{{getUserData().title}}</span></p>
        </ion-label>
      </ion-item>
    </div>
  </div>

  <div class="section-input ion-padding">
    <ion-item>
      <ion-textarea placeholder="What do you want to post ?"></ion-textarea>
    </ion-item>
    
  </div>
  <div *ngIf="imageUrl !== 'assets/img/placeholder.png'" class="img-preview ion-padding">
      <img style="max-height:150px;" src="{{imageUrl}}" />
  </div>
</ion-content>