.section-account {
    ion-label {
        margin-inline-end: 0;
        h2 {
            font-weight: 700;
        }
        p {
            font-size: 11px;
        }
    }
}
.section-input {
    ion-textarea {
        font-weight: 600;
    }
}
.post {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-bottom: 0 transparent;
    box-shadow: 0 8px 20px 20px rgba(91, 91, 91, 0.06);
    padding-top: 16px;
    padding-bottom: 15px;
    background-color: var(--ion-color-primary-contrast);
    z-index: 9;
    .title {
        h3 {
            font-weight: 700;
            font-size: 15px;
            margin-top: 0;
        }
    }
    .post-type {
        margin: 0 -12px;
        ion-button {
            font-size: 16px;
            margin: 0;
            display: flex;
            align-items: center;
            --padding-start: 0;
            --padding-end: 0;
            &.camera {
                ion-icon {
                    font-size: 26px;
                }
            }
            ion-icon {
                color: var(--ion-color-primary);
                width: 45px;
            }
            .label {
                width: calc(100% - 45px);
                text-align: left;
                font-weight: 400;
                font-size: 14px;
            }
        }
    }
}
