<ion-header no-border>
  <ion-toolbar>
    <ion-title>Forum</ion-title>
    <!-- <ion-avatar slot="primary" class="header-avatar">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar> -->
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section section-search ion-padding">
    <ion-searchbar showCancelButton="never" (ionInput)="eventHandler($event)" mode="md" placeholder="Search Thread"></ion-searchbar>
  </div>
  <div *ngIf="!loaded" padding align="center">
      Loading ...
    </div>
  <div  (click)="createPostHandler()" class="section section-share-post ion-padding">
    <div class="avatar">
      <ion-avatar>
        <img src="{{img_url}}">
      </ion-avatar>
    </div>
    <div class="input">
      <span>Share a post or photos</span>
    </div>
    <div class="share-type">
      <!-- <ion-button fill="clear" size="small" class="camera"><ion-icon name="ios-camera"></ion-icon></ion-button> -->
      <!-- <ion-button fill="clear" size="small" class="image"><ion-icon name="ios-image"></ion-icon></ion-button> -->
    </div>
  </div>
  <div *ngIf="loaded">
      <div (click)="viewComments(item)" *ngFor="let item of getPost()" class="section section-forum-list ion-padding">
          <ion-item>
            <ion-avatar *ngIf="item.image !== null" slot="start">
              <img src="{{getImagePath(item)}}">
            </ion-avatar>
            <ion-label>
              <h2>{{item.post_title}}</h2>
              <p>{{item.posted_date}}</p>
            </ion-label>
          </ion-item>
          <div class="content-forum">
            <!-- <h2>CLC Circular Law Chambers LLP</h2> -->
            <div [innerHTML]="item.post_description"></div>
          </div>
          <div (click)="viewComments(item)" class="replies">
            <div class="icon"><img src="../../assets/images/icon/icon-forum.svg" alt=""></div>
            <span>{{item.total_replies}} Replies</span>
          </div>
        </div>
  </div>
  
  
</ion-content>
