.section-share-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-share-post ion-avatar {
  height: 36px;
  width: 36px;
}

.section-share-post .avatar {
  width: 36px;
}

.section-share-post .input {
  padding-left: 15px;
  width: calc(100% - 105px);
}

.section-share-post .input ion-input {
  font-size: 12px;
}

.section-share-post .share-type {
  width: 69px;
}

.section-share-post .share-type ion-button {
  font-size: 16px;
  --padding-start: 4px;
  --padding-end: 4px;
  margin: 0;
}

.section-share-post .share-type ion-button.camera {
  font-size: 20px;
}

.section-share-post .share-type ion-button ion-icon {
  color: var(--ion-color-light-shade);
}

.section-forum-list ion-item {
  border-bottom: 1px solid var(--ion-color-border-grey);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section-forum-list ion-item ion-label {
  margin-inline-end: 0;
}

.section-forum-list ion-item ion-label h2 {
  font-size: 16px;
  font-weight: 600;
}

.section-forum-list ion-item ion-label p {
  font-size: 11px;
}

.section-forum-list .content-forum h2 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
}

.section-forum-list .content-forum p {
  color: var(--ion-color-medium-shade);
  line-height: 1.5;
}

.section-forum-list .content-forum p a {
  font-weight: bold;
}

.section-forum-list .replies {
  display: flex;
  align-items: flex-start;
  padding: 20px 0 5px;
  margin-top: 20px;
  border-top: 1px solid var(--ion-color-border-grey);
}

.section-forum-list .replies .icon {
  width: 30px;
}

.section-forum-list .replies .icon img {
  width: 20px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.section-forum-list .replies > span {
  color: var(--ion-color-medium-shade);
  font-weight: 600;
}
