.section-share-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ion-avatar {
        height: 36px;
        width: 36px;
    }
    .avatar {
        width: 36px;
    }
    .input {
        padding-left: 15px;
        width: calc(100% - 105px);
        ion-input {
            font-size: 12px;
        }
    }
    .share-type {
        width: 69px;
        ion-button {
            font-size: 16px;
            --padding-start: 4px;
            --padding-end: 4px;
            margin: 0;
            &.camera {
                font-size: 20px;
            }
            ion-icon {
                color: var(--ion-color-light-shade);
            }
        }
    }
}
.section-forum-list {
    ion-item {
        border-bottom: 1px solid var(--ion-color-border-grey);
        padding-bottom: 10px;
        margin-bottom: 20px;
        ion-label {
            margin-inline-end: 0;
            h2 {
                font-size: 16px;
                font-weight: 600;
            }
            p {
                font-size: 11px;
            }
        }
    }
    .content-forum {
        h2 {
            font-size: 18px;
            margin-bottom: 15px;
            font-weight: 600;
        }
        p {
            color: var(--ion-color-medium-shade);
            line-height: 1.5;
            a {
                font-weight: bold;
            }
        }
    }
    .replies {
        display: flex;
        align-items: flex-start;
        padding: 20px 0 5px;
        margin-top: 20px;
        border-top: 1px solid var(--ion-color-border-grey);
        .icon {
            width: 30px;
            img {
                width: 20px;
                -webkit-filter: grayscale(100%);
                        filter: grayscale(100%);
            }
        }
        > span {
            color: var(--ion-color-medium-shade);
            font-weight: 600;
        }
    }
}
