<ion-header no-border>
  <ion-toolbar>
    <ion-title>{{getMenu()}}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/tabs" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="openListing(item)" *ngFor="let item of getMenuObj().categories">
      <ion-avatar slot="start">
        <img src="{{getBase()}}{{item.icon_path}}">
      </ion-avatar>
      <ion-label>
        <h2>{{item.category_name}}</h2>
      </ion-label>
    </ion-item>
    <ion-item (click)="openAttachment(item)" *ngFor="let item of getMenuObj().listing">
      <ion-avatar slot="start">
        <img src="{{getBase()}}{{item.icon_path}}">
      </ion-avatar>
      <ion-label>
        <h2>{{item.listing_name}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>