<ion-header no-border>
    <ion-toolbar>
      <ion-title>Maps</ion-title>
      <ion-buttons slot="secondary">
        <ion-button (click)="goBack()"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content>
    <div id="map-pin" style="display:none;">
        <div class="map-pin-property">
            <div class="details">
              <ion-item>
                <ion-thumbnail slot="start">
                  <img src="{{getSelectedListing().photo_url}}">
                </ion-thumbnail>
                <ion-label>
                  <!-- <div class="rating">
                    <ion-icon name="ios-star"></ion-icon>
                    <span>4.5</span>
                  </div> -->
                  <h3>{{getSelectedListing().project_name}}</h3>
                  <div class="place">
                    <ion-icon name="md-pin"></ion-icon>
                    <span>{{getSelectedListing().address_line_1}} {{getSelectedListing().address_line_2}}</span>
                  </div>
                  <div class="price">
                    <ion-button color="primary" size="small">{{getSelectedListing().attributes.price_formatted}}</ion-button>
                  </div>
                </ion-label>
              </ion-item>
            </div>
          </div>
    </div>
    <div id='mapdiv' [style.height.px]="height" [style.width.px]="width"></div>
    <div *ngIf="!isLocationTurnedOn" align="center">Please turn on your gps and re-open the app again.</div>
</ion-content>