ion-content {
    background: var(--ion-color-primary-contrast);
}
.setting-menu {
    .item {
        border-bottom: 2px solid var(--ion-color-border);
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:last-child {
            border-bottom: 0 transparent;
        }
        > span {
            font-weight: 600;
            position: relative;
            padding-left: 35px;
            &:before {
                content: '';
                display: block;
                height: 20px;
                width: 20px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(0, -50%);
            }
        }
        &.account-setting {
            > span {
                &:before {
                    background-image: url('../../assets/images/icon/icon-setting.svg');
                }
            }
        }
        &.manage-listing {
            > span {
                &:before {
                    background-image: url('../../assets/images/icon/icon-manage.svg');
                }
            }
        }
        &.current-location {
            > span {
                &:before {
                    background-image: url('../../assets/images/icon/icon-location.svg');
                }
            }
        }
        &.qr {
            > span {
                &:before {
                    background-image: url('../../assets/images/icon/icon-qr.svg');
                }
            }
        }
        &.compass {
            > span {
                &:before {
                    background-image: url('../../assets/images/icon/icon-compass.svg');
                }
            }
        }
        &.share {
            > span {
                &:before {
                    background-image: url('../../assets/images/icon/icon-share.svg');
                }
            }
        }
        &.logout {
            > span {
                &:before {
                    background-image: url('../../assets/images/icon/icon-logout.svg');
                }
            }
        }
        > ion-icon {
            color: var(--ion-color-medium);
        }
    }
}
