<ion-header no-border>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section-profile">
    <div class="section account ion-padding">
      <div class="account-left">
        <ion-item>
          <ion-avatar slot="start">
            <img src="{{img_url}}">
            <div class="change">
              Change
            </div>
          </ion-avatar>
          <ion-label>
            <h2>{{getUserData().firstname}} {{getUserData().lastname}}</h2>
            <p><a routerLink="/e-namecard">View profile</a></p>
          </ion-label>
        </ion-item>
      </div>
      <div routerLink="/edit-profile" class="label">
        <ion-button size="small">Edit Profile</ion-button>
      </div>
    </div>
    <div class="section-content-profile">
      <ion-list class="setting-menu">
        <div class="item account-setting ion-padding" routerLink="/account-setting">
          <span>Account Settings</span>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </div>
        <div routerLink="/my-listing" class="item manage-listing ion-padding">
          <span>Manage Listings</span>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </div>
        <div (click)="openMaps()" class="item current-location ion-padding">
          <span>My Current Location</span>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </div>
        <div class="item qr ion-padding" (click)="openQR()">
          <span>QR Code Scanner</span>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </div>
        <div class="item compass ion-padding" (click)="viewCompass()">
          <span>Compass</span>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </div>
        <div class="item share ion-padding" (click)="share()">
          <span>Share</span>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </div>
        <div class="item logout ion-padding" (click)="logout()">
          <span>Logout</span>
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
