ion-content {
  background: var(--ion-color-primary-contrast);
}

.setting-menu .item {
  border-bottom: 2px solid var(--ion-color-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting-menu .item:last-child {
  border-bottom: 0 transparent;
}

.setting-menu .item > span {
  font-weight: 600;
  position: relative;
  padding-left: 35px;
}

.setting-menu .item > span:before {
  content: '';
  display: block;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.setting-menu .item.account-setting > span:before {
  background-image: url("../../assets/images/icon/icon-setting.svg");
}

.setting-menu .item.manage-listing > span:before {
  background-image: url("../../assets/images/icon/icon-manage.svg");
}

.setting-menu .item.current-location > span:before {
  background-image: url("../../assets/images/icon/icon-location.svg");
}

.setting-menu .item.qr > span:before {
  background-image: url("../../assets/images/icon/icon-qr.svg");
}

.setting-menu .item.compass > span:before {
  background-image: url("../../assets/images/icon/icon-compass.svg");
}

.setting-menu .item.share > span:before {
  background-image: url("../../assets/images/icon/icon-share.svg");
}

.setting-menu .item.logout > span:before {
  background-image: url("../../assets/images/icon/icon-logout.svg");
}

.setting-menu .item > ion-icon {
  color: var(--ion-color-medium);
}
