<ion-header no-border>
  <ion-toolbar>
    <ion-title>Matching Connect Customer</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="background:none;" class="text-center ion-padding" *ngIf="!publicPropertyLoaded">Properties are loading up ...</p>
  <p style="background:none;" *ngIf="myListing.length == 0 && publicPropertyLoaded" class="text-center">No enquiries found.</p>
  <ion-list>
      <div *ngFor="let item of myListing" class="item-listing">
        <ion-thumbnail (click)="viewListing(item)" slot="start">
          <img src="{{item.photo_url}}">
        </ion-thumbnail>
        <ion-label>
          <div class="category">
            <ion-button color="primary" size="small">{{item.listing_type.toUpperCase()}}</ion-button>
          </div>
          <h3>{{item.project_name}}</h3>
          <small>{{item.highlights}}</small>
          <div (click)="viewMap(item)" class="place">
            <ion-icon name="md-pin"></ion-icon>
            <span>{{item.address_line_1}} {{item.address_line_2}}</span>
          </div>
          <div class="price-block">
            <div class="price">
              <span>Price</span>
              <div class="nominal">{{item.attributes.price_formatted}}</div>
            </div>
          </div>
        </ion-label>
        <div class="agent">
            <div class="agent-left">
              <ion-item>
                <ion-avatar slot="start">
                  <img src="../../assets/images/icon/customer.svg"/>
                </ion-avatar>
                <ion-label>
                  <h2>{{item.customer_name}}</h2>
                  <p class="blue">Matching Customer</p>
                </ion-label>
              </ion-item>
            </div>
            <div class="button">
                <ion-button size="small" color="success" target="_new" href="{{whatsapp(item.customer_mobile)}}">Contact {{item.customer_mobile}} <ion-icon name="call"></ion-icon></ion-button>
              </div>
          </div>
        <div class="agent">
          <div class="agent-left">
            <ion-item>
              <ion-avatar slot="start">
                <img src="{{item.user.photo_url}}">
              </ion-avatar>
              <ion-label>
                <h2>{{item.user.name}}</h2>
                <p>Agents <span class="color-blue">{{item.user.agent_number}}</span></p>
              </ion-label>
            </ion-item>
          </div>
          <div class="button">
              <ion-button size="small" target="_new" href="{{whatsapp(item.user.phone)}}">Contact Agent <ion-icon name="call"></ion-icon></ion-button>
            </div>
        </div>
      </div>
  </ion-list>
</ion-content>
