<ion-header no-border>
  <ion-toolbar>
    <ion-title>Search</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="section section-search ion-padding">
    <ion-searchbar #search [(ngModel)]="myInput" [showCancelButton]="false" (ionFocus)="checkFocus()" (ionBlur)="checkBlur()" (ionClear)="onCancel($event)" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </div>

  <div class="search-result">
      <ion-list *ngIf="listing_result.length > 0">
          <ion-item *ngFor="let item of listing_result" (click)="openAttachment(item)">
            <ion-avatar slot="start">
                <ion-icon *ngIf="item.listing_type == '2'" name="globe"></ion-icon>
                <ion-icon *ngIf="item.listing_type == '1'" name="attach"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{item.listing_name}}</h2>
            </ion-label>
          </ion-item>
      </ion-list>
    <p align="center" *ngIf="listing_result.length < 1">No result found</p>
  </div>
</ion-content>
