ion-content {
  --background: var(--ion-color-primary-contrast);
}

.menus {
  padding: 0;
  margin: 0 -4px 0 -4px;
}

.menus ion-col .inner {
  border: 1px solid var(--ion-color-border-grey);
  border-radius: 5px;
  height: 100%;
}

.menus ion-col .inner .icon-img {
  position: relative;
  padding-bottom: 60%;
  overflow: hidden;
}

.menus ion-col .inner .icon-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 27px;
}

.menus ion-col .inner .menu-title {
  text-align: center;
  margin: 0 5px 5px;
  min-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menus ion-col .inner .menu-title span {
  color: var(--ion-color-blue);
  font-size: 11px;
  display: block;
  line-height: 1.2;
}
