<ion-header no-border>
  <ion-toolbar>
    <ion-title>More Menu</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="none" routerLink='/tabs/tabs/home'>
        <ion-icon slot="end" name="ios-close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="menus">
    <ion-row>
      <ion-col routerLink="/tower-view" size="4">
        <div class="inner">
          <div class="icon-img">
            <img src="../../assets/images/icon/icon-more-menu/icon-tower-view.svg" alt="">
          </div>
          <div class="menu-title">
            <span>Tower View</span>
          </div>
        </div>
      </ion-col>
      <ion-col (click)="customerData()" size="4">
        <div class="inner">
          <div class="icon-img">
            <img src="../../assets/images/icon/icon-more-menu/icon-customer-data.svg" alt="">
          </div>
          <div class="menu-title">
            <span>CRM</span>
          </div>
        </div>
      </ion-col>
      <ion-col routerLink="/matching-customer" size="4">
          <div class="inner">
            <div class="icon-img">
              <img src="../../assets/images/icon/customer.svg" alt="">
            </div>
            <div class="menu-title">
              <span>E-Namecard Property Contacts</span>
            </div>
          </div>
        </ion-col>
      <ion-col (click)="map()" size="4">
        <div class="inner">
          <div class="icon-img">
            <img src="../../assets/images/icon/icon-more-menu/icon-map-view.svg" alt="">
          </div>
          <div class="menu-title">
            <span>Map View</span>
          </div>
        </div>
      </ion-col>
      <!-- <ion-col (click)="marketing()" size="4">
        <div class="inner">
          <div class="icon-img">
            <img src="../../assets/images/icon/icon-more-menu/icon-marketing-video.svg" alt="">
          </div>
          <div class="menu-title">
            <span>Marketing Video</span>
          </div>
        </div>
      </ion-col> -->
      <ion-col size="4">
        <div routerLink="/search-show-listings" class="inner">
          <div class="icon-img">
            <img src="../../assets/images/icon/icon-more-menu/icon-search-listing.svg" alt="">
          </div>
          <div class="menu-title">
            <span>Search Listing</span>
          </div>
        </div>
      </ion-col>
      <ion-col size="4">
        <div routerLink="/request-information" class="inner">
          <div class="icon-img">
            <img src="../../assets/images/icon/icon-more-menu/icon-request-information.svg" alt="">
          </div>
          <div class="menu-title">
            <span>Create a Search</span>
          </div>
        </div>
      </ion-col>
      <ion-col size="4">
        <div routerLink="/search-show-listings" class="inner">
          <div class="icon-img">
            <img src="../../assets/images/icon/icon-more-menu/icon-property-listing.svg" alt="">
          </div>
          <div class="menu-title">
            <span>Property Listing</span>
          </div>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="inner">
          <div class="icon-img">
            <img src="../../assets/images/icon/icon-more-menu/icon-search-criteria.svg" alt="">
          </div>
          <div class="menu-title">
            <span>Search Criteria</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  