<ion-header no-border>
  <ion-toolbar>
    <ion-title>{{getMenu()}}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="viewItem(item)" *ngFor="let item of getPcaListing()">
      <ion-avatar slot="start">
        <img src="{{item.banner_path}}">
      </ion-avatar>
      <ion-label>
        <h2>{{item.title}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>