ion-header {
    ion-button {
        font-weight: 700;
        font-size: 13px;
        width: 65px;
        margin-right: 10px;
        height: 35px;
    }
}
.section-tabs-content {
    .menu-tab {
        padding-top: 0;
        padding-bottom: 0;

        ion-segment {
            ion-segment-button {
                color: var(--ion-color-light-text);
                --border-color: transparent;
                --background-activated: var(--ion-color-primary-contrast);
                --background-checked: var(--ion-color-primary-contrast);
                --color-checked: var(--ion-color-primary);
                border-bottom: 2px solid transparent;
                border-width: 0;
                min-height: 0;
                height: 50px;
                line-height: 50px;
                font-weight: 600;

                &.segment-button-checked {
                    color: var(--ion-color-primary);
                    border-bottom: 2px solid var(--ion-color-primary);
                    font-weight: 700;
                }

                &:first-child,
                &:last-child {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }

    .content-tab {
        .title-content {
            background: var(--ion-color-border-shade-light);
            h2 {
                margin: 0;
                font-size: 16px;
                font-weight: 700;
            }
        }
        .section-trendline {
            .red-section {
                background: var(--ion-color-maroon);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 16px;

                span {
                    color: var(--ion-color-primary-contrast);
                    font-weight: 700;

                }
                .reload {
                    ion-button {
                        margin: 0;
                        --border-radius: 0;
                    }
                }
            }
            .green-section {
                background: var(--ion-color-green);
                font-weight: 700;
                .inner-slide {
                    text-align: left;
                    font-size: 13px;
                    width: 100%;
                    padding: 20px 0 45px;
                }
                .from-to {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    .item {
                        width: 40%;
                        .label {
                            color: var(--ion-color-primary);
                            margin-bottom: 2px;
                        }
                        .value {
                            color: var(--ion-color-primary-contrast);
                        }
                    }
                    .icon {
                        ion-icon {
                            color: var(--ion-color-green);
                            height: 20px;
                            width: 20px;
                            background: var(--ion-color-primary);
                            border-radius: 50%;
                        }
                    }
                }
                .growth-rate {
                    .label {
                        color: var(--ion-color-primary);
                        margin-bottom: 5px;
                    }
                    .wrapper-content-number {
                        display: flex;
                        justify-content: space-between;
                        .content-number {
                            width: 40%;
                            > span {
                                color: var(--ion-color-primary-contrast);
                                padding-bottom: 3px;
                                display: block;
                            }
                            .outer-input {
                                position: relative;
                                border-radius: 4px;
                                overflow: hidden;
                                ion-input {
                                    background: var(--ion-color-primary-contrast);
                                    padding-left: 15px !important;
                                    padding-right: 40px !important;
                                    -webkit-padding-start: 20px;
                                    padding-inline-start: 20px;
                                    -webkit-padding-end: 40px;
                                    padding-inline-end: 40px;
                                }
                                .label-right {
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                    height: 100%;
                                    background: var(--ion-color-primary);
                                    z-index: 4;
                                    padding: 5px;
                                    width: 35px;
                                    line-height: 1.1;
                                    font-size: 10px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                            }
                        }
                    }
                }
            }
        }
        .outer-chart {
            border-bottom: 2px solid var(--ion-color-border);
            h3 {
                margin: 0;
                font-size: 15px;
                font-weight: 600;
            }
            .chart {
                min-height: 200px;
            }
        }
        .legend {
            border-bottom: 2px solid var(--ion-color-border);
            h3 {
                margin: 0 0 10px;
                font-size: 15px;
                font-weight: 700;
            }
            .points {
                display: flex;
                margin: 0 -10px;
                .point {
                    padding: 0 10px;
                    display: flex;
                    align-items: center;
                    span:last-child {
                        color: var(--ion-color-medium-shade);
                        font-size: 13px;
                    }
                    .circle {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        margin-right: 5px;
                    }
                    &.legend-point-1 {
                        .circle {
                            background: var(--ion-color-green);
                        }
                    }
                    &.legend-point-2 {
                        .circle {
                            background: var(--ion-color-primary);
                        }
                    }
                    &.legend-point-3 {
                        .circle {
                            background: var(--ion-color-maroon);
                        }
                    }
                }
            }
        }
        .outer-button {
            box-shadow: 0 8px 20px 20px rgba(91, 91, 91, 0.06);
            ion-button {
                width: 170px;
                margin: 0 auto;
                font-weight: 700;
            }
        }
    }
}