<ion-header no-border>
  <ion-toolbar>
    <ion-title>Search Result</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button fill="solid" size="small">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section section-tabs-content">
    <div class="section menu-tab ion-padding">
      <ion-segment>
        <ion-segment-button (click)="toggleNotif('avg-psf')" value="avg-psf" [checked]="notifState == 'avg-psf'">
          <ion-label>Avg PSF</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="toggleNotif('transaction-volume')" value="transaction-volume"
          [checked]="notifState == 'transaction-volume'">
          <ion-label>Transaction Volume</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="toggleNotif('total-value')" value="total-value"
          [checked]="notifState == 'total-value'">
          <ion-label>Total Volume</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="toggleNotif('table')" value="table" [checked]="notifState == 'table'">
          <ion-label>Table</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div class="content-tab">
      <div id="avg-psf" [hidden]="notifState !== 'avg-psf'" class="content avg-psf">
        <div class="section section-trendline">
          <div class="red-section">
            <span>Trendline Detail Analysis</span>
            <div class="reload">
              <ion-button color="primary">
                <ion-icon name="md-refresh"></ion-icon>
              </ion-button>
            </div>
          </div>
          <div class="green-section ion-padding">
            <ion-slides pager="true">
              <ion-slide>
                <div class="inner-slide">
                  <div class="from-to">
                    <div class="item">
                      <div class="label">From</div>
                      <div class="value">Apr 2019 - $1,497,00</div>
                    </div>
                    <div class="icon">
                      <ion-icon name="md-arrow-forward"></ion-icon>
                    </div>
                    <div class="item">
                      <div class="label">To</div>
                      <div class="value">Feb 2019 - $1,180,00</div>
                    </div>
                  </div>
                  <div class="growth-rate">
                    <div class="label">Growth Rate</div>
                    <div class="wrapper-content-number">
                      <div class="content-number">
                        <span>Overal</span>
                        <div class="outer-input">
                          <ion-input value="-22.11"></ion-input>
                          <div class="label-right">%</div>
                        </div>
                      </div>
                      <div class="content-number">
                        <span>Yearly</span>
                        <div class="outer-input">
                          <ion-input value="-4.10"></ion-input>
                          <div class="label-right">% /Year</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-slide>
              <ion-slide>
                <div class="inner-slide">
                  <div class="from-to">
                    <div class="item">
                      <div class="label">From</div>
                      <div class="value">Apr 2019 - $1,497,00</div>
                    </div>
                    <div class="icon">
                      <ion-icon name="md-arrow-forward"></ion-icon>
                    </div>
                    <div class="item">
                      <div class="label">To</div>
                      <div class="value">Feb 2019 - $1,180,00</div>
                    </div>
                  </div>
                  <div class="growth-rate">
                    <div class="label">Growth Rate</div>
                    <div class="wrapper-content-number">
                      <div class="content-number">
                        <span>Overal</span>
                        <div class="outer-input">
                          <ion-input value="-22.11"></ion-input>
                          <div class="label-right">%</div>
                        </div>
                      </div>
                      <div class="content-number">
                        <span>Yearly</span>
                        <div class="outer-input">
                          <ion-input value="-4.10"></ion-input>
                          <div class="label-right">% /Year</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-slide>
            </ion-slides>
          </div>
        </div>
        <div class="title-content ion-padding">
          <h2>Comparison</h2>
        </div>
        <div class="outer-chart ion-padding">
          <h3>Result Data 1</h3>
          <div class="chart chart-point-1"></div>
        </div>
        <div class="outer-chart ion-padding">
          <h3>Result Data 2</h3>
          <div class="chart chart-point-2"></div>
        </div>
        <div class="outer-chart ion-padding">
          <h3>Result Data 3</h3>
          <div class="chart chart-point-3"></div>
        </div>
        <div class="legend ion-padding">
          <h3>Legend</h3>
          <div class="points">
            <div class="point legend-point-1">
              <span class="circle"></span>
              <span>Point One</span>
            </div>
            <div class="point legend-point-2">
              <span class="circle"></span>
              <span>Point Two</span>
            </div>
            <div class="point legend-point-3">
              <span class="circle"></span>
              <span>Point Three</span>
            </div>
          </div>
        </div>
        <div class="outer-button ion-padding">
          <ion-button color="primary" expand="block">Filter</ion-button>
        </div>
      </div>
      <div id="transaction-volume" [hidden]="notifState !== 'transaction-volume'" class="content transaction-volume">
        transaction-volume
      </div>
      <div id="total-value" [hidden]="notifState !== 'total-value'" class="content total-value">
        total-value
      </div>
      <div id="table" [hidden]="notifState !== 'table'" class="content table">
        table
      </div>
    </div>
  </div>
</ion-content>
