ion-header ion-button {
  font-weight: 700;
  font-size: 13px;
  width: 65px;
  margin-right: 10px;
  height: 35px;
}

.section-tabs-content .menu-tab {
  padding-top: 0;
  padding-bottom: 0;
}

.section-tabs-content .menu-tab ion-segment ion-segment-button {
  color: var(--ion-color-light-text);
  --border-color: transparent;
  --background-activated: var(--ion-color-primary-contrast);
  --background-checked: var(--ion-color-primary-contrast);
  --color-checked: var(--ion-color-primary);
  border-bottom: 2px solid transparent;
  border-width: 0;
  min-height: 0;
  height: 50px;
  line-height: 50px;
  font-weight: 600;
}

.section-tabs-content .menu-tab ion-segment ion-segment-button.segment-button-checked {
  color: var(--ion-color-primary);
  border-bottom: 2px solid var(--ion-color-primary);
  font-weight: 700;
}

.section-tabs-content .menu-tab ion-segment ion-segment-button:first-child, .section-tabs-content .menu-tab ion-segment ion-segment-button:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.section-tabs-content .content-tab .title-content {
  background: var(--ion-color-border-shade-light);
}

.section-tabs-content .content-tab .title-content h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.section-tabs-content .content-tab .section-trendline .red-section {
  background: var(--ion-color-maroon);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
}

.section-tabs-content .content-tab .section-trendline .red-section span {
  color: var(--ion-color-primary-contrast);
  font-weight: 700;
}

.section-tabs-content .content-tab .section-trendline .red-section .reload ion-button {
  margin: 0;
  --border-radius: 0;
}

.section-tabs-content .content-tab .section-trendline .green-section {
  background: var(--ion-color-green);
  font-weight: 700;
}

.section-tabs-content .content-tab .section-trendline .green-section .inner-slide {
  text-align: left;
  font-size: 13px;
  width: 100%;
  padding: 20px 0 45px;
}

.section-tabs-content .content-tab .section-trendline .green-section .from-to {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section-tabs-content .content-tab .section-trendline .green-section .from-to .item {
  width: 40%;
}

.section-tabs-content .content-tab .section-trendline .green-section .from-to .item .label {
  color: var(--ion-color-primary);
  margin-bottom: 2px;
}

.section-tabs-content .content-tab .section-trendline .green-section .from-to .item .value {
  color: var(--ion-color-primary-contrast);
}

.section-tabs-content .content-tab .section-trendline .green-section .from-to .icon ion-icon {
  color: var(--ion-color-green);
  height: 20px;
  width: 20px;
  background: var(--ion-color-primary);
  border-radius: 50%;
}

.section-tabs-content .content-tab .section-trendline .green-section .growth-rate .label {
  color: var(--ion-color-primary);
  margin-bottom: 5px;
}

.section-tabs-content .content-tab .section-trendline .green-section .growth-rate .wrapper-content-number {
  display: flex;
  justify-content: space-between;
}

.section-tabs-content .content-tab .section-trendline .green-section .growth-rate .wrapper-content-number .content-number {
  width: 40%;
}

.section-tabs-content .content-tab .section-trendline .green-section .growth-rate .wrapper-content-number .content-number > span {
  color: var(--ion-color-primary-contrast);
  padding-bottom: 3px;
  display: block;
}

.section-tabs-content .content-tab .section-trendline .green-section .growth-rate .wrapper-content-number .content-number .outer-input {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.section-tabs-content .content-tab .section-trendline .green-section .growth-rate .wrapper-content-number .content-number .outer-input ion-input {
  background: var(--ion-color-primary-contrast);
  padding-left: 15px !important;
  padding-right: 40px !important;
  -webkit-padding-start: 20px;
  padding-inline-start: 20px;
  -webkit-padding-end: 40px;
  padding-inline-end: 40px;
}

.section-tabs-content .content-tab .section-trendline .green-section .growth-rate .wrapper-content-number .content-number .outer-input .label-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: var(--ion-color-primary);
  z-index: 4;
  padding: 5px;
  width: 35px;
  line-height: 1.1;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-tabs-content .content-tab .outer-chart {
  border-bottom: 2px solid var(--ion-color-border);
}

.section-tabs-content .content-tab .outer-chart h3 {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}

.section-tabs-content .content-tab .outer-chart .chart {
  min-height: 200px;
}

.section-tabs-content .content-tab .legend {
  border-bottom: 2px solid var(--ion-color-border);
}

.section-tabs-content .content-tab .legend h3 {
  margin: 0 0 10px;
  font-size: 15px;
  font-weight: 700;
}

.section-tabs-content .content-tab .legend .points {
  display: flex;
  margin: 0 -10px;
}

.section-tabs-content .content-tab .legend .points .point {
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.section-tabs-content .content-tab .legend .points .point span:last-child {
  color: var(--ion-color-medium-shade);
  font-size: 13px;
}

.section-tabs-content .content-tab .legend .points .point .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.section-tabs-content .content-tab .legend .points .point.legend-point-1 .circle {
  background: var(--ion-color-green);
}

.section-tabs-content .content-tab .legend .points .point.legend-point-2 .circle {
  background: var(--ion-color-primary);
}

.section-tabs-content .content-tab .legend .points .point.legend-point-3 .circle {
  background: var(--ion-color-maroon);
}

.section-tabs-content .content-tab .outer-button {
  box-shadow: 0 8px 20px 20px rgba(91, 91, 91, 0.06);
}

.section-tabs-content .content-tab .outer-button ion-button {
  width: 170px;
  margin: 0 auto;
  font-weight: 700;
}
