<ion-header no-border>
    <ion-toolbar>
      <ion-title>Request Information List</ion-title>
      <ion-buttons slot="secondary">
        <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="createSearch()" routerDirection="forward" text="" icon="ios-arrow-back"><ion-icon name="add"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <div class="ion-padding">
          <ion-button routerLink="/add-listing-step-address" expand="block" color="primary" size="small"
          >Add Listing</ion-button
        >
      </div>
      
    <ion-list>
      <ion-item *ngIf="informationList.length == 0">
        <ion-label>No search result found.</ion-label>
      </ion-item>
      <ion-item  *ngFor="let item of informationList">
        <ion-label (click)="search(item)">
            <h2>{{item.search_name}}</h2>
            <h4>{{item.location_name}} - {{item.location_subtitle}}</h4>
            <p>{{item.main_category.toUpperCase()}} <br/> {{item.price_min | currency}} - {{item.price_max | currency}} <br/> {{item.floorarea_min | number}} - {{item.floorarea_max | number}} SQFT<br/> Bedrooms: {{item.rooms}} | Tenure: {{item.tenure}}</p>
            <small><i>{{item.updated_date}}</i></small>
        </ion-label>
        <div class="ion-padding"><ion-button color="danger" (click)="delete(item)">Delete</ion-button></div>

        <ion-note *ngIf="item.total_count_results > 0" slot="end" color="primary">{{item.total_count_results}} results</ion-note>
        
        
      </ion-item>
    </ion-list>
  </ion-content>