<ion-header no-border>
  <ion-toolbar>
    <ion-title>E-Namecard</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loaded">
      <div class="hero-image">
          <img class="bg" src="../../assets/images/enamecard.svg" alt="">
          <img class="ot-logo" src="../../assets/images/otLogo.png"/>
          <div class="ot-text">CEA License No. L3009250K </div>
          <div *ngIf="getUserData() !== null" class="card-details">
            <div class="items">
              <div class="item item-phone">
                <div class="icon"></div>
                <div class="value"><a (click)="openCall()">{{getUserData().mobile}}</a></div>
              </div>
              <div class="item item-whatsapp" style="width:100%;">
                <div class="icon"></div>
                <div class="value"><a (click)="openWhatsapp()">{{getUserData().mobile}}</a></div>
              </div>
              <div class="item item-mail">
                <div class="icon"></div>
                <div class="value"><a (click)="openMail()">{{getUserData().email}}</a></div>
              </div>
              <!-- <div  class="item item-instagram">
                <div class="icon"></div>
                <div class="value"><a ion-button href="https://instagram.com/{{getUserData().instagram}}" target="_new">{{getUserData().instagram}}</a></div>
              </div>
              <div  class="item item-facebook">
                <div class="icon"></div>
                <div class="value"><a ion-button target="_new">{{getUserData().facebook}}</a></div>
              </div> -->
              <!-- <div class="item item-wechat">
                <div class="icon"></div>
                <div class="value"><span *ngIf="getUserData().wechat !== null && getUserData().wechat !== ''">{{getUserData().wechat}}</span></div>
              </div> -->
              
            </div>
          </div>
        </div>
        <div *ngIf="getUserData() !== null" class="section section-avatar ion-padding">
          <ion-item>
            <ion-avatar slot="start">
              <img src="{{img_url}}">
            </ion-avatar>
            <ion-label>
              <h2 routerLink="/edit-profile"><span *ngIf="getUserData().gender == 'm'">Mr.</span> <span *ngIf="getUserData().gender == 'f'">Ms.</span> {{getUserData().firstname}} {{getUserData().lastname}} <ion-icon *ngIf="!hideCustomer" style="
                position: absolute;
                margin-top: 2px;
                margin-left: 10px;
            " name="cog"></ion-icon></h2>
              <p>{{getUserData().title}}</p>
              <p>CEA No. {{getUserData().cea_no}}</p>
              <p *ngIf="getUserData().qualification !== ''">{{getUserData().qualification}}</p>
            </ion-label>
          </ion-item>
        </div>
        <div *ngIf="getUserData().marketing_video" (click)="openMarketingVideo()" class="outer-video">
            <img src="../../assets/images/video_thumbnail.jpeg"/>
        </div>
      
        <div class="ion-padding-small">
          <ion-button (click)="openPropertyPage()" expand="block" style="margin: 0 auto;" color="primary" size="small" type="button">Properties</ion-button>
        </div>
        <div class="ion-padding-small">
          <ion-button (click)="addCustomer('pdpa')" expand="block" style="margin: 0 auto;" color="secondary" size="small" type="button">PDPA</ion-button>
        </div> 
        <div class="ion-padding-small">
          <ion-button (click)="addCustomer('marketingconsent')" expand="block" style="margin: 0 auto;" color="warning" size="small" type="button">Marketing Consent</ion-button>
        </div>
        
        <ion-fab style="position:fixed;background:none;" vertical="bottom" horizontal="end">
          <ion-fab-button><ion-icon name="more"></ion-icon></ion-fab-button>
        
          <ion-fab-list side="top">
            <ion-fab-button color="primary" (click)="share()"><a><ion-icon name="share"></ion-icon></a></ion-fab-button>
            <ion-fab-button color="primary" (click)="openInstagram()"><a><ion-icon name="logo-instagram"></ion-icon></a></ion-fab-button>
            <ion-fab-button color="primary" (click)="openFacebook()"><a><ion-icon name="logo-facebook"></ion-icon></a></ion-fab-button>
            <ion-fab-button color="primary" (click)="openMail()"><a><ion-icon name="mail"></ion-icon></a></ion-fab-button>
            <ion-fab-button color="primary" (click)="openSms()"><a><ion-icon name="send"></ion-icon></a></ion-fab-button>
            <ion-fab-button color="primary" (click)="openCall()"><a><ion-icon name="call"></ion-icon></a></ion-fab-button>
            <ion-fab-button color="primary" (click)="openWhatsapp()"><a><ion-icon name="logo-whatsapp"></ion-icon></a></ion-fab-button>
          </ion-fab-list>
        </ion-fab>
  </div>
  <div *ngIf="!loaded" class="ion-padding text-center">
    <p>Please wait while we load your info..</p>
  </div>
</ion-content>
