.hero-image {
  padding-bottom: 60.25%;
  position: relative;
  overflow: hidden;
}

.hero-image img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  max-width: none;
  height: 100%;
  transform: translate(-50%, -50%);
}

.hero-image .card-details {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 16px 40px;
}

.hero-image .card-details div {
  font-weight: 600;
  color: var(--ion-color-primary);
}

.hero-image .card-details .items {
  display: flex;
  margin: 0 -10px;
  flex-wrap: wrap;
}

.hero-image .card-details .items .item {
  width: 50%;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  font-size: 13px;
}

.hero-image .card-details .items .item .icon {
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.hero-image .card-details .items .item.item-phone .icon {
  background-image: url(../../assets/images/icon/enamecard-phone.svg);
}

.hero-image .card-details .items .item.item-whatsapp .icon {
  background-image: url(../../assets/images/icon/enamecard-whatsapp.svg);
}

.hero-image .card-details .items .item.item-instagram .icon {
  background-image: url(../../assets/images/icon/enamecard-instagram.svg);
}

.hero-image .card-details .items .item.item-facebook .icon {
  background-image: url(../../assets/images/icon/enamecard-facebook.svg);
}

.hero-image .card-details .items .item.item-mail {
  width: 100%;
}

.hero-image .card-details .items .item.item-mail .icon {
  background-image: url(../../assets/images/icon/enamecard-mail.svg);
}

.section-avatar ion-item {
  margin-top: -40px;
  --background: transparent;
}

.section-avatar ion-avatar {
  height: 85px;
  width: 85px;
}

.section-avatar ion-label {
  margin: 20px 0 0;
}

.section-avatar ion-label h2 {
  font-size: 20px;
  font-weight: 700;
}

.section-avatar ion-label p {
  font-size: 13px;
}

.section-tabs-content .menu-tab {
  padding-top: 0;
  padding-bottom: 0;
}

.section-tabs-content .menu-tab ion-segment ion-segment-button {
  color: var(--ion-color-light-text);
  --border-color: transparent;
  --background-activated: var(--ion-color-primary-contrast);
  --background-checked: var(--ion-color-primary-contrast);
  --color-checked: var(--ion-color-primary);
  border-bottom: 2px solid transparent;
  border-width: 0;
  min-height: 0;
  height: 50px;
  line-height: 50px;
  font-weight: 600;
}

.section-tabs-content .menu-tab ion-segment ion-segment-button.segment-button-checked {
  color: var(--ion-color-primary);
  border-bottom: 2px solid var(--ion-color-primary);
  font-weight: 700;
}

.section-tabs-content .menu-tab ion-segment ion-segment-button:first-child, .section-tabs-content .menu-tab ion-segment ion-segment-button:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.section-tabs-content .content-tab {
  margin-top: 5px;
}

.section-tabs-content .content-tab .content > h3 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 0 16px;
}

.section-tabs-content .content-tab .content .outer-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-tabs-content .content-tab .content .outer-title h3 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.section-tabs-content .content-tab .content .outer-title ion-button {
  font-weight: 600;
}

.section-tabs-content .content-tab .content.my-listing ion-list {
  margin-bottom: 0;
}

.section-tabs-content .content-tab .content.my-listing ion-list ion-item {
  padding: 8px 16px;
  border-bottom: 1px solid var(--ion-color-border);
}

.section-tabs-content .content-tab .content.my-listing ion-list ion-item:last-child {
  border-bottom: 0 transparent;
}

.section-tabs-content .content-tab .content.my-listing ion-list ion-item ion-thumbnail {
  height: 120px;
  width: 120px;
  border-radius: 4px;
  overflow: hidden;
}

.section-tabs-content .content-tab .content.my-listing ion-list ion-item ion-label {
  text-overflow: inherit;
  white-space: inherit;
  margin: 0;
  position: relative;
}

.section-tabs-content .content-tab .content.my-listing ion-list ion-item ion-label .love-icon {
  position: absolute;
  top: -2px;
  right: 0;
  margin: 0;
  --padding-start: 0;
  --padding-end: 0;
  height: auto;
  font-size: 17px;
}

.section-tabs-content .content-tab .content.my-listing ion-list ion-item ion-label .love-icon ion-icon {
  color: var(--ion-color-medium);
}

.section-tabs-content .content-tab .content.my-listing ion-list ion-item ion-label .rating {
  font-size: 11px;
  margin-bottom: 2px;
}

.section-tabs-content .content-tab .content.my-listing ion-list ion-item ion-label .rating ion-icon {
  color: var(--ion-color-primary);
  font-size: 14px;
  margin-right: 5px;
}

.section-tabs-content .content-tab .content.my-listing ion-list ion-item ion-label .rating span {
  color: var(--ion-color-medium);
  margin-top: 1px;
}

.section-tabs-content .content-tab .content.my-listing ion-list ion-item ion-label h3 {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.section-tabs-content .content-tab .content.my-listing ion-list ion-item ion-label .place {
  display: flex;
}

.section-tabs-content .content-tab .content.my-listing ion-list ion-item ion-label .place ion-icon {
  font-size: 13px;
  width: 35px;
  margin-left: -4px;
  color: var(--ion-color-primary);
}

.section-tabs-content .content-tab .content.my-listing ion-list ion-item ion-label .place span {
  font-size: 11px;
  color: var(--ion-color-medium);
  display: block;
}

.section-tabs-content .content-tab .content.my-listing ion-list ion-item ion-label .price-contact {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.section-tabs-content .content-tab .content.my-listing ion-list ion-item ion-label .price-contact .price span {
  color: var(--ion-color-medium);
  font-size: 10px;
  display: block;
}

.section-tabs-content .content-tab .content.my-listing ion-list ion-item ion-label .price-contact .price .nominal {
  font-weight: 600;
  font-size: 15px;
}

.section-tabs-content .content-tab .content.my-listing ion-list ion-item ion-label .price-contact .contact ion-button {
  font-weight: 700;
}

.section-tabs-content .content-tab .content.customer .filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-tabs-content .content-tab .content.customer .filter h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.section-tabs-content .content-tab .content.customer .filter ion-select {
  max-width: 100%;
  font-size: 13px;
  font-weight: 700;
  background: var(--ion-color-border);
  border-radius: 4px;
}

.section-tabs-content .content-tab .content.customer .list-customer-data .item {
  border-bottom: 1px solid var(--ion-color-border);
}

.section-tabs-content .content-tab .content.customer .list-customer-data .customer-name {
  font-weight: 700;
  margin-bottom: 10px;
}

.section-tabs-content .content-tab .content.customer .list-customer-data .customer-contact {
  display: flex;
  align-items: center;
  margin: 0 -10px;
}

.section-tabs-content .content-tab .content.customer .list-customer-data .customer-contact > div {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.section-tabs-content .content-tab .content.customer .list-customer-data .customer-contact > div .icon {
  background: var(--ion-color-primary);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
  text-align: center;
  line-height: 25px;
}

.section-tabs-content .content-tab .content.customer .list-customer-data .customer-contact > div .icon ion-icon {
  color: var(--ion-color-primary-contrast);
}

.section-tabs-content .content-tab .content.customer .list-customer-data .customer-contact > div span {
  color: var(--ion-color-medium);
}

.section-tabs-content .content-tab .content.tower-view .section-green {
  background: var(--ion-color-green);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-tabs-content .content-tab .content.tower-view .section-green span {
  font-weight: 700;
  color: var(--ion-color-primary-contrast);
}

.section-tabs-content .content-tab .content.tower-view .section-search {
  border-bottom: 2px solid var(--ion-color-border);
}

.section-tabs-content .content-tab .content.tower-view .section-search ion-input {
  font-size: 13px;
  font-weight: 600;
}

.section-tabs-content .content-tab .content.tower-view .section-search ion-button {
  font-weight: 700;
  margin: 0;
  height: 35px;
  min-width: 55px;
}

.section-tabs-content .content-tab .content.tower-view .section-block {
  border-bottom: 2px solid var(--ion-color-border);
}

.section-tabs-content .content-tab .content.tower-view .section-block h2 {
  margin: 0 0 15px;
  font-weight: 700;
  font-size: 15px;
}

.section-tabs-content .content-tab .content.tower-view .section-block ion-radio-group {
  display: flex;
  border: 0 transparent;
  border-radius: 4px;
  overflow: hidden;
  background: var(--ion-color-border);
  margin: 0;
}

.section-tabs-content .content-tab .content.tower-view .section-block ion-radio-group ion-item {
  position: relative;
  --min-height: 38px;
  flex-basis: 16.666%;
  border-radius: 0;
  margin: 0;
  --background: var(--ion-color-border);
}

.section-tabs-content .content-tab .content.tower-view .section-block ion-radio-group ion-item.item-radio-checked {
  --background: var(--ion-color-primary);
}

.section-tabs-content .content-tab .content.tower-view .section-block ion-radio-group ion-item.item-radio-checked ion-label {
  color: var(--ion-color-primary-contrast);
}

.section-tabs-content .content-tab .content.tower-view .section-block ion-radio-group ion-item ion-label {
  color: var(--ion-color-text);
  margin: 0;
  display: block;
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
}

.section-tabs-content .content-tab .content.tower-view .section-block ion-radio-group ion-item ion-radio {
  opacity: 0;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.section-tabs-content .content-tab .content.tower-view .section-total-block {
  text-align: center;
  border-bottom: 2px solid var(--ion-color-border);
}

.section-tabs-content .content-tab .content.tower-view .section-total-block span {
  font-weight: 600;
  font-size: 16px;
}

.section-tabs-content .content-tab .content.tower-view .section-stack .title {
  background: var(--ion-color-light);
  margin: 0 -16px;
  padding: 15px 16px;
}

.section-tabs-content .content-tab .content.tower-view .section-stack .title h2 {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack {
  font-size: 12px;
  font-weight: 600;
  margin: 25px 0;
  overflow-y: auto;
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .bg-green {
  background: var(--ion-color-green);
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .bg-red {
  background: var(--ion-color-maroon);
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .level {
  background: var(--ion-color-primary-contrast);
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .content.content-blank {
  background: var(--ion-color-border);
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .row {
  display: flex;
  align-items: stretch;
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .row > div {
  border: 1px solid var(--ion-color-primary-contrast);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90px;
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .row > div:first-child {
  width: 22%;
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .row > div:last-child .popover {
  left: 30% !important;
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .row > div.level {
  text-align: center;
  padding: 10px 0;
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .row > div.content {
  padding: 5px;
  position: relative;
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .row > div.content > span {
  color: rgba(255, 255, 255, 0.7);
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .row > div.content.bg-green .popover .date {
  background: var(--ion-color-green);
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .row > div.content.bg-green .popover ion-item:last-child span {
  color: var(--ion-color-green);
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .row > div.content.bg-red .popover .date {
  background: var(--ion-color-maroon);
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .row > div.content.bg-red .popover ion-item:last-child span {
  color: var(--ion-color-maroon);
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .row > div.content .popover {
  display: none;
  background: var(--ion-color-primary-contrast);
  border-radius: 3px;
  width: 170%;
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.16);
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .row > div.content .popover.show {
  display: block;
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .row > div.content .popover .date {
  color: var(--ion-color-primary-contrast);
  padding: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  border-radius: 3px 3px 0 0;
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .row > div.content .popover .details {
  padding: 5px;
  position: relative;
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .row > div.content .popover .details:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  width: 0;
  border-top: 8px solid var(--ion-color-primary-contrast);
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .row > div.content .popover .details ion-item {
  margin: 0 -5px;
  --min-height: 0;
}

.section-tabs-content .content-tab .content.tower-view .section-stack .outer-stack .row > div.content .popover .details ion-item span {
  width: 50%;
  font-size: 10px;
  font-weight: 600;
  padding: 5px;
}

.section-tabs-content .content-tab .content.video-marketing .section-content-video ion-item {
  border-bottom: 1px solid var(--ion-color-border-grey);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section-tabs-content .content-tab .content.video-marketing .section-content-video ion-item ion-label {
  margin-inline-end: 0;
}

.section-tabs-content .content-tab .content.video-marketing .section-content-video ion-item ion-label h2 {
  font-size: 16px;
  font-weight: 600;
}

.section-tabs-content .content-tab .content.video-marketing .section-content-video ion-item ion-label p {
  font-size: 11px;
}

.section-tabs-content .content-tab .content.video-marketing .section-content-video .content-video h2 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
}

.section-tabs-content .content-tab .content.video-marketing .section-content-video .content-video p {
  color: var(--ion-color-medium-shade);
  line-height: 1.5;
}

.section-tabs-content .content-tab .content.video-marketing .section-content-video .content-video p a {
  font-weight: bold;
}

.section-tabs-content .content-tab .content.video-marketing .section-content-video .content-video ion-card {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid var(--ion-color-border-grey);
}

.section-tabs-content .content-tab .content.video-marketing .section-content-video .content-video ion-card .outer-video {
  position: relative;
  padding-bottom: 56.25%;
}

.section-tabs-content .content-tab .content.video-marketing .section-content-video .content-video ion-card .outer-video iframe {
  position: absolute;
  height: 100%;
  width: 100%;
}

.section-tabs-content .content-tab .content.video-marketing .section-content-video .content-video ion-card ion-card-title {
  font-size: 18px;
}

.section-tabs-content .content-tab .content.video-marketing .section-content-video .content-video ion-card ion-card-subtitle {
  color: var(--ion-color-primary);
  text-transform: lowercase;
  margin-bottom: 10px;
}

.section-tabs-content .content-tab .content.video-marketing .section-content-video .content-video ion-card ion-card-subtitle a {
  font-weight: 400;
  font-size: 14px;
}

.section-tabs-content .content-tab .content.video-marketing .section-content-video .content-video ion-card ion-card-content {
  padding-top: 0;
}
