<ion-header no-border>
  <ion-toolbar>
    <ion-title>E-Namecard</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="hero-image">
    <img class="bg" src="../../assets/images/enamecard.svg" alt="">
    <img class="ot-logo" src="../../assets/images/otLogo.png"/>
    <div class="ot-text">CEA License No. L3009250K </div>
    <div *ngIf="getUserData() !== null" class="card-details">
      <div class="items">
        <div class="item item-phone">
          <div class="icon"></div>
          <div class="value"><a (click)="openCall()">{{getUserData().mobile}}</a></div>
        </div>
        <div class="item item-whatsapp" style="width:100%;">
          <div class="icon"></div>
          <div class="value"><a (click)="openWhatsapp()">{{getUserData().mobile}}</a></div>
        </div>
        <div class="item item-mail">
          <div class="icon"></div>
          <div class="value"><a (click)="openMail()">{{getUserData().email}}</a></div>
        </div>
        <!-- <div  class="item item-instagram">
          <div class="icon"></div>
          <div class="value"><a ion-button href="https://instagram.com/{{getUserData().instagram}}" target="_new">{{getUserData().instagram}}</a></div>
        </div>
        <div  class="item item-facebook">
          <div class="icon"></div>
          <div class="value"><a ion-button target="_new">{{getUserData().facebook}}</a></div>
        </div> -->
        <!-- <div class="item item-wechat">
          <div class="icon"></div>
          <div class="value"><span *ngIf="getUserData().wechat !== null && getUserData().wechat !== ''">{{getUserData().wechat}}</span></div>
        </div> -->
        
      </div>
    </div>
  </div>
  <div *ngIf="getUserData() !== null" class="section section-avatar ion-padding">
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{img_url}}">
      </ion-avatar>
      <ion-label>
        <h2><span *ngIf="getUserData().gender == 'm'">Mr.</span> <span *ngIf="getUserData().gender == 'f'">Ms.</span> {{getUserData().firstname}} {{getUserData().lastname}} <ion-icon style="
          position: absolute;
          margin-top: 2px;
          margin-left: 10px;
      " routerLink="/edit-profile" name="cog"></ion-icon></h2>
        <p>{{getUserData().title}}</p>
        <p>CEA No. {{getUserData().cea_no}}</p>
      </ion-label>
    </ion-item>
  </div>
  <div *ngIf="getUserData().marketing_video" (click)="openMarketingVideo()" class="outer-video">
      <img src="../../assets/images/video_thumbnail.jpg"/>
  </div>
  <div class="section section-tabs-content">
    <div class="section menu-tab ion-padding">
      <ion-segment>
        <ion-segment-button (click)="toggleNotif('properties')" value="properties"
          [checked]="notifState == 'properties'">
          <ion-label>Properties</ion-label>
        </ion-segment-button>
        <ion-segment-button [hidden]="hideCustomer" (click)="toggleNotif('customer')" value="customer" [checked]="notifState == 'customer'">
          <ion-label>Customer</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div class="content-tab">
      <!-- <div id="my-listing" [hidden]="notifState !== 'my-listing'" class="content my-listing">
        <div class="outer-title ion-padding">
          <h3>My Listing</h3>
          <ion-button *ngIf="getUserData().member_type == 'pca_member'" routerLink="/add-listing-step-address" color="primary" size="small">Add</ion-button>
        </div>
        <p class="text-center" *ngIf="myListing.length < 1">No listing added yet.</p>
        <ion-list *ngIf="myListing.length > 0">
          <ion-item *ngFor="let item of myListing">
            <ion-thumbnail slot="start">
              <img src="{{item.photo_url}}">
            </ion-thumbnail>
            <ion-label>
              <h3>{{item.property_name}}</h3>
              <div class="place">
                <ion-icon name="md-pin"></ion-icon>
                <span>{{item.address}}</span>
              </div>
              <div class="price-contact">
                <div class="price">
                  <span>Price</span>
                  <div class="nominal">${{item.price}} </div>
                </div>
                <div class="contact">
                  <ion-button color="primary" size="small">Contact Agent</ion-button>
                </div>
              </div>
            </ion-label>
          </ion-item>
        </ion-list>
      </div> -->
      <div id="Properties" [hidden]="notifState !== 'properties'" class="content properties">
        <div class="outer-title ion-padding">
          <h3>Properties</h3>
        </div>
        <p class="text-center" *ngIf="!publicPropertyLoaded">Properties are loading up ...</p>
        <ion-list *ngIf="myListing.length > 0">
          <ion-item *ngFor="let item of myListing">
              <ion-thumbnail (click)="viewListing(item)" slot="start">
                  <img src="{{item.photo_url}}">
                </ion-thumbnail>
                <ion-label>
                  <!-- <ion-button fill="clear" class="love-icon">
                    <ion-icon name="ios-heart-empty"></ion-icon>
                  </ion-button>
                  <div class="rating">
                    <ion-icon name="ios-star"></ion-icon>
                    <span>4.5</span>
                  </div> -->
                  <h3>{{item.project_name}}</h3>
                  <small>{{item.highlights}}</small>
                  <div (click)="viewMap(item)" class="place">
                    <ion-icon name="md-pin"></ion-icon>
                    <span>{{item.address_line_1}} {{item.address_line_2}}</span>
                  </div>
                  <div class="price-contact">
                    <div class="price">
                      <span>Price</span>
                      <div class="nominal">{{item.attributes.price_formatted}}</div>
                    </div>
                    <!-- <div class="contact">
                      <ion-button (click)="contactAgent(item)" color="primary" size="small"><ion-icon name="call"></ion-icon> Contact Agent</ion-button>
                    </div> -->
                  </div>
                </ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div id="customer" [hidden]="notifState !== 'customer'" class="content customer">
        <div class="outer-title ion-padding">
          <h3>Customer Data</h3>
          <div style="float:right;">
            <ion-button *ngIf="getUserData().member_type == 'pca_member'" (click)="addCustomer()" color="primary" size="small">Add Customer</ion-button>
          </div>
        </div>
        
        <ion-segment ion-padding>
           <ion-segment-button style="width:50%" (click)="toggleCustomer('pdpa')" value="pdpa" checked>
              <ion-label>PDPA</ion-label>
            </ion-segment-button>
            <ion-segment-button style="width:50%" (click)="toggleCustomer('marketingconsent')" value="marketingconsent">
              <ion-label>Marketing Consent</ion-label>
            </ion-segment-button>
          </ion-segment>

          <div id="pdpa" [hidden]="customerState !== 'pdpa'" class="content pdpa">
              
            <div class="list-customer-data">
                <div (click)="viewCustomer(item)" *ngFor="let item of customerList" class="item ion-padding" [ngClass]="{'hidden': item.type == 'marketingconsent'}">
                  <div class="customer-name">{{item.fullname}}<ion-button (click)="deleteCustomerConfirmation(item)" style="float:right;" type="button" color="danger" size="small"><ion-icon name="md-close"></ion-icon></ion-button> <ion-button (click)="editCustomer(item)" style="float:right;" type="button" color="light" size="small"><ion-icon name="md-create"></ion-icon></ion-button></div>
                  <div class="customer-contact">
                    <div class="phone">
                      <div class="icon">
                        <ion-icon name="ios-call"></ion-icon>
                      </div>
                      <span><a href=tel:{{item.mobile}}>{{item.mobile}}</a></span>
                    </div>
                    <div class="email">
                      <div class="icon">
                        <ion-icon name="ios-mail"></ion-icon>
                      </div>
                      <span><a href="mailto:{{item.email}}">{{item.email}}</a></span>
                    </div>
                  </div>
                  
                </div>
                <p style="text-align: center;" class="text-center" *ngIf="customerList.length == 0">No customer data found.</p>
                <!-- <div class="item ion-padding">
                  <div class="customer-name">Donald Johnston</div>
                  <div class="customer-contact">
                    <div class="phone">
                      <div class="icon">
                        <ion-icon name="ios-call"></ion-icon>
                      </div>
                      <span>6-(637)934-3596</span>
                    </div>
                    <div class="email">
                      <div class="icon">
                        <ion-icon name="ios-mail"></ion-icon>
                      </div>
                      <span>kford@quamba.org</span>
                    </div>
                  </div>
                </div> -->
              </div>
          </div>
          <div id="marketingconsent" [hidden]="customerState !== 'marketingconsent'" class="content MarketingConsent">
              <div class="list-customer-data">
                  <div (click)="viewCustomer(item)" *ngFor="let item of customerList" class="item ion-padding"  [ngClass]="{'hidden': item.type == 'pdpa'}">
                    <div class="customer-name">{{item.fullname}}<ion-button (click)="deleteCustomerConfirmation(item)" style="float:right;" type="button" color="danger" size="small"><ion-icon name="md-close"></ion-icon></ion-button> <ion-button (click)="editCustomer(item)" style="float:right;" type="button" color="light" size="small"><ion-icon name="md-create"></ion-icon></ion-button></div>
                    <div class="customer-contact">
                      <div class="phone">
                        <div class="icon">
                          <ion-icon name="ios-call"></ion-icon>
                        </div>
                        <span><a href=tel:{{item.mobile}}>{{item.mobile}}</a></span>
                      </div>
                      <div class="email">
                        <div class="icon">
                          <ion-icon name="ios-mail"></ion-icon>
                        </div>
                        <span><a href="mailto:{{item.email}}">{{item.email}}</a></span>
                      </div>
                    </div>
                   
                  </div>
                  <p style="text-align: center;" class="text-center" *ngIf="customerList.length == 0">No customer data found.</p>
                  <!-- <div class="item ion-padding">
                    <div class="customer-name">Donald Johnston</div>
                    <div class="customer-contact">
                      <div class="phone">
                        <div class="icon">
                          <ion-icon name="ios-call"></ion-icon>
                        </div>
                        <span>6-(637)934-3596</span>
                      </div>
                      <div class="email">
                        <div class="icon">
                          <ion-icon name="ios-mail"></ion-icon>
                        </div>
                        <span>kford@quamba.org</span>
                      </div>
                    </div>
                  </div> -->
                </div>
          </div>
        <hr/>
        
      </div>
      <!-- <div id="tower-view" [hidden]="notifState !== 'tower-view'" class="content tower-view">
        <div class="section section-green ion-padding">
          <span>4,06</span>
          <span>Capital Gain</span>
          <span>173,22</span>
        </div>
        <div class="section section-search ion-padding">
          <ion-item>
            <ion-input type="text" placeholder="Enter expected selling PSF"></ion-input>
            <ion-button color="primary">Show</ion-button>
          </ion-item>
        </div>
        <div class="section section-block ion-padding">
          <h2>Block</h2>
          <ion-radio-group name="placement_charge">
            <ion-item lines="none">
              <ion-label>3</ion-label>
              <ion-radio name="mode" mode="ios" value="3" checked></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>1</ion-label>
              <ion-radio name="mode" mode="ios" value="1"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>7</ion-label>
              <ion-radio name="mode" mode="ios" value="7"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>5</ion-label>
              <ion-radio name="mode" mode="ios" value="5"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>8</ion-label>
              <ion-radio name="mode" mode="ios" value="8"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>12</ion-label>
              <ion-radio name="mode" mode="ios" value="12"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </div>
        <div class="section section-total-block ion-padding">
          <span>Block : 3 ( 93 Unit )</span>
        </div>
        <div class="section section-stack ion-padding">
          <div class="title">
            <h2>Stack</h2>
          </div>
          <div class="outer-stack">
            <div class="row">
              <div class="level level-main">Level</div>
              <div class="level level-top"><span>01</span><span>$640 PSF</span></div>
              <div class="level level-top"><span>02</span><span>$590 PSF</span></div>
              <div class="level level-top"><span>03</span><span>$590 PSF</span></div>
            </div>
            <div class="row">
              <div class="level level-side"><span>18</span><span>$850 PSF</span></div>
              <div class="content bg-green"><span>05-Jan-2010</span><span>13.04%</span></div>
              <div class="content content-blank"></div>
              <div class="content content-blank"></div>
            </div>
            <div class="row">
              <div class="level level-side"><span>17</span><span>$850 PSF</span></div>
              <div class="content bg-red"><span>26-Oct-2010</span><span>-13.04%</span></div>
              <div class="content content-blank"></div>
              <div class="content content-blank"></div>
            </div>
            <div class="row">
              <div class="level level-side"><span>16</span><span>$850 PSF</span></div>
              <div class="content bg-green"><span>05-Jan-2010</span><span>20.04%</span></div>
              <div class="content bg-red">
                <span>05-Jan-2010</span><span>-1.04%</span>
                <div class="popover show">
                  <div class="date">26-Mar-2010</div>
                  <div class="details">
                    <ion-item>
                      <span>$1.200.000</span>
                      <span>#16-03</span>
                    </ion-item>
                    <ion-item>
                      <span>$920 psf</span>
                      <span>1.03.03 sqft</span>
                    </ion-item>
                    <ion-item>
                      <span>-13.04%</span>
                      <span>-7.54%</span>
                    </ion-item>
                  </div>
                </div>
              </div>
              <div class="content content-blank"></div>
            </div>
            <div class="row">
              <div class="level level-side"><span>15</span><span>$850 PSF</span></div>
              <div class="content bg-red"><span>05-Jan-2010</span><span>-1.04%</span></div>
              <div class="content bg-red"><span>05-Jan-2010</span><span>-1.04%</span></div>
              <div class="content bg-green"><span>05-Jan-2010</span><span>20.04%</span></div>
            </div>
            <div class="row">
              <div class="level level-side"><span>14</span><span>$850 PSF</span></div>
              <div class="content bg-green"><span>05-Jan-2010</span><span>20.04%</span></div>
              <div class="content bg-red"><span>05-Jan-2010</span><span>-1.04%</span></div>
              <div class="content bg-green">
                <span>05-Jan-2010</span><span>20.04%</span>
                <div class="popover show">
                  <div class="date">26-Mar-2010</div>
                  <div class="details">
                    <ion-item>
                      <span>$1.200.000</span>
                      <span>#16-03</span>
                    </ion-item>
                    <ion-item>
                      <span>$920 psf</span>
                      <span>1.03.03 sqft</span>
                    </ion-item>
                    <ion-item>
                      <span>13.04%</span>
                      <span>7.54%</span>
                    </ion-item>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="level level-side"><span>13</span><span>$850 PSF</span></div>
              <div class="content content-blank"></div>
              <div class="content content-blank"></div>
              <div class="content content-blank"></div>
            </div>
            <div class="row">
              <div class="level level-side"><span>12</span><span>$850 PSF</span></div>
              <div class="content content-blank"></div>
              <div class="content content-blank"></div>
              <div class="content content-blank"></div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div id="video-marketing" [hidden]="notifState !== 'video-marketing'" class="content video-marketing">
        <div *ngFor="let item of getVideoMarketing()" class="section section-content-video ion-padding">
          <div class="content-video">
            <h2>{{item.video_title}}</h2>
            <ion-card>
              <div class="outer-video">
                <iframe [src]="_DomSanitizationService.bypassSecurityTrustResourceUrl(item.video_link)"
                  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              </div>
              <ion-card-header>
                <ion-card-subtitle><a target="_new"
                    href="{{item.video_link}}">{{item.video_link}}</a>
                </ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <div [innerHTML]="item.video_description"></div>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  
  <ion-fab style="position:fixed;background:none;" vertical="bottom" horizontal="end">
    <ion-fab-button><ion-icon name="more"></ion-icon></ion-fab-button>
  
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="share()"><a><ion-icon name="share"></ion-icon></a></ion-fab-button>
      <ion-fab-button color="primary" (click)="openInstagram()"><a><ion-icon name="logo-instagram"></ion-icon></a></ion-fab-button>
      <ion-fab-button color="primary" (click)="openFacebook()"><a><ion-icon name="logo-facebook"></ion-icon></a></ion-fab-button>
      <ion-fab-button color="primary" (click)="openMail()"><a><ion-icon name="mail"></ion-icon></a></ion-fab-button>
      <ion-fab-button color="primary" (click)="openCall()"><a><ion-icon name="call"></ion-icon></a></ion-fab-button>
      <ion-fab-button color="primary" (click)="openWhatsapp()"><a><ion-icon name="logo-whatsapp"></ion-icon></a></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
