<ion-header no-border>
  <ion-toolbar>
    <div class="section-search header-search">
        <ion-searchbar mode="md" placeholder="Search location"></ion-searchbar>
      </div>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section-content-step">
    <div class="ion-padding">
      <h3>Search Results</h3>
      <ion-list class="property-location">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
          <ion-label>
            <h3>Park View Mansions</h3>
            <p class="location">Condo District 22</p>
            <div class="place">
              <ion-icon name="md-pin"></ion-icon>
              <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
            </div>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
          <ion-label>
            <h3>Park View Mansions</h3>
            <p class="location">Condo District 22</p>
            <div class="place">
              <ion-icon name="md-pin"></ion-icon>
              <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
            </div>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
          <ion-label>
            <h3>Park View Mansions</h3>
            <p class="location">Condo District 22</p>
            <div class="place">
              <ion-icon name="md-pin"></ion-icon>
              <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
            </div>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
          <ion-label>
            <h3>Park View Mansions</h3>
            <p class="location">Condo District 22</p>
            <div class="place">
              <ion-icon name="md-pin"></ion-icon>
              <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
