/** Ionic CSS Variables **/
:root,
:root[mode='ios'],
:root[mode='md'] {
  --ion-font-family: 'Nunito Sans', sans-serif;
  --ion-default-font: 'Nunito Sans', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
  --ion-color-main: #dba514;
  --ion-color-main-rgb: 232, 75, 76;
  --ion-color-main-transparent: rgba(219, 165, 20, 0.19);
  --ion-color-main-contrast: #ffffff;
  --ion-color-main-contrast-rgb: 255, 255, 255;
  --ion-color-main-shade: #dba514;
  --ion-color-main-tint: #dba514;
  --ion-background-color: #ffffff;
  --ion-background-color-secondary: #FBFBFB;
  --ion-color-main-text: #263238;
  --ion-color-light-text: rgb(54, 54, 54);
  --ion-color-border-grey: rgb(237, 237, 237);
  --ion-color-green: #2dca8c;
  --ion-color-grey-dark: rgb(177, 173, 173);
  --ion-color-border: rgb(248, 248, 248);
  --ion-color-border-shade: rgb(224, 231, 238);
  --ion-color-border-shade-light: rgba(224, 231, 238, 0.2);
  --ion-color-grey-dark2: #B8B8B8;
  --ion-color-bg-steps: #F3F3F3;
  --ion-color-blue: rgb(47, 105, 248);
  --ion-color-green: rgb(24, 96, 0);
  --ion-color-maroon: rgb(165, 11, 10);
  --ion-color-yellow-star: rgb(255, 198, 55);
  /** primary **/
  --ion-color-primary: #dba514;
  --ion-color-primary-rgb: 232, 75, 76;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #dba514;
  --ion-color-primary-tint: #dba514;
  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;
  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;
  /** success **/
  --ion-color-success: #2dca8c;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;
  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;
  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;
  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

/* BEGIN Light */
@font-face {
  font-family: 'Nunito Sans';
  src: url("../assets/fonts/NunitoSans/NunitoSans-Light.eot");
  src: url("../assets/fonts/NunitoSans/NunitoSans-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NunitoSans/NunitoSans-Light.woff") format("woff"), url("../assets/fonts/NunitoSans/NunitoSans-Light.ttf") format("truetype"), url("../assets/fonts/NunitoSans/NunitoSans-Light.svg#NunitoSansLight") format("svg");
  font-weight: 300;
  font-style: normal;
}

/* END Light */
/* BEGIN Regular */
@font-face {
  font-family: 'Nunito Sans';
  src: url("../assets/fonts/NunitoSans/NunitoSans-Regular.eot");
  src: url("../assets/fonts/NunitoSans/NunitoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NunitoSans/NunitoSans-Regular.woff") format("woff"), url("../assets/fonts/NunitoSans/NunitoSans-Regular.ttf") format("truetype"), url("../assets/fonts/NunitoSans/NunitoSans-Regular.svg#NunitoSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* END Regular */
/* BEGIN Semibold */
@font-face {
  font-family: 'Nunito Sans';
  src: url("../assets/fonts/NunitoSans/NunitoSans-Semibold.eot");
  src: url("../assets/fonts/NunitoSans/NunitoSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NunitoSans/NunitoSans-Semibold.woff") format("woff"), url("../assets/fonts/NunitoSans/NunitoSans-Semibold.ttf") format("truetype"), url("../assets/fonts/NunitoSans/NunitoSans-Semibold.svg#NunitoSansSemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

/* END Semibold */
/* BEGIN Bold */
@font-face {
  font-family: 'Nunito Sans';
  src: url("../assets/fonts/NunitoSans/NunitoSans-Bold.eot");
  src: url("../assets/fonts/NunitoSans/NunitoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NunitoSans/NunitoSans-Bold.woff") format("woff"), url("../assets/fonts/NunitoSans/NunitoSans-Bold.ttf") format("truetype"), url("../assets/fonts/NunitoSans/NunitoSans-Bold.svg#NunitoSansBold") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* END Bold */
