<ion-header no-border>
  <ion-toolbar>
    <ion-title>Search Criteria</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section section-tabs-content">
    <div class="section menu-tab ion-padding">
      <ion-segment>
        <ion-segment-button (click)="toggleNotif('private')" value="Private" [checked]="notifState == 'private'">
          <ion-label>Private</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="toggleNotif('hdb')" value="HDB" [checked]="notifState == 'hdb'">
          <ion-label>HDB</ion-label>
        </ion-segment-button>
        <ion-segment-button (click)="toggleNotif('commercial')" value="commercial"
          [checked]="notifState == 'commercial'">
          <ion-label>Commercial</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <div class="content-tab">
      <div id="private" [hidden]="notifState !== 'private'" class="content private">
        <div class="title-content ion-padding">
          <h2>Select Data Display</h2>
        </div>
        <div class="content ion-padding">
          <p>Select the type of graph. to be shown</p>
          <div class="item">
            <ion-label position="stacked">Transaction Type</ion-label>
            <div class="outer-input input-checkbox">
              <div class="check">
                <ion-checkbox></ion-checkbox>
                <span>Sale</span>
              </div>
              <div class="check">
                <ion-checkbox></ion-checkbox>
                <span>Rent</span>
              </div>
            </div>
          </div>
          <div class="item">
            <ion-label position="stacked">Data Display</ion-label>
            <div class="outer-input input-checkbox">
              <div class="check">
                <ion-checkbox></ion-checkbox>
                <span>Avg PSF</span>
              </div>
              <div class="check">
                <ion-checkbox></ion-checkbox>
                <span>Volume</span>
              </div>
              <div class="check">
                <ion-checkbox></ion-checkbox>
                <span>Total Sales Value</span>
              </div>
            </div>
          </div>
          <div class="item">
            <ion-label position="stacked">Data Source</ion-label>
            <div class="outer-input input-checkbox">
              <div class="check">
                <ion-checkbox></ion-checkbox>
                <span>Public Data</span>
              </div>
              <div class="check">
                <ion-checkbox></ion-checkbox>
                <span>Real-Time Maker Data</span>
              </div>
            </div>
          </div>
        </div>
        <div class="title-content ion-padding">
          <h2>Select Period</h2>
        </div>
        <div class="content ion-padding">
          <p>Select the sales transaction period for the graph to show</p>
          <div class="item">
            <ion-label position="stacked">Period</ion-label>
            <ion-radio-group class="col-3" name="period">
              <ion-item lines="none">
                <ion-label>Monthly</ion-label>
                <ion-radio name="mode" mode="ios" value="Monthly" checked></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Quaterly</ion-label>
                <ion-radio name="mode" mode="ios" value="Quaterly"></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Yearly</ion-label>
                <ion-radio name="mode" mode="ios" value="Yearly"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
          <div class="item">
            <ion-label position="stacked">Last</ion-label>
            <div class="outer-input-mix">
              <ion-input value="15"></ion-input>
              <span>/ Month</span>
              <div class="input-checkbox">
                <div class="check">
                  <ion-checkbox></ion-checkbox>
                  <span>Custom</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="title-content ion-padding">
          <h2>Select Advance Option</h2>
        </div>
        <div class="content ion-padding">
          <div class="item property-filter">
            <ion-label position="stacked">Filter Option</ion-label>
            <p>This is to filter the list of matching projects (e.g New luxury Freehold Project)</p>
            <ion-radio-group class="filter-option" name="property_status">
              <ion-item lines="none">
                <ion-label>None</ion-label>
                <ion-radio name="mode" mode="ios" value="None" checked></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Choose</ion-label>
                <ion-radio name="mode" mode="ios" value="Choose"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div class="content-property-filter show">
              <div class="item">
                <ion-label position="stacked">Years</ion-label>
                <ion-radio-group name="years">
                  <ion-item lines="none">
                    <ion-label>All</ion-label>
                    <ion-radio name="mode" mode="ios" value="All" checked></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>Under Construction</ion-label>
                    <ion-radio name="mode" mode="ios" value="Under Construction"></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>0 - 3</ion-label>
                    <ion-radio name="mode" mode="ios" value="0 - 3"></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>4 - 10</ion-label>
                    <ion-radio name="mode" mode="ios" value="4 - 10"></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>> 10</ion-label>
                    <ion-radio name="mode" mode="ios" value="> 10"></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>Custom</ion-label>
                    <ion-radio name="mode" mode="ios" value="Custom"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </div>
              <div class="item">
                <ion-label position="stacked">PSF</ion-label>
                <ion-radio-group name="years">
                  <ion-item lines="none">
                    <ion-label>All</ion-label>
                    <ion-radio name="mode" mode="ios" value="All" checked></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>0 - 1000</ion-label>
                    <ion-radio name="mode" mode="ios" value="0 - 1000"></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>1001 - 2000</ion-label>
                    <ion-radio name="mode" mode="ios" value="1001 - 2000"></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>> 2000</ion-label>
                    <ion-radio name="mode" mode="ios" value="> 2000"></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>Custom</ion-label>
                    <ion-radio name="mode" mode="ios" value="Custom"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </div>
              <div class="item">
                <ion-label position="stacked">SQFT</ion-label>
                <ion-radio-group name="years">
                  <ion-item lines="none">
                    <ion-label>All</ion-label>
                    <ion-radio name="mode" mode="ios" value="All" checked></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>0 - 500</ion-label>
                    <ion-radio name="mode" mode="ios" value="0 - 500"></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>501 - 1500</ion-label>
                    <ion-radio name="mode" mode="ios" value="501 - 1500"></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>> 1500</ion-label>
                    <ion-radio name="mode" mode="ios" value="> 1500"></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>Custom</ion-label>
                    <ion-radio name="mode" mode="ios" value="Custom"></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>850 To 1100</ion-label>
                    <ion-radio name="mode" mode="ios" value="850 To 1100"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </div>
              <div class="title-content ion-padding">
                <h2>Select Data Display</h2>
              </div>
              <div class="item">
                <ion-label position="stacked">Property Type</ion-label>
                <div class="outer-input input-checkbox">
                  <div class="check">
                    <ion-checkbox></ion-checkbox>
                    <span>
                      Distric 1
                      <span class="sub-text">Boon Lay / Jurong / Tuas</span>
                    </span>
                  </div>
                  <div class="check">
                    <ion-checkbox></ion-checkbox>
                    <span>
                      Distric 2
                      <span class="sub-text">Boon Lay / Jurong / Tuas</span>
                    </span>
                  </div>
                  <div class="check">
                    <ion-checkbox></ion-checkbox>
                    <span>
                      Distric 3
                      <span class="sub-text">Boon Lay / Jurong / Tuas</span>
                    </span>
                  </div>
                  <div class="check">
                    <ion-checkbox></ion-checkbox>
                    <span>
                      Distric 4
                      <span class="sub-text">Boon Lay / Jurong / Tuas</span>
                    </span>
                  </div>
                  <div class="check">
                    <ion-checkbox></ion-checkbox>
                    <span>
                      Distric 5
                      <span class="sub-text">Boon Lay / Jurong / Tuas</span>
                    </span>
                  </div>
                  <div class="check">
                    <ion-checkbox></ion-checkbox>
                    <span>
                      Distric 6
                      <span class="sub-text">Boon Lay / Jurong / Tuas</span>
                    </span>
                  </div>
                  <div class="check">
                    <ion-checkbox></ion-checkbox>
                    <span>
                      Distric 7
                      <span class="sub-text">Boon Lay / Jurong / Tuas</span>
                    </span>
                  </div>
                  <div class="check">
                    <ion-checkbox></ion-checkbox>
                    <span>
                      Distric 8
                      <span class="sub-text">Boon Lay / Jurong / Tuas</span>
                    </span>
                  </div>
                  <div class="check">
                    <ion-checkbox></ion-checkbox>
                    <span>
                      Distric 9
                      <span class="sub-text">Boon Lay / Jurong / Tuas</span>
                    </span>
                  </div>
                  <div class="check">
                    <ion-checkbox></ion-checkbox>
                    <span>
                      Distric 10
                      <span class="sub-text">Boon Lay / Jurong / Tuas</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="item">
                <ion-label position="stacked">Type</ion-label>
                <ion-radio-group name="type">
                  <ion-item lines="none">
                    <ion-label>By Landed / Non Landed</ion-label>
                    <ion-radio name="mode" mode="ios" value="By Landed / Non Landed" checked></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>By Project</ion-label>
                    <ion-radio name="mode" mode="ios" value="By Project"></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>By Bedrooms</ion-label>
                    <ion-radio name="mode" mode="ios" value="By Bedrooms"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </div>
              <div class="item">
                <ion-label position="stacked">Select Bedrooms</ion-label>
                <div class="outer-input input-checkbox">
                  <div class="check">
                    <ion-checkbox></ion-checkbox>
                    <span>All</span>
                  </div>
                  <div class="check">
                    <ion-checkbox></ion-checkbox>
                    <span>1 Bedroom</span>
                  </div>
                  <div class="check">
                    <ion-checkbox></ion-checkbox>
                    <span>2 Bedrooms</span>
                  </div>
                  <div class="check">
                    <ion-checkbox></ion-checkbox>
                    <span>3 Bedrooms</span>
                  </div>
                  <div class="check">
                    <ion-checkbox></ion-checkbox>
                    <span>4 Bedrooms</span>
                  </div>
                  <div class="check">
                    <ion-checkbox></ion-checkbox>
                    <span>5 Bedrooms</span>
                  </div>
                  <div class="check">
                    <ion-checkbox></ion-checkbox>
                    <span>6 Bedrooms</span>
                  </div>
                </div>
              </div>
              <div class="item">
                <ion-label position="stacked">Generate</ion-label>
                <ion-radio-group name="generate">
                  <ion-item lines="none">
                    <ion-label>Individual</ion-label>
                    <ion-radio name="mode" mode="ios" value="Individual" checked></ion-radio>
                  </ion-item>
                  <ion-item lines="none">
                    <ion-label>Combined</ion-label>
                    <ion-radio name="mode" mode="ios" value="Combined"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </div>
            </div>
          </div>
        </div>
        <div class="outer-button ion-padding">
          <ion-button color="medium">Save Searches</ion-button>
          <ion-button color="primary">Generate</ion-button>
        </div>
      </div>
      <div id="hdb" [hidden]="notifState !== 'hdb'" class="content hdb">
        hdb
      </div>
      <div id="commercial" [hidden]="notifState !== 'commercial'" class="content commercial">
        commercial
      </div>
    </div>
  </div>
</ion-content>