ion-input, ion-select, ion-textarea {
  border-radius: 3px;
  --padding-top: 12px !important;
  --padding-bottom: 12px !important;
  --padding-start: 15px !important;
  --padding-end: 15px;
  border: 1px solid var(--ion-color-border-grey);
  font-size: 14px;
}

.outer-button {
  box-shadow: 0 8px 20px 20px rgba(91, 91, 91, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-button ion-button {
  width: 40%;
  margin: 0 5px;
  font-weight: 700;
}

ion-radio-group.col-3 ion-item {
  flex-basis: calc(33.333% - 10px);
}

.section-tabs-content .menu-tab {
  padding-top: 0;
  padding-bottom: 0;
}

.section-tabs-content .menu-tab ion-segment ion-segment-button {
  color: var(--ion-color-light-text);
  --border-color: transparent;
  --background-activated: var(--ion-color-primary-contrast);
  --background-checked: var(--ion-color-primary-contrast);
  --color-checked: var(--ion-color-primary);
  border-bottom: 2px solid transparent;
  border-width: 0;
  min-height: 0;
  height: 50px;
  line-height: 50px;
  font-weight: 600;
}

.section-tabs-content .menu-tab ion-segment ion-segment-button.segment-button-checked {
  color: var(--ion-color-primary);
  border-bottom: 2px solid var(--ion-color-primary);
  font-weight: 700;
}

.section-tabs-content .menu-tab ion-segment ion-segment-button:first-child, .section-tabs-content .menu-tab ion-segment ion-segment-button:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.section-tabs-content .content-tab .title-content {
  background: var(--ion-color-border-shade-light);
}

.section-tabs-content .content-tab .title-content h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}

.section-tabs-content .content-tab .content > p, .section-tabs-content .content-tab .content .item > p {
  color: var(--ion-color-medium-shade);
  margin-top: 0;
}

.section-tabs-content .content-tab .content div.item {
  margin-bottom: 10px;
}

.section-tabs-content .content-tab .content div.item .outer-input-mix {
  margin: 0 -5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-tabs-content .content-tab .content div.item .outer-input-mix > * {
  margin: 0 5px;
}

.section-tabs-content .content-tab .content div.item.property-filter .content-property-filter {
  display: none;
  padding-top: 30px;
}

.section-tabs-content .content-tab .content div.item.property-filter .content-property-filter.show {
  display: block;
}

.section-tabs-content .content-tab .content div.item.property-filter .content-property-filter .title-content {
  margin: 0 -16px 15px;
}

.section-tabs-content .content-tab .content div.item.property-filter .content-property-filter .input-checkbox .check {
  width: 50%;
}

.section-tabs-content .content-tab .content div.item.property-filter .content-property-filter .input-checkbox .check .sub-text {
  display: block;
  font-size: 10px;
  padding-left: 0;
}

.section-tabs-content .content-tab .content ion-label {
  font-weight: 600;
}

.filter-option {
  margin: 0;
  border-radius: 4px;
  overflow: hidden;
}

.filter-option ion-item {
  margin: 0;
  margin-bottom: 0 !important;
  border-radius: 0;
  flex-basis: 50% !important;
}

.input-checkbox {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.check {
  padding: 8px 10px;
  display: flex;
  align-items: flex-start;
}

.check ion-checkbox {
  --border-radius: 3px;
  height: 20px;
  min-width: 20px;
  max-width: 20px;
}

.check span {
  padding-left: 10px;
  flex-basis: 92%;
}
