ion-content {
  --padding-bottom: 60px;
}

.comment-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-bottom: 0 transparent;
  box-shadow: 0 8px 20px 20px rgba(91, 91, 91, 0.06);
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--ion-color-primary-contrast);
  z-index: 9;
}

.comment-post ion-avatar {
  height: 36px;
  width: 36px;
}

.comment-post .input {
  padding-left: 15px;
  width: calc(100% - 98px);
}

.comment-post .input ion-input {
  font-size: 12px;
}

.comment-post .comment-type {
  width: 98px;
}

.comment-post .comment-type ion-button {
  font-size: 16px;
  --padding-start: 4px;
  --padding-end: 4px;
  margin: 0;
}

.comment-post .comment-type ion-button.camera {
  font-size: 20px;
}

.comment-post .comment-type ion-button ion-icon {
  color: var(--ion-color-light-shade);
}

.section-forum-list ion-item {
  border-bottom: 1px solid var(--ion-color-border-grey);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section-forum-list ion-item ion-label {
  margin-inline-end: 0;
}

.section-forum-list ion-item ion-label h2 {
  font-size: 16px;
  font-weight: 600;
}

.section-forum-list ion-item ion-label p {
  font-size: 11px;
}

.section-forum-list .content-forum h2 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
}

.section-forum-list .content-forum p {
  color: var(--ion-color-medium-shade);
  line-height: 1.5;
}

.section-forum-list .content-forum p a {
  font-weight: bold;
}

.section-forum-list .replies {
  display: flex;
  align-items: flex-start;
  padding: 20px 0 5px;
  margin-top: 20px;
  border-top: 1px solid var(--ion-color-border-grey);
}

.section-forum-list .replies .icon {
  width: 30px;
}

.section-forum-list .replies .icon img {
  width: 20px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.section-forum-list .replies > span {
  color: var(--ion-color-medium-shade);
  font-weight: 600;
}

.section-forum-list .content-replies {
  border-top: 1px solid var(--ion-color-border-grey);
  margin-top: 10px;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-padding-end: 0;
  padding-inline-end: 0;
}

.section-forum-list .content-replies .item {
  display: flex;
  border-bottom: 0 transparent;
  margin-bottom: 20px;
}

.section-forum-list .content-replies .item ion-avatar {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.section-forum-list .content-replies .item ion-label {
  width: calc(100% - 46px);
  text-overflow: inherit;
  white-space: inherit;
}

.section-forum-list .content-replies .inner-comments ion-list.comment .comment {
  padding-left: 46px;
}

.section-forum-list .content-replies .inner-comments .comment-details .wrapper-comment {
  background-color: rgba(0, 78, 133, 0.05);
  border-radius: 10px;
  padding: 17px 20px;
}

.section-forum-list .content-replies .inner-comments .comment-details .wrapper-comment h2 {
  font-weight: 700;
  font-size: 15px;
}

.section-forum-list .content-replies .inner-comments .comment-details .wrapper-comment h3 {
  color: var(--ion-color-medium);
  margin-bottom: 10px;
  font-size: 11px;
}

.section-forum-list .content-replies .inner-comments .comment-details .time-action {
  display: flex;
  margin: 5px 0;
}

.section-forum-list .content-replies .inner-comments .comment-details .time-action > * {
  padding: 0 10px;
}

.section-forum-list .content-replies .inner-comments .comment-details .time-action .time {
  color: var(--ion-color-medium);
}

.section-forum-list .content-replies .inner-comments .comment-details .time-action .action a {
  font-weight: 600;
  color: var(--ion-color-main-text);
}
