ion-content {
    --padding-bottom: 60px;
}
.comment-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-bottom: 0 transparent;
    box-shadow: 0 8px 20px 20px rgba(91, 91, 91, 0.06);
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var(--ion-color-primary-contrast);
    z-index: 9;
    ion-avatar {
        height: 36px;
        width: 36px;
    }
    .input {
        padding-left: 15px;
        width: calc(100% - 98px);
        ion-input {
            font-size: 12px;
        }
    }
    .comment-type {
        width: auto;
        ion-button {
            font-size: 16px;
            --padding-start: 4px;
            --padding-end: 4px;
            margin: 0;
            &.camera {
                font-size: 20px;
            }
            ion-icon {
                color: var(--ion-color-light-shade);
            }
        }
    }
}
.section-forum-list {
    ion-item {
        border-bottom: 1px solid var(--ion-color-border-grey);
        padding-bottom: 10px;
        margin-bottom: 20px;
        ion-label {
            margin-inline-end: 0;
            h2 {
                font-size: 16px;
                font-weight: 600;
            }
            p {
                font-size: 11px;
            }
        }
    }
    .content-forum {
        h2 {
            font-size: 18px;
            margin-bottom: 15px;
            font-weight: 600;
        }
        p {
            color: var(--ion-color-medium-shade);
            line-height: 1.5;
            a {
                font-weight: bold;
            }
        }
    }
    .replies {
        display: flex;
        align-items: flex-start;
        padding: 20px 0 5px;
        margin-top: 20px;
        border-top: 1px solid var(--ion-color-border-grey);
        .icon {
            width: 30px;
            img {
                width: 20px;
                -webkit-filter: grayscale(100%);
                        filter: grayscale(100%);
            }
        }
        > span {
            color: var(--ion-color-medium-shade);
            font-weight: 600;
        }
    }
    .content-replies {
        border-top: 1px solid var(--ion-color-border-grey);
        margin-top: 10px;
        -webkit-padding-start: 0;
        padding-inline-start: 0;
        -webkit-padding-end: 0;
        padding-inline-end: 0;
        .item {
            display: flex;
            border-bottom: 0 transparent;
            margin-bottom: 20px;
            ion-avatar {
                width: 36px;
                height: 36px;
                margin-right: 10px;
            }
            ion-label {
                width: calc(100% - 46px);
                text-overflow: inherit;
                white-space: inherit;
            }
        }
        .inner-comments {
            ion-list {
                &.comment {
                    .comment {
                        padding-left: 46px;
                    }
                }
            }
            .comment-details {
                .wrapper-comment{
                    background-color: rgba(0, 78, 133, 0.05);
                    border-radius: 10px;
                    padding: 17px 20px;
                    h2 {
                        font-weight: 700;
                        font-size: 15px;
                    }
                    h3 {
                        color: var(--ion-color-medium);
                        margin-bottom: 10px;
                        font-size: 11px;
                    }
                }
                .time-action {
                    display: flex;
                    margin: 5px 0;
                    > * {
                        padding: 0 10px; 
                    }
                    .time {
                        color: var(--ion-color-medium);
                    }
                    .action {
                        a {
                            font-weight: 600;
                            color: var(--ion-color-main-text)
                        }
                    }
                }
            }
        }
    }
}
