<ion-header no-border>
  <ion-toolbar>
    <ion-title>Forum</ion-title>
    <!-- <ion-avatar slot="primary" class="header-avatar">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar> -->
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section comment-post ion-padding">
    <div class="input">
      <ion-textarea [(ngModel)]="form.comment" type="text" placeholder="Write a Comment"></ion-textarea>
    </div>
    <div class="comment-type">

      <ion-button (click)="submitComment()" fill="clear" size="small" class="camera">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      
    </div>
  </div>
  <div class="section section-forum-list ion-padding">
    <ion-item>
      <ion-avatar *ngIf="getPost().image !== null" slot="start">
        <img src="{{getImagePath()}}">
      </ion-avatar>
      <ion-label>
        <h2>{{getPost().post_title}}</h2>
        <p>Posted at {{getPost().posted_date}}</p>
      </ion-label>
    </ion-item>
    <div class="content-forum">
      <!-- <h2>CLC Circular Law Chambers LLP</h2> -->
      <div [innerHTML]="getPost().post_description"></div>
    </div>
    <div class="replies">
      <div class="icon"><img src="../../assets/images/icon/icon-forum.svg" alt=""></div>
      <span>{{getPost().total_replies}} Replies</span>
    </div>
    <div class="content-replies ion-padding">
      <div class="inner-comments">
        <ion-list class="comment level-1"><!-- parent comment -->
          <div class="item" *ngFor="let item of getComments()">
            <!-- <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar> -->
            <ion-label class="comment-details">
              <div class="wrapper-comment">
                <h2>
                    <strong *ngIf="item.account_id > 0">{{item.account_firstname}} {{item.account_lastname}}</strong>
                    <strong *ngIf="item.agent_id > 0">{{item.agent_firstname}} {{item.agent_lastname}}</strong>
                    <strong (click)="openAccount(item)" *ngIf="item.pca_member_id > 0">{{item.pcamember_firstname}} {{item.pcamember_lastname}}</strong>
                </h2>
                <h3>PCA Member</h3>
                <p>{{item.comment}}</p>
              </div>
              <div class="time-action">
                <div class="time">{{item.posted_date}}</div>
                <!-- <div class="action"><a routerLink="#">Reply</a></div> -->
              </div>
            </ion-label>
          </div>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>