<ion-header no-border>
  <ion-toolbar>
    <ion-title>Property Type</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section-content ion-padding outer-input">
      <ion-item class="item">
        <ion-label position="stacked">Property Segment <span class="required">*</span></ion-label>
        <ion-radio-group name="property_segment" [(ngModel)]="property_segments">
          <ion-item (click)="segmentChosen(item)" *ngFor="let item of this._propertyListingService.listing_categories" lines="none">
            <ion-label>{{item.value}}</ion-label>
            <ion-radio name="mode" mode="ios" value="{{item.key}}"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
      <ion-item class="item">
        <ion-label position="stacked">Property Type <span class="required">*</span></ion-label>
        <ion-radio-group name="main_category" [(ngModel)]="main_category">
          <ion-item (click)="mainCatChosen(item)" *ngFor="let item of categories" lines="none">
            <ion-label>{{item.value}}</ion-label>
            <ion-radio name="mode" mode="ios" value="{{item.key}}"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>

  </div>
  <div class="ion-padding">
      <ion-button (click)="update()" color="primary" expand="block">SAVE</ion-button>
    </div>
</ion-content>
