<ion-header no-border>
  <ion-toolbar>
    <ion-title>Add Listing</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section section-steps ion-padding">
    <div class="outer-steps">
      <div routerLink="/add-listing-step-address" class="step completed">
        <div class="icon">
          <ion-icon name="md-checkmark"></ion-icon>
          <div class="step-number">1</div>
        </div>
        <div class="text">
          <span>Address</span>
        </div>
      </div>
      <div routerLink="/add-listing-step-basic-info" class="step completed">
        <div class="icon">
          <ion-icon name="md-checkmark"></ion-icon>
          <div class="step-number">2</div>
        </div>
        <div class="text">
          <span>Basic Info</span>
        </div>
      </div>
      <div routerLink="/add-listing-step-details" class="step completed">
        <div class="icon">
          <ion-icon name="md-checkmark"></ion-icon>
          <div class="step-number">3</div>
        </div>
        <div class="text">
          <span>Details</span>
        </div>
      </div>
      <div class="step active">
        <div class="icon">
          <ion-icon name="md-checkmark"></ion-icon>
          <div class="step-number">4</div>
        </div>
        <div class="text">
          <span>Photos</span>
        </div>
      </div>
    </div>
  </div>
  <div class="section-content-step">
    <div class="title-content-step ion-padding">
      <h2>Add Photos or Video</h2>
    </div>
    <div class="ion-padding outer-input">
      <ion-item class="item">
        <ion-label position="stacked">Upload Picture</ion-label>
        <div class="images-display">
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let item of imageArr" size="3">
                <div class="inner-item">
                  <ion-button (click)="delete(item)" fill="clear" class="icon-close">
                    <ion-icon name="md-close"></ion-icon>
                  </ion-button>
                  <div class="outer-img">
                    <img (click)="view(item)" [src]="getTrustImg(item.path)">
                  </div>
                </div>
              </ion-col>
              <ion-col (click)="takePhotoOption()" size="3">
                <div class="inner-item">
                  <div class="take-photo">
                    <ion-icon name="md-camera"></ion-icon>
                    <p>Take a photo</p>
                  </div>
                  <div class="outer-img"></div>
                </div>
              </ion-col>
              <!-- <ion-col size="3">
                <div class="inner-item">
                  <div class="take-photo">
                    <ion-icon name="md-camera"></ion-icon>
                    <p>Take a photo</p>
                  </div>
                  <div class="outer-img"></div>
                </div>
              </ion-col>
              <ion-col size="3">
                <div class="inner-item">
                  <div class="take-photo">
                    <ion-icon name="md-camera"></ion-icon>
                    <p>Take a photo</p>
                  </div>
                  <div class="outer-img"></div>
                </div>
              </ion-col>
              <ion-col size="3">
                <div class="inner-item">
                  <div class="take-photo">
                    <ion-icon name="md-camera"></ion-icon>
                    <p>Take a photo</p>
                  </div>
                  <div class="outer-img"></div>
                </div>
              </ion-col>
              <ion-col size="3">
                <div class="inner-item">
                  <div class="take-photo">
                    <ion-icon name="md-camera"></ion-icon>
                    <p>Take a photo</p>
                  </div>
                  <div class="outer-img"></div>
                </div>
              </ion-col>
              <ion-col size="3">
                <div class="inner-item">
                  <div class="take-photo">
                    <ion-icon name="md-camera"></ion-icon>
                    <p>Take a photo</p>
                  </div>
                  <div class="outer-img"></div>
                </div>
              </ion-col>
              <ion-col size="3">
                <div class="inner-item">
                  <div class="take-photo">
                    <ion-icon name="md-camera"></ion-icon>
                    <p>Take a photo</p>
                  </div>
                  <div class="outer-img"></div>
                </div>
              </ion-col> -->
            </ion-row>
          </ion-grid>
        </div>
      </ion-item>
      <ion-item class="item">
        <ion-label position="stacked">YouTube Video</ion-label>
        <ion-input placeholder="Link to your youtube video"></ion-input>
      </ion-item>
      <!-- <ion-item class="item">
        <ion-label position="stacked">Watermark Text</ion-label>
        <p>
          We will always watermark photos on your behalf to ensure your photos are both beautiful and protected. Change
          the watermark <a routerLink="">here!</a>
        </p>
      </ion-item> -->
    </div>
    <div class="button-wrapper">
      <ion-button expand="block" (click)="continue()">Continue</ion-button>
      <ion-button routerLink="/add-listing-step-details" class="back" expand="block" fill="clear">Previous Step
      </ion-button>
    </div>
  </div>
</ion-content>