.images-display {
    margin: -5px -15px;
    width: calc(100% + 30px);
    ion-col {
        -webkit-padding-start: 10px;
        padding-inline-start: 10px;
        -webkit-padding-end: 10px;
        padding-inline-end: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .inner-item {
        border-radius: 5px;
        position: relative;
        .icon-close {
            position: absolute;
            top: -6px;
            right: -6px;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            border: 1px solid var(--ion-color-primary);
            background: var(--ion-color-primary-contrast);
            margin: 0;
            --padding-start: 0;
            --padding-end: 0;
            z-index: 3;
            ion-icon {
                font-size: 12px;
            }
        }
        .take-photo {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            background: #FEF6F6;
            text-align: center;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            ion-icon {
                color: var(--ion-color-primary);
                font-size: 22px;
            }
            p {
                margin: 0;
                color: var(--ion-color-primary);
                font-size: 9px;
            }
        }
        .outer-img {
            position: relative;
            overflow: hidden;
            padding-bottom: 100%;
            border-radius: 7px;
            img {
                position: absolute;
                height: 100%;
                width: auto;
                max-width: none;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
.button-wrapper {
    max-width: 250px;
    margin: 20px auto;
    ion-button {
        font-weight: 700;
        &.back {
            color: var(--ion-color-blue);
        }
    }
}
.outer-input {
    position: relative;
    overflow: hidden;
    > ion-item {
        ion-label {
            font-weight: 600;
        }
        > p {
            font-size: 14px;
            margin: 0;
        }
        a {
            text-decoration: underline;
        }
        &.required {
            ion-label {
                &:after {
                    content: '*';
                    color: var(--ion-color-danger);
                    padding: 0 5px;
                }
            }
        }
    }
    ion-input, ion-select, ion-textarea {
        border-radius: 3px;
        --padding-top: 12px !important;
        --padding-bottom: 12px !important;
        --padding-start: 15px !important;
        --padding-end: 15px;
        border: 1px solid var(--ion-color-border-grey);
        font-size: 14px;
    }
}

