<ion-header no-border>
  <ion-toolbar>
    <ion-title>Map View</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section section-search ion-padding">
    <ion-searchbar mode="md" placeholder="Search here"></ion-searchbar>
  </div>
  <div class="section section-map">
    <div class="map-pin-property">
      <div class="details">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
          <ion-label>
            <div class="rating">
              <ion-icon name="ios-star"></ion-icon>
              <span>4.5</span>
            </div>
            <h3>Eight Riversuites</h3>
            <div class="place">
              <ion-icon name="md-pin"></ion-icon>
              <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
            </div>
            <div class="price">
              <ion-button color="primary" size="small">$14.990</ion-button>
            </div>
          </ion-label>
        </ion-item>
      </div>
    </div>
  </div>
  <div class="section section-listing ion-padding">
    <div class="section-title">
      <h2><strong>140</strong> Listing</h2>
      <div class="view-all">
        <a href="#">Filter</a>
      </div>
    </div>
    <div class="inner">
      <div class="items">
        <div class="item">
          <ion-card>
            <div class="inner-image">
              <img src="../../assets/images/slider-example.png">
            </div>
            <ion-card-content>
              <div class="desc">
                <div class="property-name">Singapore Resort</div>
                <div class="rating">
                  <ion-icon name="ios-star"></ion-icon>
                  <ion-icon name="ios-star"></ion-icon>
                  <ion-icon name="ios-star"></ion-icon>
                  <ion-icon name="ios-star"></ion-icon>
                  <ion-icon name="ios-star"></ion-icon>
                </div>
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                  </ion-avatar>
                  <ion-label>
                    <h2>Hendry Z</h2>
                    <p>Agents Property Connect Alliance</p>
                  </ion-label>
                </ion-item>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="item">
          <ion-card>
            <div class="inner-image">
              <img src="../../assets/images/slider-example.png">
            </div>
            <ion-card-content>
              <div class="desc">
                <div class="property-name">Singapore Resort</div>
                <div class="rating">
                  <ion-icon name="ios-star"></ion-icon>
                  <ion-icon name="ios-star"></ion-icon>
                  <ion-icon name="ios-star"></ion-icon>
                  <ion-icon name="ios-star"></ion-icon>
                  <ion-icon name="ios-star"></ion-icon>
                </div>
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                  </ion-avatar>
                  <ion-label>
                    <h2>Hendry Z</h2>
                    <p>Agents Property Connect Alliance</p>
                  </ion-label>
                </ion-item>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
        <div class="item">
          <ion-card>
            <div class="inner-image">
              <img src="../../assets/images/slider-example.png">
            </div>
            <ion-card-content>
              <div class="desc">
                <div class="property-name">Singapore Resort</div>
                <div class="rating">
                  <ion-icon name="ios-star"></ion-icon>
                  <ion-icon name="ios-star"></ion-icon>
                  <ion-icon name="ios-star"></ion-icon>
                  <ion-icon name="ios-star"></ion-icon>
                  <ion-icon name="ios-star"></ion-icon>
                </div>
                <ion-item>
                  <ion-avatar slot="start">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                  </ion-avatar>
                  <ion-label>
                    <h2>Hendry Z</h2>
                    <p>Agents Property Connect Alliance</p>
                  </ion-label>
                </ion-item>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>