.section-map {
    min-height: 415px;
}
.map-pin-property {
    background: var(--ion-color-primary-contrast);
    border-radius: 3px;
    width: 170px;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.16);
    .details {
        padding: 5px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 0);
            height: 0;
            width: 0;
            border-top: 8px solid var(--ion-color-primary-contrast);
            border-right: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 8px solid transparent;
        }
        ion-item {
            padding: 0;
            border-bottom: 1px solid var(--ion-color-border);

            &:last-child {
                border-bottom: 0 transparent;
            }

            ion-thumbnail {
                height: 45px;
                width: 45px;
                border-radius: 3px;
                overflow: hidden;
                margin-right: 5px;
            }

            ion-label {
                margin: 0;
                position: relative;

                .rating {
                    line-height: 0;
                    margin-bottom: 2px;

                    ion-icon {
                        color: var(--ion-color-primary);
                        font-size: 8px;
                        margin-right: 2px;
                    }

                    span {
                        color: var(--ion-color-medium);
                        margin-top: 0;
                        font-size: 8px;
                    }
                }

                h3 {
                    font-weight: 700;
                    font-size: 10px;
                    margin-bottom: 0;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .place {
                    line-height: 0;
                    display: flex;
                    align-items: center;
                    ion-icon {
                        font-size: 10px;
                        width: 25px;
                        color: var(--ion-color-primary);
                        vertical-align: middle;
                        margin-right: 2px;
                    }
                    span {
                        font-size: 8px;
                        color: var(--ion-color-medium);
                        vertical-align: middle;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        line-height: 1;
                        margin-top: 3px;
                    }
                }

                .price {
                    line-height: 0;
                    ion-button {
                        font-weight: 700;
                        font-size: 8px;
                        margin: 3px 0 0;
                        height: 15px;
                    }
                }
            }
        }
    }
}
.section-listing {
    .section-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            font-size: 16px;
            margin: 0;
        }
        .view-all {
            a {
                color: var(--ion-color-light-text);
                font-weight: 600;
            }
        }
    }
    .inner {
        padding: 0 0 15px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        .items {
            display: flex;
            margin: 0 -10px 0;
            .item {
                ion-card {
                    width: 250px;
                    -webkit-margin-start: 10px;
                    margin-inline-start: 10px;
                    -webkit-margin-end: 10px;
                    margin-inline-end: 10px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    border-radius: 5px;
                    overflow: hidden;
                    position: relative;
                    .inner-image {
                        position: relative;
                        width: 100%;;
                        padding-bottom: 80%;
                        img {
                            position: absolute;
                            width: auto;
                            height: 100%;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    ion-card-content {
                        -webkit-padding-start: 10px;
                        padding-inline-start: 10px;
                        -webkit-padding-end: 10px;
                        padding-inline-end: 10px;
                        padding-top: 0;
                        padding-bottom: 10px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: flex-end;
                        background-image: linear-gradient(to top, rgba(0,0,0,0.7), transparent);
                        .desc {
                            .property-name {
                                color: var(--ion-color-primary-contrast);
                                font-weight: 600;
                            }
                            .rating {
                                ion-icon {
                                    color: var(--ion-color-yellow-star);
                                    font-size: 13px;
                                    margin-right: 3px;
                                }
                            }
                            ion-item {
                                --background: transparent;
                                --min-height: 0;
                            }
                            ion-avatar {
                                height: 21px;
                                width: 21px;
                                margin-right: 7px;
                            }
                            ion-label {
                                margin: 0;
                                h2 {
                                    color: var(--ion-color-primary-contrast);
                                    font-weight: 600;
                                    font-size: 12px;
                                    margin-bottom: 0;
                                }
                                p {
                                    color: var(--ion-color-primary-contrast);
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}