<ion-header no-border>
  <ion-toolbar>
    <ion-title>New Launched Connect</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section section-content-launched ion-padding">
    <div class="content-launched">
      <h2>Marina One Residences</h2>
      <p>
        Experience world-class luxurious condominium at Marina Bay. Be part of the Prestigious Living at one of the most iconic cosmopolitan city living in the heart of New Marina South Res … <a href="#">Show More</a>
      </p>
      <ion-card>
        <img src="../../assets/images/slider-example.png" />
        <ion-card-header>
          <ion-card-subtitle><a href="#">https//marinaone-residences.com</a></ion-card-subtitle>
          <ion-card-title>Marina One Residences</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam...
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div class="section section-content-launched ion-padding">
    <div class="content-launched">
      <h2>CLC Circular Law Chambers LLP</h2>
      <p>
        CLC provide legal services such as Sales & Purchase of properties Refinancing of Loans Enbloc Sales Deed Polls
        Wills LPA Powers of Attoney Divorces Claims for enquiry please call +65 81826610 … <a href="#">Show More</a>
      </p>
      <ion-card>
        <img src="../../assets/images/slider-example.png" />
        <ion-card-header>
          <ion-card-subtitle><a href="#">pcaalliance.com</a></ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>
            CLC provide legal services such as Sales & Purchase of properties Refinancing of Loans Enbloc ..
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>