.section-content-launched {
    .content-launched {
        h2 {
            font-size: 18px;
            margin-bottom: 15px;
            font-weight: 600;
        }
        p {
            color: var(--ion-color-medium-shade);
            line-height: 1.5;
            a {
                font-weight: bold;
            }
        }
        ion-card {
            margin-top: 10px;
            margin-bottom: 10px;
            -webkit-margin-start: 0;
            margin-inline-start: 0;
            -webkit-margin-end: 0;
            margin-inline-end: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            border: 1px solid var(--ion-color-border-grey);
            ion-card-title {
                font-size: 18px;
            }
            ion-card-subtitle {
                color: var(--ion-color-primary);
                text-transform: lowercase;
                margin-bottom: 10px;
                a {
                    font-weight: 400;
                    font-size: 14px;
                }
            }
            ion-card-content {
                padding-top: 0;
            }
        }
    }
}
