ion-item {
  padding: 10px 16px;
  border-bottom: 1px solid var(--ion-color-border);
}

ion-item:last-child {
  border-bottom: 0 transparent;
}

ion-item ion-avatar {
  background-color: var(--ion-color-main-transparent);
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-item ion-avatar ion-icon {
  color: var(--ion-color-primary);
  font-size: 20px;
}

ion-item ion-label h2 {
  font-size: 15px;
  font-weight: 600;
}
