<ion-header no-border>
  <ion-toolbar>
    <ion-title>Work@Home Connect</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="md-share"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Work@Home</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="md-share"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Eproptrack</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="md-share"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Property Agents Review</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>