<ion-header no-border>
  <ion-toolbar>
    <ion-title>Add Listing</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section section-steps ion-padding">
      <div *ngIf="!getForm().update" class="outer-steps">
          <div routerLink="/add-listing-step-address" class="step completed">
            <div class="icon">
              <ion-icon name="md-checkmark"></ion-icon>
              <div class="step-number">1</div>
            </div>
            <div class="text">
              <span>Address</span>
            </div>
          </div>
          <div class="step active">
            <div class="icon">
              <ion-icon name="md-checkmark"></ion-icon>
              <div class="step-number">2</div>
            </div>
            <div class="text">
              <span>Basic Info</span>
            </div>
          </div>
          <div class="step">
            <div class="icon">
              <ion-icon name="md-checkmark"></ion-icon>
              <div class="step-number">3</div>
            </div>
            <div class="text">
              <span>Details</span>
            </div>
          </div>
          <div class="step">
            <div class="icon">
              <ion-icon name="md-checkmark"></ion-icon>
              <div class="step-number">4</div>
            </div>
            <div class="text">
              <span>Photos</span>
            </div>
          </div>
        </div>
        <div *ngIf="getForm().update" class="outer-steps">
            <div class="step completed">
              <div class="icon">
                <ion-icon name="md-checkmark"></ion-icon>
                <div class="step-number">1</div>
              </div>
              <div class="text">
                <span>Address</span>
              </div>
            </div>
            <div class="step active">
              <div class="icon">
                <ion-icon name="md-checkmark"></ion-icon>
                <div class="step-number">2</div>
              </div>
              <div class="text">
                <span>Basic Info</span>
              </div>
            </div>
            <div class="step">
              <div class="icon">
                <ion-icon name="md-checkmark"></ion-icon>
                <div class="step-number">3</div>
              </div>
              <div class="text">
                <span>Details</span>
              </div>
            </div>
            <div class="step">
              <div class="icon">
                <ion-icon name="md-checkmark"></ion-icon>
                <div class="step-number">4</div>
              </div>
              <div class="text">
                <span>Photos</span>
              </div>
            </div>
        </div>
  </div>
  <div class="section-content-step">
    <div class="title-content-step ion-padding">
      <h2>Listing Details</h2>
    </div>
    <div class="ion-padding outer-input">
      <ion-item class="item item-highlights">
        <ion-label position="stacked">Highlights</ion-label>
        <ion-textarea [(ngModel)]="getForm().highlights" name="highlight" placeholder="Write Something about your highlights"></ion-textarea>
        <span class="counter">0 / 100</span>
      </ion-item>
      <ion-item class="item item-description">
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea name="description" [(ngModel)]="getForm().description" placeholder="Write Something about your description"></ion-textarea>
        <span class="counter">0 / 100</span>
      </ion-item>
      <ion-item class="item item-unit"> 
        <ion-label position="stacked">Floor</ion-label>
        <ion-input name="floor" [(ngModel)]="getForm().floor" placeholder="Enter Floor No"></ion-input>
      </ion-item>
      <ion-item class="item item-unit"> 
        <ion-label position="stacked">Unit No #</ion-label>
        <ion-input name="unit_no" [(ngModel)]="getForm().unit_no" placeholder="Enter Unit No"></ion-input>
      </ion-item>
      <ion-item class="item item-bathrooms">
        <ion-label position="stacked">Number of Bathrooms</ion-label>
        <ion-input name="number_of_bathroom" [(ngModel)]="getForm().number_of_bathroom" placeholder="Up to 10 bathrooms are allowed"></ion-input>
      </ion-item>
      <ion-item (click)="openDatePickerAvailability()" class="item item-date-availability">
        <ion-label position="stacked">Date of Availability</ion-label>
        <ion-input type="date" name="date_of_availbility" [(ngModel)]="getForm().date_of_availbility" placeholder="DD-MM-YYYY"></ion-input>
        <span class="label"><ion-icon class="calendar" name="calendar"></ion-icon></span>
      </ion-item>
      <ion-item class="item item-facing">
        <ion-label position="stacked">Facing</ion-label>
        <ion-radio-group name="facing" [(ngModel)]="getForm().facing">
          <ion-item lines="none">
            <ion-label>North</ion-label>
            <ion-radio name="mode" mode="ios" value="North" checked></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>North-East</ion-label>
            <ion-radio name="mode" mode="ios" value="North East"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>East</ion-label>
            <ion-radio name="mode" mode="ios" value="East"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>South - East</ion-label>
            <ion-radio name="mode" mode="ios" value="South - East"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>South</ion-label>
            <ion-radio name="mode" mode="ios" value="South"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>South - West</ion-label>
            <ion-radio name="mode" mode="ios" value="South - West"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>West</ion-label>
            <ion-radio name="mode" mode="ios" value="West"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>North - West</ion-label>
            <ion-radio name="mode" mode="ios" value="North - West"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>North - South</ion-label>
            <ion-radio name="mode" mode="ios" value="North - South"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-item>
      <ion-item class="item item-facing">
          <ion-label position="stacked">Tenure</ion-label>
          <ion-radio-group name="tenure" [(ngModel)]="getForm().tenure">
            <ion-item lines="none">
              <ion-label>Freehold</ion-label>
              <ion-radio name="mode" mode="ios" value="Freehold"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>30 Years</ion-label>
              <ion-radio name="mode" mode="ios" value="30 Years"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>60 Years</ion-label>
              <ion-radio name="mode" mode="ios" value="60 Years"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>999 Years</ion-label>
              <ion-radio name="mode" mode="ios" value="999 Years"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>99 Years - 103 Years</ion-label>
              <ion-radio name="mode" mode="ios" value="99 Years"></ion-radio>
            </ion-item>
          </ion-radio-group>
      </ion-item>
      <ion-item *ngIf="getForm().listing_type == 'Rent'" (click)="openDatePickerTenancyLease()" class="item item-tenancy-lease-expiration">
        <ion-label position="stacked">Tenancy Lease Expiration</ion-label>
        <ion-input type="date" name="tenancy_lease_expiration" [(ngModel)]="getForm().tenancy_lease_expiration" placeholder="DD-MM-YYYY"></ion-input>
        <span class="label"><ion-icon class="calendar" name="calendar"></ion-icon></span>

      </ion-item>
      <ion-item *ngIf="getForm().listing_type == 'Rent'" class="item item-tenancy-current-rent">
        <ion-label position="stacked">Tenancy Current Rent</ion-label>
        <ion-input name="tenancy_current_rent" [(ngModel)]="getForm().tenancy_current_rent" placeholder=""></ion-input>
        <span class="label">SGD</span>
      </ion-item>
    </div>
    <div class="title-content-step ion-padding">
      <h2>Features</h2>
    </div>
    <div class="ion-padding outer-input input-checkbox">
      <div *ngFor="let item of getFeaturesOptions()" class="check">
        <ion-checkbox name="item.value" [(ngModel)]="item.checked"></ion-checkbox>
        <span>{{item.label}}</span>
      </div>
      <!-- <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>Dual Key</span>
      </div>
      <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>Greenery View</span>
      </div>
      <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>High Floor</span>
      </div>
      <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>Maid's Room</span>
      </div>
      <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>Penthouse</span>
      </div>
      <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>Roof Terrace</span>
      </div>
      <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>Utility Room</span>
      </div>
      <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>Bomb Shelter</span>
      </div>
      <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>Duplex / Maisonette</span>
      </div>
      <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>Ground Floor</span>
      </div>
      <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>Loft</span>
      </div>
      <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>Mid Floor</span>
      </div>
      <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>Pool View</span>
      </div>
      <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>Sea View</span>
      </div>
      <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>City View</span>
      </div>
      <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>Fibre Ready</span>
      </div>
      <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>Heigh Ceiling</span>
      </div>
      <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>Low Floor</span>
      </div>
      <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>Patio / PES</span>
      </div>
      <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>Renovated</span>
      </div>
      <div class="check">
        <ion-checkbox></ion-checkbox>
        <span>Top Floor</span>
      </div> -->
    </div>
    <div class="title-content-step ion-padding">
      <h2>Other Concerns</h2>
    </div>
    <div class="ion-padding outer-input">
      <ion-item class="item item-other-restrictions">
        <ion-label position="stacked">Other Restrictions</ion-label>
        <ion-textarea name="restriction" [(ngModel)]="getForm().other_restrictions" placeholder="Any restrictions for the unit that the potential leads should be aware of ?">
        </ion-textarea>
        <span class="counter">0 / 100</span>
      </ion-item>
    </div>
    <div class="button-wrapper">
      <ion-button expand="block" (click)="continue()">Continue</ion-button>
      <ion-button routerLink="/add-listing-step-basic-info" class="back" expand="block" fill="clear">Previous Step
      </ion-button>
    </div>
  </div>
</ion-content>