ion-header .header-avatar {
  --padding-start: 0;
  --padding-end: 0;
  border-radius: 50%;
  background-color: var(--ion-color-primary);
}

ion-header .header-avatar ion-icon {
  color: var(--ion-color-primary-contrast);
}

.section-title h2 {
  margin: 0;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.events-list ion-list {
  margin-bottom: 0;
}

.events-list ion-list ion-item {
  padding: 16px;
  border-bottom: 1px solid var(--ion-color-border);
}

.events-list ion-list ion-item:last-child {
  border-bottom: 0 transparent;
}

.events-list ion-list ion-item ion-thumbnail {
  height: 82px;
  width: 82px;
  border-radius: 4px;
  overflow: hidden;
}

.events-list ion-list ion-item ion-label {
  text-overflow: inherit;
  white-space: inherit;
  margin: 0;
}

.events-list ion-list ion-item ion-label p {
  color: var(--ion-color-medium);
  font-size: 11px;
  margin-bottom: 6px;
}

.events-list ion-list ion-item ion-label h3 {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.events-list ion-list ion-item ion-label .place {
  display: flex;
}

.events-list ion-list ion-item ion-label .place ion-icon {
  font-size: 12px;
  width: 35px;
  margin-left: -6px;
  color: var(--ion-color-primary);
}

.events-list ion-list ion-item ion-label .place span {
  font-size: 11px;
  color: var(--ion-color-medium);
  display: block;
}
