<ion-header no-border>
  <ion-toolbar>
    <ion-title>PCA Events</ion-title>
    <ion-button fill="clear" slot="primary" class="header-avatar">
      <ion-icon name="ios-calendar"></ion-icon>
    </ion-button>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section section-title ion-padding">
    <h2>Event on June 2019</h2>
  </div>
  <div class="section events-list">
    <ion-list>
      <ion-item routeLink="/pca-events-details">
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>
          <p class="time">June 17, 8:30 AM - 09.00 PM</p>
          <h3>Property Training</h3>
          <div class="place">
            <ion-icon name="md-pin"></ion-icon>
            <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
          </div>
        </ion-label>
      </ion-item>
      <ion-item routeLink="/pca-events-details">
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>
          <p class="time">June 19, 07:30 AM - 09.00 PM</p>
          <h3>PCA Mobile App Training</h3>
          <div class="place">
            <ion-icon name="md-pin"></ion-icon>
            <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
          </div>
        </ion-label>
      </ion-item>
      <ion-item routeLink="/pca-events-details">
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>
          <p class="time">June 17, 8:30 AM - 09.00 PM</p>
          <h3>Property Training</h3>
          <div class="place">
            <ion-icon name="md-pin"></ion-icon>
            <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
          </div>
        </ion-label>
      </ion-item>
      <ion-item routeLink="/pca-events-details">
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>
          <p class="time">June 19, 07:30 AM - 09.00 PM</p>
          <h3>PCA Mobile App Training</h3>
          <div class="place">
            <ion-icon name="md-pin"></ion-icon>
            <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
          </div>
        </ion-label>
      </ion-item>
      <ion-item routeLink="/pca-events-details">
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>
          <p class="time">June 17, 8:30 AM - 09.00 PM</p>
          <h3>Property Training</h3>
          <div class="place">
            <ion-icon name="md-pin"></ion-icon>
            <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
          </div>
        </ion-label>
      </ion-item>
      <ion-item routeLink="/pca-events-details">
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-thumbnail>
        <ion-label>
          <p class="time">June 19, 07:30 AM - 09.00 PM</p>
          <h3>PCA Mobile App Training</h3>
          <div class="place">
            <ion-icon name="md-pin"></ion-icon>
            <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>