ion-header {
    .header-avatar {
        --padding-start: 0;
        --padding-end: 0;
        border-radius: 50%;
        background-color: var(--ion-color-primary);
        ion-icon {
            color: var(--ion-color-primary-contrast);
        }
    }
}
.section-title {
    h2 {
        margin: 0;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
    }
}
.events-list {
    ion-list {
        margin-bottom: 0;
        ion-item {
            padding: 16px;
            border-bottom: 1px solid var(--ion-color-border);
            &:last-child {
                border-bottom: 0 transparent;
            }
            ion-thumbnail {
                height: 82px;
                width: 82px;
                border-radius: 4px;
                overflow: hidden;
            }
            ion-label {
                text-overflow: inherit;
                white-space: inherit;
                margin: 0;
                p {
                    color: var(--ion-color-medium);
                    font-size: 11px;
                    margin-bottom: 6px;
                }
                h3 {
                    font-weight: 600;
                    font-size: 15px;
                    margin-bottom: 8px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .place {
                    display: flex;
                    ion-icon {
                        font-size: 12px;
                        width: 35px;
                        margin-left: -6px;
                        color: var(--ion-color-primary);
                    }
                    span {
                        font-size: 11px;
                        color: var(--ion-color-medium);
                        display: block;
                    }
                }
            }
        }
    }
}