.logo {
    width: 294px;
    margin: 0 auto 50px auto;
}
.button-wrapper {
    margin-bottom: 20px;
}
.choose-signup {
    text-align: center;
    padding-top: 35px;
    span {
        color: var(--ion-color-primary-contrast);
    }
}