<ion-content>
  <div class="front splash-login ion-padding">
    <div class="wrapper-front">
      <div class="logo">
        <img src="../../assets/images/logo@2x.png">
      </div>
      <div class="content-choose">
        <div class="button-wrapper">
          <ion-button routerLink="/login" expand="block" class="login">Login</ion-button>
        </div>
        <div class="button-wrapper">
          <ion-button routerLink="/tabs" expand="block" color="light">Continue Without Login</ion-button>
        </div>

        <div class="choose-signup">
          <span>Don't Have Account? <a routerLink="/sign-up">Register</a></span>
        </div>
      </div>
    </div>
  </div>
</ion-content>
