ion-content {
  --background: var(--ion-color-primary-contrast);
}

.setting-menu .item {
  border-bottom: 2px solid var(--ion-color-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting-menu .item:last-child {
  border-bottom: 0 transparent;
}

.setting-menu .item > span {
  font-weight: 600;
}

.setting-menu .item > ion-icon {
  color: var(--ion-color-medium);
}
