<ion-header no-border>
  <ion-toolbar>
    <ion-title>Account Setting</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section-profile">
    <ion-list class="setting-menu">
      <div class="item ion-padding" routerLink="/change-password">
        <span>Change Password</span>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </div>
      <div class="item ion-padding" routerLink="/account-verification">
        <span>Account Verification</span>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </div>
      <div class="item ion-padding" routerLink="/change-email">
        <span>Change Email Address (Username)</span>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </div>
    </ion-list>
  </div>
</ion-content>