ion-content {
    --background: var(--ion-color-primary-contrast);
}
.setting-menu {
    .item {
        border-bottom: 2px solid var(--ion-color-border);
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:last-child {
            border-bottom: 0 transparent;
        }
        > span {
            font-weight: 600;
        }
        > ion-icon {
            color: var(--ion-color-medium);
        }
    }
}