<ion-header no-border>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section-profile">
    <div class="section account ion-padding">
      <div class="account-left">
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            <div class="change">
              Change
            </div>
          </ion-avatar>
          <ion-label>
            <h2>Hendry Zheng</h2>
            <p><a routerLink="">View profile</a></p>
          </ion-label>
        </ion-item>
      </div>
      <div routerLink="" class="label">
        <ion-button size="small">Edit Profile</ion-button>
      </div>
    </div>
    <div class="section-content-profile">
      <div class="title ion-padding">
        <h2>My Listing</h2>
      </div>
      <div class="section-tabs-content">
        <div class="menu-tab">
          <ion-segment>
            <ion-segment-button (click)="toggleNotif('for-sale')" value="for-sale" [checked]="notifState == 'for-sale'">
              <ion-label>For Sale</ion-label>
            </ion-segment-button>
            <ion-segment-button (click)="toggleNotif('for-rent')" value="for-rent" [checked]="notifState == 'for-rent'">
              <ion-label>For Rent</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
        <div class="content-tab ion-padding">
          <div id="for-sale" [hidden]="notifState !== 'for-sale'" class="content for-sale">
            <div class="product-details">
              <div class="product-image-slider">
                <ion-slides>
                  <ion-slide>
                    <div class="inner-slide">
                      <img src="../../assets/images/slider-example.png" />
                    </div>
                  </ion-slide>
                  <ion-slide>
                    <div class="inner-slide">
                      <img src="../../assets/images/slider-example.png" />
                    </div>
                  </ion-slide>
                </ion-slides>
              </div>
              <div class="label">
                <ion-label>Condo for Sale</ion-label>
              </div>
              <div class="description">
                <div class="title-price">
                  <h2>Piermont Grand</h2>
                  <div class="price">$799.19</div>
                </div>
                <div class="location">
                  <ion-icon name="md-pin"></ion-icon>
                  <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
                </div>
                <div class="details-number">
                  <div class="item psf">
                    <span>PSF</span>
                    <div class="value">$0</div>
                  </div>
                  <div class="item sqft">
                    <span>SQFT</span>
                    <div class="value">1,130</div>
                  </div>
                  <div class="item bathrooms">
                    <span>Bathrooms</span>
                    <div class="value">2</div>
                  </div>
                  <div class="item bedrooms">
                    <span>Bedrooms</span>
                    <div class="value">3</div>
                  </div>
                </div>
                <div class="agent">
                  <div class="agent-left">
                    <ion-item>
                      <ion-avatar slot="start">
                        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                      </ion-avatar>
                      <ion-label>
                        <h2>Hendry Zheng</h2>
                        <p>Agents <span class="color-blue">PCA Member</span></p>
                      </ion-label>
                    </ion-item>
                  </div>
                  <div routerLink="" class="button">
                    <ion-button size="small">Contact Agent</ion-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="for-rent" [hidden]="notifState !== 'for-rent'" class="content customer">
            <div class="product-details">
              <div class="product-image-slider">
                <ion-slides>
                  <ion-slide>
                    <div class="inner-slide">
                      <img src="../../assets/images/slider-example.png" />
                    </div>
                  </ion-slide>
                  <ion-slide>
                    <div class="inner-slide">
                      <img src="../../assets/images/slider-example.png" />
                    </div>
                  </ion-slide>
                </ion-slides>
              </div>
              <div class="label">
                <ion-label>Condo for Rent</ion-label>
              </div>
              <div class="description">
                <div class="title-price">
                  <h2>Piermont Grand</h2>
                  <div class="price">$799.19</div>
                </div>
                <div class="location">
                  <ion-icon name="md-pin"></ion-icon>
                  <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
                </div>
                <div class="details-number">
                  <div class="item psf">
                    <span>PSF</span>
                    <div class="value">$0</div>
                  </div>
                  <div class="item sqft">
                    <span>SQFT</span>
                    <div class="value">1,130</div>
                  </div>
                  <div class="item bathrooms">
                    <span>Bathrooms</span>
                    <div class="value">2</div>
                  </div>
                  <div class="item bedrooms">
                    <span>Bedrooms</span>
                    <div class="value">3</div>
                  </div>
                </div>
                <div class="agent">
                  <div class="agent-left">
                    <ion-item>
                      <ion-avatar slot="start">
                        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                      </ion-avatar>
                      <ion-label>
                        <h2>Hendry Zheng</h2>
                        <p>Agents <span class="color-blue">PCA Member</span></p>
                      </ion-label>
                    </ion-item>
                  </div>
                  <div routerLink="" class="button">
                    <ion-button size="small">Contact Agent</ion-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
