.section-tabs-content .menu-tab {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 2px solid var(--ion-color-border);
}

.section-tabs-content .menu-tab ion-segment ion-segment-button {
  color: var(--ion-color-light-text);
  --border-color: transparent;
  --background-activated: var(--ion-color-primary-contrast);
  --background-checked: var(--ion-color-primary-contrast);
  --color-checked: var(--ion-color-primary);
  border-bottom: 2px solid transparent;
  border-width: 0;
  min-height: 0;
  height: 50px;
  line-height: 50px;
  font-weight: 600;
}

.section-tabs-content .menu-tab ion-segment ion-segment-button.segment-button-checked {
  color: var(--ion-color-primary);
  border-bottom: 2px solid var(--ion-color-primary);
  font-weight: 700;
}

.section-tabs-content .menu-tab ion-segment ion-segment-button:first-child, .section-tabs-content .menu-tab ion-segment ion-segment-button:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.section-tabs-content .product-image-slider .inner-slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 56.25%;
  background: var(--ion-color-border-shade-light);
}

.section-tabs-content .product-image-slider .inner-slide img {
  position: absolute;
  width: auto;
  max-width: none;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.section-tabs-content .label {
  margin-top: 15px;
}

.section-tabs-content .label ion-label {
  display: inline-block;
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 13px;
  font-weight: 700;
}

.section-tabs-content .description .title-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
}

.section-tabs-content .description .title-price h2 {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
}

.section-tabs-content .description .title-price .price {
  font-size: 17px;
  font-weight: 600;
  color: var(--ion-color-primary);
}

.section-tabs-content .description .location {
  display: flex;
  align-items: flex-start;
}

.section-tabs-content .description .location ion-icon {
  margin-left: -7px;
  width: 35px;
  color: var(--ion-color-primary);
}

.section-tabs-content .description .location span {
  color: var(--ion-color-medium);
  font-size: 12px;
}

.section-tabs-content .description .details-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--ion-color-border-grey);
}

.section-tabs-content .description .details-number .item {
  border-right: 1px solid var(--ion-color-border-grey);
  padding: 0 10px;
}

.section-tabs-content .description .details-number .item:nth-of-type(1) {
  text-align: left;
  width: 20%;
}

.section-tabs-content .description .details-number .item:nth-of-type(2) {
  text-align: left;
  width: 26%;
}

.section-tabs-content .description .details-number .item:nth-of-type(3), .section-tabs-content .description .details-number .item:nth-of-type(4) {
  text-align: center;
  width: 27%;
}

.section-tabs-content .description .details-number .item:last-child {
  border-right: 0 transparent;
}

.section-tabs-content .description .details-number .item > span {
  color: var(--ion-color-medium);
  font-size: 11px;
}

.section-tabs-content .description .details-number .item .value {
  font-size: 15px;
  font-weight: 600;
}

.section-tabs-content .agent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-tabs-content .agent ion-item ion-avatar {
  margin-right: 5px;
}

.section-tabs-content .agent ion-item ion-label {
  margin: 0;
}

.section-tabs-content .agent ion-item ion-label h2 {
  font-weight: 600;
  font-size: 14px;
}

.section-tabs-content .agent ion-item ion-label p {
  font-size: 11px;
}
