.product-image-slider .inner-slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 56.25%;
  background: var(--ion-color-border-shade-light);
}

.product-image-slider .inner-slide img {
  position: absolute;
  width: auto;
  max-width: none;
  height: auto;
  max-height: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.label {
  margin-top: 15px;
}

.label ion-label {
  display: inline-block;
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 13px;
  font-weight: 700;
}

.description .title-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 10px;
}

.description .title-price h2 {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
}

.description .title-price .price {
  font-size: 17px;
  font-weight: 600;
  color: var(--ion-color-primary);
}

.description .location {
  display: flex;
  align-items: flex-start;
}

.description .location ion-icon {
  margin-left: -7px;
  width: 35px;
  color: var(--ion-color-primary);
}

.description .location span {
  color: var(--ion-color-medium);
  font-size: 12px;
}

.description .details-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--ion-color-border-grey);
}

.description .details-number .item {
  border-right: 1px solid var(--ion-color-border-grey);
  padding: 0 10px;
}

.description .details-number .item:nth-of-type(1) {
  text-align: left;
  width: 20%;
}

.description .details-number .item:nth-of-type(2) {
  text-align: left;
  width: 26%;
}

.description .details-number .item:nth-of-type(3), .description .details-number .item:nth-of-type(4) {
  text-align: center;
  width: 27%;
}

.description .details-number .item:last-child {
  border-right: 0 transparent;
}

.description .details-number .item > span {
  color: var(--ion-color-medium);
  font-size: 11px;
}

.description .details-number .item .value {
  font-size: 15px;
  font-weight: 600;
}

.agent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.agent ion-item ion-avatar {
  margin-right: 5px;
}

.agent ion-item ion-label {
  margin: 0;
}

.agent ion-item ion-label h2 {
  font-weight: 600;
  font-size: 14px;
}

.agent ion-item ion-label p {
  font-size: 11px;
}
