<ion-header no-border>
  <ion-toolbar>
    <ion-title>{{getPropertyListingDetail().project_name}}</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="section section-listing ion-padding">
    <div class="product-details">
      <div class="product-image-slider">
        <ion-slides pager="true">
          <ion-slide *ngFor="let item of getPropertyListingDetail().photos">
            <div class="inner-slide">
              <img src="{{item.url}}" />
            </div>
          </ion-slide>
          <ion-slide *ngIf="getPropertyListingDetail().photos.length == 0">
            <div class="inner-slide">
              <img src="{{getPropertyListingDetail().photo_url}}" />
            </div>
          </ion-slide>
        </ion-slides>
      </div>
      <div class="label">
        <ion-label>{{getPropertyListingDetail().main_category.toUpperCase()}} FOR {{getPropertyListingDetail().listing_type.toUpperCase()}}</ion-label>
      </div>
      <div class="description">
        <div class="title-price">
          <h2>{{getPropertyListingDetail().project_name}}</h2>
          <p>{{getPropertyListingDetail().highlights}}</p>
          <div *ngIf="getPropertyListingDetail().attributes.price_formatted > 0" class="price">{{getPropertyListingDetail().attributes.price_formatted | currency:'SGD'}}</div>
        </div>
        <div (click)="showMap()" class="location">
          <ion-icon name="md-pin"></ion-icon>
          <span>{{getPropertyListingDetail().address_line_1}} {{getPropertyListingDetail().address_line_2}}</span>
        </div>
        <div class="details-number">
          <div class="item psf">
            <span>PSF</span>
            <div class="value">{{getPropertyListingDetail().attributes.area_ppsf_formatted}}</div>
          </div>
          <div class="item sqft">
            <span>SQFT</span>
            <div class="value">{{getPropertyListingDetail().attributes.area_size_formatted}}</div>
          </div>
          <div class="item bathrooms">
            <span>Bathrooms</span>
            <div class="value">{{getPropertyListingDetail().attributes.bathrooms}}</div>
          </div>
          <div class="item bedrooms">
            <span>Bedrooms</span>
            <div class="value">{{getPropertyListingDetail().attributes.bedrooms}}</div>
          </div>
        </div>
        <div class="agent">
          <div *ngIf="selfAgent && getPropertyListingDetail().user !== undefined" class="agent-left">
            <ion-item>
              <ion-avatar *ngIf="getPropertyListingDetail().user.photo_url !== undefined" slot="start">
                <img src="{{getPropertyListingDetail().user.photo_url}}">
              </ion-avatar>
              <ion-label>
                <h2>{{getPropertyListingDetail().user.name}}</h2>
                <p>Agents <span class="color-blue">{{getPropertyListingDetail().user.agent_number}}</span></p>
              </ion-label>
            </ion-item>
          </div>
          <div *ngIf="!showContact" class="button">
            <ion-button target="_new" (click)="contact()" size="small">Contact Agent</ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showContact" class="ion-padding">
    <ion-button expand="block" color="primary" (click)="openMail()"><ion-icon name="mail"></ion-icon> Email Agent </ion-button>
    <ion-button expand="block" color="secondary" (click)="openCall()"><ion-icon name="call"></ion-icon> Call Agent </ion-button>
    <ion-button expand="block" color="success" (click)="openWhatsapp()"><ion-icon name="logo-whatsapp"></ion-icon> Whatsapp Agent </ion-button>
  </div>
  
  <!-- <div class="section section-listing ion-padding">
    <div class="product-details">
      <div class="product-image-slider">
        <ion-slides pager="true">
          <ion-slide>
            <div class="inner-slide">
              <img src="../../assets/images/slider-example.png" />
            </div>
          </ion-slide>
          <ion-slide>
            <div class="inner-slide">
              <img src="../../assets/images/slider-example.png" />
            </div>
          </ion-slide>
        </ion-slides>
      </div>
      <div class="label">
        <ion-label>Condo for Sale</ion-label>
      </div>
      <div class="description">
        <div class="title-price">
          <h2>Piermont Grand</h2>
          <div class="price">$799.19</div>
        </div>
        <div class="location">
          <ion-icon name="md-pin"></ion-icon>
          <span>Marriot Hotel, 99 Irrawaddy Road, Novena Singapore, Singapore 329568</span>
        </div>
        <div class="details-number">
          <div class="item psf">
            <span>PSF</span>
            <div class="value">$0</div>
          </div>
          <div class="item sqft">
            <span>SQFT</span>
            <div class="value">1,130</div>
          </div>
          <div class="item bathrooms">
            <span>Bathrooms</span>
            <div class="value">2</div>
          </div>
          <div class="item bedrooms">
            <span>Bedrooms</span>
            <div class="value">3</div>
          </div>
        </div>
        <div class="agent">
          <div class="agent-left">
            <ion-item>
              <ion-avatar slot="start">
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
              </ion-avatar>
              <ion-label>
                <h2>Hendry Zheng</h2>
                <p>Agents <span class="color-blue">PCA Member</span></p>
              </ion-label>
            </ion-item>
          </div>
          <div routerLink="" class="button">
            <ion-button size="small">Contact Agent</ion-button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <ion-fab #fab style="position:fixed;background:none;" vertical="bottom" horizontal="start">
    <ion-fab-button><ion-icon name="more"></ion-icon></ion-fab-button>
  
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="openMail()">Email me now <ion-icon name="mail"></ion-icon></ion-fab-button>
      <ion-fab-button color="primary" (click)="openCall()">Call me now <ion-icon name="call"></ion-icon></ion-fab-button>
      <ion-fab-button color="primary" (click)="openWhatsapp()">Whatsapp me now <ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
    </ion-fab-list>
  
  </ion-fab> -->
</ion-content>
