.product-image-slider {
    .inner-slide {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-bottom: 56.25%;
        background: var(--ion-color-border-shade-light);
        img {
            position: absolute;
            width: 100%;
            max-width: 100%;
            height: auto;
            max-height: none;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
button.button-native{
    background:#dba514;
}
ion-fab-list{
    ion-fab-button{
        
        ion-icon{
            font-size: 25px;
            margin-top: 5px;
            color:#fff !important;
        }
    }
}
.label {
    margin-top: 15px;
    ion-label {
        display: inline-block;
        background-color: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
        border-radius: 4px;
        padding: 5px 15px;
        font-size: 13px;
        font-weight: 700;
    }
}
.description {
    .title-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 10px;
        h2 {
            font-size: 17px;
            font-weight: 600;
            margin: 0;
        }
        .price {
            font-size: 17px;
            font-weight: 600;
            color: var(--ion-color-primary);
        }
    }
    .location {
        display: flex;
        align-items: flex-start;
        ion-icon {
            margin-left: -7px;
            width: 35px;
            color: var(--ion-color-primary);
        }
        span {
            color: var(--ion-color-medium);
            font-size: 12px;
        }
    }
    .details-number {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 15px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--ion-color-border-grey);
        .item {
            border-right: 1px solid var(--ion-color-border-grey);
            padding: 0 10px;
            &:nth-of-type(1) {
                text-align: left;
                width: 20%;
            }
            &:nth-of-type(2) {
                text-align: left;
                width: 26%;
            }
            &:nth-of-type(3),
            &:nth-of-type(4) {
                text-align: center;
                width: 27%;
            }
            &:last-child {
                border-right: 0 transparent;
            }
            > span {
                color: var(--ion-color-medium);
                font-size: 11px;
            }
            .value {
                font-size: 15px;
                font-weight: 600;
            }
        }
    }
}

.agent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ion-item {
        ion-avatar {
            margin-right: 5px;
        }
        ion-label {
            margin: 0;
            h2 {
                font-weight: 600;
                font-size: 14px;
            }
            p {
                font-size: 11px;
            }
        }
    }
}