<ion-header no-border>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="none" routerLink='/tabs/tabs/home'>
        <ion-icon slot="end" name="ios-close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="menus">
    <ion-row>
      <ion-col (click)="view(item)" *ngFor="let item of menuList" size="4">
        <div class="inner">
          <div class="icon-img">
            <img src="{{item.icon_path}}" alt="">
          </div>
          <div class="menu-title">
            <span>{{item.menu_name}}</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
  