ion-input, .signature-area {
  border-radius: 3px;
  --padding-top: 12px !important;
  --padding-bottom: 12px !important;
  --padding-start: 15px !important;
  --padding-end: 15px;
  border: 1px solid var(--ion-color-border-grey);
  font-size: 14px;
}

.signature-area {
  height: 150px;
  width: 100%;
}

.outer-form {
  padding-top: 5px;
}

.outer-form ion-item {
  margin-bottom: 10px;
}

.outer-form ion-item ion-label {
  font-weight: 600;
  font-size: 15px;
}

ion-content .content-scroll h5 {
  font-size: 15px;
  font-weight: 700;
}

ion-content p {
  color: var(--ion-color-medium-shade);
  line-height: 1.5;
}

ion-content .button-wrapper {
  display: flex;
  margin: 25px -5px;
}

ion-content .button-wrapper ion-button {
  width: calc(50% - 10px);
  font-weight: 700;
  margin: 0 5px;
}
