<ion-header no-border>
  <ion-toolbar>
    <ion-title>Property Marketing Consent</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="content-scroll">
      <p>(Note: This is a sample DUA for datasets that have de-identified human subject data)</p>

      <p>This is an agreement (“Agreement”) between you the downloader (“Downloader”) and the owner of the materials (“User”) governing the use of the materials (“Materials”) to be downloaded.</p>

      <h5>I. Acceptance of this Agreement</h5>

      <p>By downloading or otherwise accessing the Materials, Downloader represents his/her acceptance of the terms of this Agreement.</p>

      <h5>II. Modification of this Agreement</h5>

      <p>Users may modify the terms of this Agreement at any time. However, any modifications to this Agreement will only be effective for downloads subsequent to such modification. No modifications will supersede any previous terms that were in effect at the time of the Downloader’s download.</p>

      <h5>III. Use of the Materials</h5>

      <p>Use of the Materials include but are not limited to viewing parts or the whole of the content included in the Materials; comparing data or content from the Materials with data or content in other Materials; verifying research results with the content included in the Materials; and extracting and/or appropriating any part of the content included in the Materials for use in other projects, publications, research, or other related work products.</p>

      <h5>Representations</h5>
      <p>In Use of the Materials, Downloader represents that:</p>

      <p>Downloader is not bound by any pre-existing legal obligations or other applicable laws that prevent Downloader from downloading or using the Materials;</p>
      <p>Downloader will not use the Materials in any way prohibited by applicable laws;</p>
      <p>Downloader has no knowledge of and will therefore not be responsible for any restrictions regarding the use of Materials beyond what is described in this Agreement; and</p>
      <p>Downloader has no knowledge of and will therefore not be responsible for any inaccuracies and any other such problems with regards to the content of the Materials and the accompanying citation information.</p>
      <p>B. Restrictions In his/her Use of the Materials, Downloaders cannot:</p>

      <p>obtain information from the Materials that results in Downloader or any third party(ies) directly or indirectly identifying any research subjects with the aid of other information acquired elsewhere;</p>
      <p>>produce connections or links among the information included in User’s datasets (including information in the Materials), or between the information included in User’s datasets (including information in the Materials) and other third-party information that could be used to identify any individuals or organizations, not limited to research subjects; and</p>
      <p>extract information from the Materials that could aid Downloader in gaining knowledge about or obtaining any means of contacting any subjects already known to Downloader.</p>
      <h5>IV. Representations and Warranties</h5>

      <p>USER REPRESENTS THAT USER HAS ALL RIGHTS REQUIRED TO MAKE AVAILABLE AND DISTRIBUTE THE MATERIALS. EXCEPT FOR SUCH REPRESENTATION, THE MATERIALS IS PROVIDED “AS IS” AND “AS AVAILABLE” AND WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY DISCLAIMED.</p>

      <p>WITHOUT LIMITING THE FOREGOING, USER DOES NOT WARRANT THAT: (A) THE MATERIALS ARE ACCURATE, COMPLETE, RELIABLE OR CORRECT; (B) THE MATERIALS FILES WILL BE SECURE ; (C) THE MATERIALS WILL BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (D) ANY DEFECTS OR ERRORS WILL BE CORRECTED; (E) THE MATERIALS AND ACCOMPANYING FILES ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; OR (F) THE RESULTS OF USING THE MATERIALS WILL MEET DOWNLOADER’S REQUIREMENTS. DOWNLOADER’S USE OF THE MATERIALS IS SOLELY AT DOWNLOADER’S OWN RISK.</p>

      <h5>V. Limitation of Liability</h5>

      <p>IN NO EVENT SHALL USER BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR ANY OTHER LEGAL THEORY WITH RESPECT TO THE MATERIALS (I) FOR ANY DIRECT DAMAGES, OR (II) FOR ANY LOST PROFITS OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER.</p>

      <h5>VI. Indemnification</h5>

      <p>Downloader will indemnify and hold User harmless from and against any and all loss, cost, expense, liability, or damage, including, without limitation, all reasonable attorneys’ fees and court costs, arising from the i) Downloader’s misuse of the Materials; (ii) Downloader’s violation of the terms of this Agreement; or (iii) infringement by Downloader or any third party of any intellectual property or other right of any person or entity contained in the Materials. Such losses, costs, expenses, damages, or liabilities shall include, without limitation, all actual, general, special, and consequential damages.</p>

      <h5>VII. Dispute Resolution</h5>

      <p>Downloader and User agree that any cause of action arising out of or related to the download or use of the Materials must commence within one (1) year after the cause of action arose; otherwise, such cause of action is permanently barred.</p>

      <p>This Agreement shall be governed by and interpreted in accordance </p>
    </div>
    <div class="outer-form">
      <ion-item class="email">
        <ion-label position="stacked">
          <span>Customer Email</span>
        </ion-label>
        <ion-input type="email" name="email" [(ngModel)]="email" placeholder=""></ion-input>
      </ion-item>
      <ion-item class="email">
          <ion-label position="stacked">
            <span>PCA Member Email</span>
          </ion-label>
          <ion-input type="email" name="agent_email" [(ngModel)]="agent_email" placeholder=""></ion-input>
        </ion-item>
      <ion-item class="email">
        <ion-label position="stacked">
          <p><i>Your signature here</i></p>
          <div class="signature-area">
              <signature-pad [options]="signaturePadOptions"  id="signatureCanvas"></signature-pad>
            </div>
          <ion-row>
            <ion-col col-4>
                <ion-button type="button" expand="full" (click)="drawClear()" color="danger">Clear</ion-button>
            </ion-col>
          </ion-row>
        </ion-label>
        <!-- <div class="signature-area"></div> -->
      </ion-item>
      <div class="button-wrapper">
        <ion-button (click)="cancel()" color="light">Cancel</ion-button>
        <ion-button (click)="submit()" color="primary">I Agree</ion-button>
      </div>
    </div>
    
  </div>
</ion-content>