ion-content {
    h2 {
        font-size: 18px;
        text-align: center;
        font-weight: 700;
    }
    p {
        color: var(--ion-color-medium-shade);
        line-height: 1.5;
    }
    .button-wrapper {
        display: flex;
        margin: 25px -5px;
        ion-button {
            width: calc(50% - 10px);
            font-weight: 700;
            margin: 0 5px;
        }
    }
    .check {
        padding: 10px 0;
        display: flex;
        align-items: flex-start;
        ion-checkbox {
            --border-radius: 3px;
            height: 20px;
            width: 20px;
        }
        span {
            padding-left: 10px;
            flex-basis: 92%;
            a {
                font-weight: bold;
            }
        }
    }
}