ion-content h2 {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
}

ion-content p {
  color: var(--ion-color-medium-shade);
  line-height: 1.5;
}

ion-content .button-wrapper {
  display: flex;
  margin: 25px -5px;
}

ion-content .button-wrapper ion-button {
  width: calc(50% - 10px);
  font-weight: 700;
  margin: 0 5px;
}

ion-content .check {
  padding: 10px 0;
  display: flex;
  align-items: flex-start;
}

ion-content .check ion-checkbox {
  --border-radius: 3px;
  height: 20px;
  width: 20px;
}

ion-content .check span {
  padding-left: 10px;
  flex-basis: 92%;
}

ion-content .check span a {
  font-weight: bold;
}
