<ion-header no-border>
  <ion-toolbar>
    <ion-title>PDPA Agreements</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()" routerDirection="backward" text="" icon="ios-arrow-back"><ion-icon name="ios-arrow-back"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h2>Personal Data Protection Act Agreements</h2>
    <p>
      ou acknowledge and agree (by executing this Agreement) to the collection, use, processing and transfer of certain
      personal data as described in this Section 16. You understand that you are not obliged to consent to such
      collection, use, processing and transfer of personal data. However, you understand your failure to provide such
      consent may affect your ability to participate in the Plan. You understand that the Company may hold certain
      personal information about you, including your name, social security number (or other tax identification number)
      salary, nationality, job title, position evaluation rating along with details of all past awards and current
      awards outstanding under the Plan,
    </p>
    <p>
      for the purpose of managing and administering the Plan (the “Data”). The Company, or its Affiliates, will transfer
      Data amongst themselves as necessary for the purpose of implementation, administration and management of the Plan.
      The Company and/or any of its Affiliates may further transfer Data to any third parties assisting the Company in
      the implementation, administration and management of the Plan. These various recipients of Data may be located
      elsewhere throughout the world. You authorize these various recipients of Data to receive, possess, use, retain
      and transfer the Data, in electronic or other form, for the purposes of implementing, administering and managing
      the Plan, including any required transfer of such Data as may be required for the subsequent holding of Shares
      subject to the Unit on your behalf by a broker or other third party with whom you may elect to deposit any Shares
      subject to the Unit acquired pursuant to the Plan. You understand that you may, at any time, review Data with
      respect to you and require any necessary amendments to such Data. You also understand that you may withdraw the
      consents to use Data herein by notifying the Company in writing; however, you understand that by withdrawing your
      consent to use Data, you may affect your ability to participate in the Plan.
    </p>
    <div class="check">
      <ion-checkbox></ion-checkbox> <span>By checking this, You have agreed to the <a href="#">Personal Data Protection
          Act</a></span>
    </div>
    <div class="button-wrapper">
      <ion-button color="light">Decline</ion-button>
      <ion-button color="primary">I Agree</ion-button>
    </div>
  </div>
</ion-content>